@import "../../../../../assets/styles/_variables.scss";
@import "../../../../../assets/styles/_mixin.scss";

.informationSectionContainer {
    @include displayFlex;
    @include iris_container;
    min-height: 350px;

    @media (max-width: 768px) {
        min-height: 400px;
        margin-left: 0;
        padding: 18px 26px;
    }

    h1 {
        margin-top: 1rem;

        @media (max-width: 768px) {
            font-size: 20px;
        }
    }

    p {
        margin: 0.5rem 0 1.5rem 0;
    }

    .imageContainer {
        text-align: center;
        margin: 3rem 0;

        @media (max-width: 768px) {
            margin: 0;
            min-width: calc(100% - 40px);
        }
    }
}

.gridContainer {
    @media (max-width: 768px) {
        overflow: auto;
        flex-wrap: nowrap;
    }
}

.gridContainer::-webkit-scrollbar-track {
    display: none;
}

.gridContainer::-webkit-scrollbar {
    display: none;
}

.gridContainer::-webkit-scrollbar-thumb {
    display: none;
}

.appointmentBtn {
    @include quaternary_button;
    background-color: white;
    min-width: 45%;
    margin: 1rem auto 3rem auto;

    span {
        z-index: 2;
    }
}

.appointmentBtn::before {
    z-index: 1 !important
}