@use "../../../../../assets/styles/variables" as vars;
@use "../../../../../assets/styles/mixin" as mi;

.top-content {
  @include mi.article-container;

  &__subtitle {
    margin-top: 2rem;
    color: vars.$secondary-color;
  }

  &__undertext {
    margin-top: -0.9rem;
    text-align: center;
  }

  &__pick-title {
    margin-top: 1rem;
  }

  &__see-more-frames {
    margin: 1rem auto 0;
  }

  &__how-it-works-list {
    margin-top: 2rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 15rem), 1fr));
    gap: 3rem;
  }

  &__shop-now {
    margin-inline: auto;
  }
}

.faq {
  @include mi.article-container;
  margin-top: 4rem;

  &__title {
    color: vars.$secondary-color;
  }

  &__qas {
    margin-top: 1.5rem;
  }

  &__disclaimers {
    max-width: 700px;
    margin: 0 auto 2rem;

    display: grid;
    gap: 0.5rem;
  }

  &__disclaimer {
    font-size: 12px;

    &:first-of-type {
      margin-top: 3rem;
    }
  }
}
