@import "../../../../../../assets/styles/_variables.scss";
@import "../../../../../../assets/styles/_mixin.scss";

.formStepContainer {
  width: 100%;
  @include flex(flex-start, flex-start, column);
}

.formContainer {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid $secondary-font-color;
  background: linear-gradient(180deg, $bg-header, $white 100%, $white 0);
  box-shadow: 0 2px 11px 4px $shadow-color;
  @media (max-width: $small) {
    padding: 2rem;
  }
}

.formInput {
  width: 95%; // adding 95 as it cuts text when pdf is generated when 100% is used
  @include flex(flex-start, flex-start, column);
  margin-top: 16px;

  label {
    @include fontFSWH($primary-font, 14px, 500, 18px);
    margin-bottom: 6px;
  }

  ul {
    padding-left: 40px;

    li {
      margin-bottom: 8px;
      font-size: 16px;
      font-weight: 300;
    }
  }


  .gridCols4 {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;

    @media (max-width: $small) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .gridCols3 {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    @media (max-width: $small) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  // Todo add back if any ui issue
  // & > p {
  //   margin-top: 5px;
  // }
}

.formStepHeader {
  width: 100%;
  color: $primary-font-color;
  margin-top: 5px;
  text-align: center;
  @include fontFSWH($primary-font, 16px, 500, 20px);
}

.formFooter {
  margin-top: 16px;
  @include flex(center, space-between, row);
  width: 100%;
  .nextBtn {
    @include primary_button;
    cursor: pointer;
    padding : 5px 10px !important;
    width: 150px;
    text-transform: none;
    justify-content: center;
  }

  .prevBtn, .locationBtn {
    @include tertiary_button;
    cursor: pointer;
    padding : 5px 10px !important;
    width: 150px;
    text-transform: none;
    justify-content: center;
  }
}

.formInputsParent {
  @include flex(center, space-around, row);

  @media screen and (max-width: $small) {
    @include flex(stretch, center, column);
  }
  width: 100%;
  & > div {
    flex: 1;
    align-self: flex-start;
    width: 100%;
  }

  .formLeft {
    margin-right: 12px;

    @media screen and (max-width: $small) {
      margin-right: 0;
    }
  }
}

.formTitle {
  @include fontFSWH($primary-font, 24px, 700, 30px);
  color: $secondary-dark-color;
}

.boldLabel {
  font-weight: 700;
}

.modalInner {
  width: 100%;
  p {
    @include fontFSWH($primary-font, 18px, 400, 20px);
    margin-top: 10px;
    text-align: center;
  }

  .buttons {
    @include flex(center, space-between, row);
    width: 100%;
    margin-top: 24px;
  }

  button {
    cursor: pointer;
  }

  .nextBtn {
    @include primary_button;
  }

  .backBtn {
    @include tertiary_button;
  }
}

.radioButtonLabel {
  @include fontFSWH($primary-font, 16px, 300, 18px);
}

.radioButton {
  svg {
    height: 15px;
    width: 15px;
  }
}

.fullWidth {
  width: 100%;
}

.halfWidth {
  width: 50%;
}

.dateInputRoot {
  border-radius: 0 !important;
  border: 1px solid $secondary-font-color;
  background-color: $white;
  height: 45px;
  font-family: $primary-font;
  @include fontFSWH($primary-font, 16px, 400, 20px);

  @media (max-width: $extra-large) {
    @include fontFSWH($primary-font, 13px, 400, 17px);
    height: 36px;
  }

  & > input::placeholder {
    color: $secondary-font-color;
  }

  color: $black;

  & > fieldset {
    border-color: transparent !important;
  }

  & > div {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
  }
}

.selectInput {
  border-radius: 0;
  border: 1px solid $secondary-font-color;
  background-color: $white;
  padding: 10px 15px;
  height: 36px;
  width: 50%;

  @media screen and (max-width: $small) {
    width: 100%;
  }

  font-family: $primary-font;
  @include fontFSWH($primary-font, 16px, 400, 20px);

  @media (max-width: $extra-large) {
    @include fontFSWH($primary-font, 13px, 400, 17px);
  }

  & > input::placeholder {
    color: $primary-light-color;
  }

  color: $primary-font-color;

  & > fieldset {
    border-color: transparent !important;
  }

  & > div {
    padding: 0px 0px;
    padding-top: 2px;
  }

  & > div:focus {
    background-color: transparent;
  }
}

.selectOption {
  @include fontFSWH($primary-font, 16px, 400, 19px);
  margin: 3px 0;
  color: $primary-font-color;

  @media (max-width: $extra-large) {
    @include fontFSWH($primary-font, 13px, 400, 16px);
  }
}

.selectDisabled {
  background-color: $primary-light-color;
  border-radius: 0;
}

.inputRoot {
  & fieldset {
    border: 1px solid $secondary-font-color;
    border-radius: 0;
  }
  border-radius: 0;
  background-color: $white;
  font-family: $primary-font;
  & > input::placeholder {
    color: $primary-light-color;
    @include fontFSWH($primary-font, 14px, 400, 17px);
  }
  color: $primary-font-color;
  & > div {
    height: 45px;

    @media (max-width: $extra-large) {
      @include fontFSWH($primary-font, 13px, 400, 16px);
      height: 36px;
    }
  }
}

.centerAligned {
  margin: 0 auto;
}

.radioGroup {
  @media screen and (max-width: $small) {
    margin: 0 auto;
  }
}

.hippaContainer {
  overflow: auto;
  padding: 16px 18px;
  background-color: $white;
  border : 1px solid $secondary-font-color;
}

.hipaaTitle {
  @include fontFSWH($primary-font, 20px, 700, 30px);
  margin: 16px 0;
  color: $secondary-dark-color;
}

.hipaaFooter {
  width: 100%;
  text-align: right;
  @include fontFSWH($primary-font, 14px, 500, 18px);
  margin-top: 16px;
  @media (max-width: $extra-large) {
    @include fontFSWH($primary-font, 12px, 500, 15px);
  }
}

.hippaHTMLError {
  border: 1px solid $red;
}

.hipaaHTMLFooter {
  margin-top: 16px;
}

.disabledBtn {
  cursor: not-allowed !important;
}

.canvasContainer {
  margin-top: 16px;
  @include flex(center, center, row);

  & canvas {
    background-color: $white;
    border : 1px solid $secondary-font-color;
  }

  & button {
    align-self: flex-end;
  }
}

.canvasError {
  & canvas {
    border: 1px solid $red;
  }
}

.locationTooltip {
  padding-top: 8px;
  padding-left: 14px;

  & > li {
    margin-bottom: 8px;
  }
}
