@use "../../../../../../assets/styles/variables" as vars;
@use "../../../../../../assets/styles/mixin" as mi;

// === Shared Styles

.messages {
  margin-top: 2rem;
  
  &__title {
    font-size: 1.4rem;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  &__subtitle {
    margin-top: 0.5rem;

    text-align: center;
    color: vars.$primary-font-color;
    font-size: 1rem;
  }
}

// === Booking Confirmation Component Styles

.booking {
  &__picture {
    width: fit-content;
    margin-inline: auto;
  }

  :is(&__title, &__subtitle) {
    color: vars.$primary-font-color;
    text-align: center;
  }

  &__title {
    margin-top: 1rem;

    font-size: 1.1rem;
  }

  &__subtitle {
    max-width: 20ch;
    margin: 0.5rem auto 0;

    font-size: 1rem;
  }

  &__email {
    text-align: center;
    color: vars.$tertiary-font-color;
    font-size: 1rem;
    font-weight: 700;
  }

  &__provided_by {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
    color: vars.$primary-font-color;

    span {
      color: vars.$secondary-color;
    }
  }
}

// === Save Time In Store Component Styles

.save {
  &__text {
    margin-top: 1rem;
    
    text-align: center;
    color: vars.$primary-font-color;
    font-size: 1rem;
  }

  &__cta {
    @include mi.primary_button;
    display: block;
    margin: 1.5rem auto 0;
    padding: 0.8rem 3rem !important;
    border-radius: 100vmax;

    text-transform: capitalize;
    font-size: 1rem !important;
    font-weight: 700 !important;
  }
}
