@use "../../../../../assets/styles/mixin" as mi;
@use "../../../../../assets/styles/variables" as vars;

.container {
  @include mi.article-container;

  h1 {
      text-align: center;
  }

  ul {
    margin-top: 10px;
    margin-left: 50px;
  }

  .insurance {
      h2 {
          text-align: center;    
      }

      .dropdown {
        display: block;
        position: relative;
      
        width: 100%;
        max-width: 250px;
        margin: 0.8rem auto 0;
      
        @include mi.media-query(350px) {
          max-width: 300px;
        }
      
        .dropdown-button {
          display: block;
          position: relative;
          width: 100%;
      
          background-color: vars.$white;
          border-radius: 5px;
          border: 1px solid vars.$tertiary-font-color;
          outline-color: transparent;
          padding-block: 0.5rem;
          transition: all 0.2s ease;
      
          &:is(:hover, :focus) {
            filter: brightness(95%);
          }
      
          &__text {
            display: block;
            width: 100%;
      
            color: vars.$primary-font-color;
            font-size: 1rem;
            text-align: center;
          }
      
          &__icon {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
      
            transition: transform 0.2s ease;
      
            &.open {
              transform: translateY(-50%) rotate(180deg);
            }
          }
        }
      }
  }
}