@import "../../../../../assets/styles/_variables.scss";
@import "../../../../../assets/styles/_mixin.scss";

.referMainBox {
  .background-image {
    img {
      object-fit: cover;
      object-position: 66%;

      @include media-query(992px) {
        object-position: 60%;
      }
    }
  }

  .referContainer,
  .referRight {
    min-height: 550px;

    @include media-query(992px) {
      min-height: 460px;
    }
  }

  & .referContainer {
    display: flex;
    @include iris_container;
  }
}

.referImagebox {
  margin: auto;
  @include marginTBLR(auto, auto, auto, 100px);

  @media screen and (max-width: $large) {
    margin: auto;
  }
}

.referRight {
  width: 100%;
  max-width: unset;
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 1rem;

  text-align: left;
  letter-spacing: 0em;
  z-index: 1;
  padding-block: clamp(1rem, 5vw, 2rem);

  @include media-query(768px) {
    width: unset;
    display: flex;
    gap: 2rem;
    flex-direction: column;
  }

  @include media-query(992px) {
    justify-content: center;
    padding-block: 3rem;
  }

  .heading {
    @include fontFSWH($primary-font, 32px, 400, 36px);
    letter-spacing: 0em;
    text-align: left;

    @include media-query(992px) {
      @include fontFSWH($primary-font, 42px, 400, 46px);
      letter-spacing: 0em;
      text-align: left;
    }
  }

  .headingMain {
    @include fontFSWH($secondary-font, 28px, 600, 28px);
    letter-spacing: 0em;
    text-align: left;
    color: #0d0a05;

    @include media-query(768px) {
      @include fontFSWH($secondary-font, 34px, 600, 38px);
    }
  }

  .subHeading {
    margin-top: 0.7rem;
    line-height: 0.8;

    @include media-query(768px) {
      margin-top: unset;
    }

    &>span {
      &:first-of-type {
        font-size: 2rem !important;
        margin-bottom: 0.7rem;
        line-height: 1.2 !important;
      }

      @include media-query(768px) {
        &:first-of-type {
          margin-bottom: 0;
          font-size: clamp(1.5rem, 1.5rem, 3rem) !important;
        }

        &:last-of-type {
          display: inline-block;
          width: clamp(20ch, 45vw, 40ch);
          line-height: 1.2 !important;
          margin-top: 0.5rem;
        }
      }
    }

    p {
      width: 100%;
      @include fontFSWH($primary-font, 22px, 400, 26px);

      span {
        display: inline-block;
      }

      @media (max-width: 992px) {
        @include fontFSWH($primary-font, 20px, 400, 18px);
      }
    }
  }

  .eyeExamBottom {
    display: flex;
    flex-direction: column;
    width: max-content;
    height: fit-content;
    align-items: center;
    margin-inline: auto;

    @include responsive("small") {
      margin-inline: unset;
    }

    .checkBtn {
      @include primary_button;

      @media (max-width: 992px) {
        text-align: left;
      }
    }

    .disclaimerBtn {
      @include primary_link;
    }
  }

  & .referafriend {
    @include fontFSWH($secondary-font, 34px, 600, 38px);
    color: $primary-font-color;
    text-transform: uppercase;

    @media screen and (max-width: 992px) {
      margin-top: 12px;
      @include fontFSWH($secondary-font, 24px, 600, 28px);
    }
  }

  & .purchasePlus {
    margin-top: 20px;
    margin-bottom: 11px;

    @include responsive($medium) {
      font-size: 20px;
      margin-bottom: 30px;
    }

    @include fontFSWH($primary-font, 20px, 500, 24px);
    color: $secondary-color;

    @include responsive($large) {
      font-size: 20px;
    }

    @media screen and (max-width: 992px) {
      margin-top: 20px;
      @include fontFSWH($primary-font, 12px, 400, 15px);
    }
  }

  & .btnReferafriend {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: $small) {
      width: 100%;
    }

    & .btnRefer {
      margin-top: 50px;
      @include primary_button;
    }

    & div {
      @include fontFSWH($primary-font, 12px, 400, 14px);
      margin-top: 8px;
      margin-bottom: 34px;
      color: $primary-font-color;
    }

    .disclaimerBtn {
      @include primary_link;
    }
  }

  & .astigmatism {
    @include fontFSWH($primary-font, 18px, 400, 22px);
    color: $primary-font-color;
    margin-top: 20px;

    @media (max-width: $small) {
      display: none;
    }
  }

  @media screen and (max-width: $small) {
    text-align: center;
  }
}

.popperContainer {
  z-index: 1 !important;
}