@use "../../../../../../assets/styles/mixin" as mi;
@use "../../../../../../assets/styles/variables" as vars;

.hero {
  background: #fff
    url("https://dam.nowoptics.net/transform/2630a875-6f88-4f4c-8fbc-efb1e7ed075a/SO_SameDay_Banner_Mobile_1179x600")
    60% center;
  background-size: cover;

  line-height: 1.5;
  padding-top: 3rem;

  .wrapper {
    position: relative;
    min-height: 460px;
    padding: 0;
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    color: #54565a;
    font: 600 24px vars.$secondary-font;
  }

  &__subtitle {
    width: 58%;

    font-family: "Quasimoda", "Medium", sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #54565a;

    margin-top: 0.5rem;
  }

  .actions {
    width: fit-content;

    &__link {
      margin-top: 1rem;
    }
  }

  @include mi.responsive("small") {
    &__subtitle {
      margin-top: 1rem;
    }

    .actions__link {
      margin-top: 3rem;
    }
  }

  @include mi.media-query(768px) {
    padding-top: 0;

    background-image: url("https://dam.nowoptics.net/transform/6dc9582b-81e1-4c04-888e-9ffbc5a2963f/SO_SameDay_Banner_1800x400");
    background-position: 40% top;

    .wrapper {
      min-height: 400px;

      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__title {
      font-size: 40px;
    }

    &__subtitle {
      font-size: 20px;
    }
  }

  @include mi.responsive("large") {
    padding-inline: 20px;
  }
}
