@import "../../../../../assets/styles/_variables.scss";
@import "../../../../../assets/styles/_mixin.scss";
.boxContainer {
  max-width: 900px;
  margin: 0 auto;
  margin-top: -120px;
  margin-bottom: 50px;
  @media (max-width: $medium) {
    width: 84%;
    margin-top: 10px;
  }
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2rem auto;
    padding: 3rem 8rem;
    border-radius: 10px;
    background: linear-gradient(180deg, $bg-header, $white 100%, $white 0);
    box-shadow: 0 2px 11px 4px $shadow-color;
    @media (max-width: $small) {
      padding: 2rem;
    }
    .headingContainer {
      text-align: center;
      .primaryHeading {
        color: $secondary-color;
        @include fontFSWH($primary-font, 26px, 500, 34px);
        @media (max-width: $extra-large) {
          @include fontFSWH($primary-font, 24px, 500, 32px);
        }
      }
      .secondaryHeading {
        color: $primary-font-color;
        margin-top: 20px;
        @include fontFSWH($primary-font, 18px, 400, 22px);
        @media (max-width: $extra-large) {
          @include fontFSWH($primary-font, 16px, 400, 20px);
        }
      }
    }
    .btnContainer {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      .visionBtn {
        @include secondary_button;
        margin-right: 20px;
        margin-bottom: 0px;
      }
      .inStoreExamBtn {
        @include primary_button;
        height: min-content;
        padding: 12px;
      }
    }
  }
}
