@import "../../../../../assets/styles/variables";
@import "../../../../../assets/styles/fonts";
@import "../../../../../assets/styles/mixin";

html body {
  .summaryRoot {
    background-color: $white !important;
    margin: 2px;
  }

  .accordionRoot {
    margin-bottom: 12px;
    border: 1px solid $primary-light-color;
    box-shadow: none;
    border-radius: 5px;

    &::before {
      display: none;
    }
  }

  .accordionSummary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 15px;
    margin: 10px 0;

    @media (max-width: $extra-large) {
      padding: 0;
    }

    & > div {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      @include fontFSWH($primary-font, 20px, 400, 24px);

      @media (max-width: $extra-large) {
        @include fontFSWH($primary-font, 16px, 400, 20px);
      }
    }

    & > button {
      margin-right: 16px;
    }

    & input {
      border: none;

      &:focus {
        outline: none;
      }

      @include fontFSWH($primary-font, 16px, 400, 19px);
      color: $primary-font-color;

      @media (max-width: $extra-large) {
        @include fontFSWH($primary-font, 13px, 400, 16px);
      }
    }
  }

  .stepErrorTitle {
    margin-top: 5px;
    @include fontFSWH($primary-font, 16px, 400, 19px);

    @media (max-width: $extra-large) {
      @include fontFSWH($primary-font, 13px, 400, 16px);
    }
  }

  .errorInput {
    border-bottom: 1px solid $red !important;
  }

  .stepInputContainer {
    @include flex(center, flex-start, row);
  }
}
