@import "../../../../assets/styles/_variables.scss";
@import "../../../../assets/styles/_mixin.scss";
.shopImageBG {
  background-color: $primary-light-color;
  height: auto;
  position: relative;
  width: 33.3%;
  @media screen and (max-width: 768px) {
    min-width: 100%;
  }
  & .imageShop {
    align-items: center;
    justify-content: center;
    @include displayFlex;
  }
}
