@import "../../../../../assets/styles/_variables.scss";
@import "../../../../../assets/styles/mixin";

.appointmentListContainer {
  .heading {
    @include fontFSWH($secondary-font, 26px, 400, 30px);
    color: $tertiary-font-color;

    @media (max-width: $extra-large) {
      @include fontFSWH($secondary-font, 22px, 400, 26px);
    }
    @media (max-width: $medium) {
      @include fontFSWH($secondary-font, 20px, 400, 24px);
    }
  }

  .crossBtn {
    cursor: pointer;
  }

  .hr {
    margin: 10px 0 20px;
    opacity: 0.5;
  }

  .buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .continueButton {
      @include primary_button;
      cursor: pointer;
      margin-top: 20px;
    }

    .continueButtonDisabled {
      cursor: not-allowed;
      pointer-events: visible;
    }
  }
}
