@import "../../../../../assets/styles/_variables.scss";
@import "../../../../../assets/styles/_mixin.scss";

.storeSkeletonMainBox {
  padding: 24px 10px;
  display: flex;
  flex-direction: column;

  .title {
    display: flex;
    align-items: center;
  }
}

.storeTimingSkeletonMainBox {
  border: 1px solid $primary-light-color;
  padding: 18px;
  border-radius: 10px;
}
