@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixin";

.form {
  box-sizing: border-box;
  background-color: $white;
  padding: 10px;
  .headingwrapper {
    display: flex;
    justify-content: space-between;
    .headingLabel {
      @include fontFSWH($primary-font, 18px, 400, 24px);
      color: $tertiary-font-color;
      margin-bottom: 5px;
      @media (max-width: $extra-large) {
        @include fontFSWH($primary-font, 16px, 400, 20px);
      }
    }

    .closeIconWrapper {
      text-align: center;
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
  }

  .formFields {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 49% 49%;
    column-gap: 20px;
    @media (max-width: 768px) {
      grid-template-columns: 100%;
      column-gap: 0px;
    }
  }

  .saveButtonWrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    .saveButton {
      @include primary_button;
    }
  }
}

.textInput {
  margin: 0px;

  > div {
    margin-top: 9px;
    margin-bottom: 10px;
    border-radius: 10px;
    height: 45px;

    @media (max-width: $extra-large) {
      margin-bottom: 5px;
      height: 36px;
    }
  }

  input {
    @include fontFSWH($primary-font, 16px, 400, 20px);
    text-align: left;
    height: auto;

    @media (max-width: $extra-large) {
      @include fontFSWH($primary-font, 13px, 400, 17px);
    }
    @media (max-width: $small) {
      @include fontFSWH($primary-font, 16px, 400, 20px);
    }
  }

  label {
    @include fontFSWH($primary-font, 16px, 400, 20px);
    text-align: left;
    height: auto;

    @media (max-width: $extra-large) {
      @include fontFSWH($primary-font, 13px, 400, 17px);
    }
    @media (max-width: $small) {
      @include fontFSWH($primary-font, 16px, 400, 20px);
    }
  }

  fieldset {
    border-radius: 10px;
    border: 1px solid $secondary-font-color;
  }
}

.disabled {
  background-color: $primary-light-color;
}

.selectCity {
  margin: 0px;

  > div {
    height: 45px;
    border-radius: 10px;
    color: $primary-font-color;
    @include fontFSWH($primary-font, 16px, 400, 22px);
    font-style: normal;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 10px;

    @media (max-width: $extra-large) {
      @include fontFSWH($primary-font, 13px, 400, 20px);
      height: 36px;
      margin-top: 9px;
      margin-bottom: 4px;
    }
  }
}
