@import "../../../../assets/styles/mixin";
@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/fonts";

.medicalFormsPage {
  @include iris_container;
}

.medicalFormsContainer {

  &>div:first-child {
    padding: 0;
  }

  @media (max-width: $extra-large) {
    padding: 5px 20px 20px 20px;
  }
}

.pageHeader {
  margin: 24px auto;

  @media (max-width: $extra-large) {
    margin: 15px auto;
  }

  &>p:first-child {
    @include fontFSWH($secondary-font, 28px, 400, 38px);

    @media (max-width: $extra-large) {
      @include fontFSWH($secondary-font, 24px, 400, 32px);
    }

    margin-bottom: 15px;
  }

  &>a {
    @include fontFSWH($primary-font, 18px, 400, 22px);
    border-bottom: 1px solid $primary-font-color;
    text-decoration: none;
    color: $primary-font-color;

    @media (max-width: $extra-large) {
      @include fontFSWH($primary-font, 15px, 400, 18px);
    }
  }
}

.formActionTableCell {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  &>div>button>img {
    height: 20px;
    width: 20px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  margin-top: 16px;
  &>span {
    @include fontFSWH($secondary-font, 28px, 400, 38px);

    @media (max-width: $extra-large) {
      @include fontFSWH($secondary-font, 24px, 400, 32px);
    }

  }

  & button {
    @include primary_button;
    cursor: pointer;
  }
}

.viewHippaBtn {
  margin-right: 24px;
  cursor: pointer;
  @include fontFSWH($primary-font, 16px, 400, 20px);
  color: $black;
  text-decoration: underline;

  @media (max-width: $extra-large) {
    @include fontFSWH($primary-font, 13px, 400, 16px);
  }


  &:hover {
    color: $primary-color;
  }
}

.publishModalTitle {
  padding: 0 10px;
  font-style: normal;
  text-align: center;
  color: $black;
}

.codeInput {
  width: 80%;
  margin: 0 auto;

  &>div {
    width: 100%;
  }
}

.formCopyError {
  margin-top: 5px;
}

.emptyTableMessage {
  display: flex;
  @include fontFSWH($primary-font, 16px, 400, 20px);
  margin-top: 10px;

  @media (max-width: $extra-large) {
    @include fontFSWH($primary-font, 13px, 400, 16px);
  }
}