@import "../../../../../assets/styles/variables";
@import "../../../../../assets/styles/fonts";
@import "../../../../../assets/styles/mixin";

.modalTitle {
  position: relative;
  margin-bottom: 16px !important;
}

.modalActions {
  display: flex;
  align-items: center;
  padding: 16px;

  justify-content: space-between;
  & > button {
    border-radius: 14px;
    background-color: $secondary-font-color;
    border: none;
    padding: 10px 32px;
    text-transform: uppercase;
    cursor: pointer;
    @include fontFSWH($primary-font, 16px, 400, 19px);
  }
}

.closeIcon {
  position: absolute;
  right: 8px;
  height: 16px;
  width: 16px;
}
