@import "../../../../../assets/styles/_variables.scss";
@import "../../../../../assets/styles/_mixin.scss";

.toggleButtonWrapper {
  margin-bottom: 2rem;
  @include iris_container;

  @media (max-width: 768px) {
    margin-left: 0;
    padding: 18px 0;
  }

  .productsContainer {
    margin-top: 2rem;

    @media (max-width: 900px) {
      flex-wrap: nowrap;
      overflow: auto;

      .productsCard {
        min-width: calc(100% - 60px);
      }
    }

    @media (min-width: 481px) and (max-width: 900px) {
      .productsCard {
        min-width: calc(50% - 60px);
      }
    }
  }
}

.appointmentBtn {
  @include quaternary_button;
  background-color: white;
  min-width: 45%;
  margin: 2rem auto 3rem auto;

  span {
    z-index: 2;
  }

  @media (max-width: 768px) {
    margin: 2rem auto 1rem auto;
  }
}

.appointmentBtn::before {
  z-index: 1 !important
}

.toogleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    padding-left: 26px;
    padding-right: 26px;

    button,
    .link {
      font-size: 11px !important;
      padding: 5px !important;
    }
  }

  .link {
    color: $primary-font-color;
    cursor: pointer;
    text-decoration: underline;
  }
}

.productsContainer::-webkit-scrollbar-track {
  display: none;
}

.productsContainer::-webkit-scrollbar {
  display: none;
}

.productsContainer::-webkit-scrollbar-thumb {
  display: none;
}

@media (max-width: 768px) {
  .productsCard:first-child {
    margin-left: 20px;
  }
}