@use "../../../../../../assets/styles/mixin" as mi;

.navigation {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  column-gap: 0.25rem;

  &__title {
    flex-basis: 100%;

    font-size: 18px;
    font-weight: 600;
  }

  &__link {
    position: relative;
    width: fit-content;

    &.active {
      text-decoration: underline;
      font-weight: 600;
    }

    &:is(:hover, :focus) {
      text-decoration: underline;
    }

    &::after {
      content: "  |  ";
      position: relative;
    }

    &:last-of-type::before {
      display: none;
      content: "";
    }
  }

  @include mi.responsive("medium") {
    position: sticky;
    top: 160px;
    display: grid;
    gap: 1rem;

    place-self: start;

    &__title {
      flex-basis: unset;
    }

    &__link {
      &::after {
        content: "";
      }
    }
  }
}
