@import "../../../../../assets/styles/mixin";
@import "../../../../../assets/styles/fonts";
@import "../../../../../assets/styles/variables";

.multiOptionGrid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  row-gap: 12px;
  margin: 12px 0;
  width: fit-content;
  @media (max-width: $large) {
    width: inital;
    grid-template-columns: 1fr;
  }
}

.singleOptionContainer {
  cursor: pointer;
  @include flex(flex-start, flex-start, row);
  margin-right: 30px;
  & > span {
    margin-left: 12px;
  }
}

.optionText {
  color: $primary-font-color;
}

.disabledDiv {
  cursor: not-allowed !important;
}

.dropdownInput {
  width: 50%;
}

.checkboxParentContainer {
  @include flex(flex-start, flex-start, column);
}
