@use "../../../../../assets/styles/variables" as vars;

.button {
  outline: none;
  background-color: transparent;

  display: block;
  position: relative;
  width: 100%;

  border-radius: 100vmax;
  border: 1px solid vars.$primary-color;
  color: vars.$primary-color;
  font-size: 1rem;
  overflow: hidden;
  padding: 0.4rem 1rem;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s ease;

  &:is(:hover, :focus-visible, :active) {
    color: vars.$white;

    &::before {
      opacity: 1;
      width: 100%;
    }
  }

  &::before {
    content: "";
    display: block;
    width: 20%;
    height: 105%;

    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;

    background-color: vars.$primary-color;
    border-radius: 100vmax;
    transition: all 0.2s ease;
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;

  border-bottom: 1px solid #636363;
  padding: 0.5rem 1rem;

  &__actions_group {
    display: flex;
  }

  &__icon_button {
    position: relative;
    display: flex;
  }
}

.body {
  padding: 1.5rem 1rem 2rem;

  .menu_container {
    margin-top: 2rem;

    width: fit-content;
    display: grid;
    gap: 2rem;
  }
}

.link {
  display: block;
  color: #636363;
  font-size: 1rem;

  :is(&:hover, &:focus-visible, &:active) {
    color: vars.$primary-color;
  }

  &.uppercase {
    text-transform: uppercase;
  }
}
