@use "../assets/styles/mixin" as mi;

.button {
  border: none;
  outline-color: transparent;
  background-color: transparent;
  cursor: pointer;
}

.disclaimer {
  &__toggler {
    @extend .button;

    display: block;
    margin-top: 0.2rem;
    margin-inline: auto;

    font-size: 13px;
    color: #54565a;
    font-weight: 300;
    line-height: 20px;
  }
}

// Pop up container is relative to Hero Element Wrapper
.popup {
  width: 100%;
  max-width: 700px;

  position: absolute;
  left: 0;
  z-index: 10;

  display: flex;
  gap: 0.5rem;
  align-items: flex-start;

  background-color: #fff;
  padding: 10px 20px;
  border-radius: 8px;

  &__content {
    font-size: 14px;
    line-height: 20px;
    border-radius: 8px;
  }

  &__close {
    @extend .button;
    color: #9f9f9f;

    &:is(:hover, :focus) {
      color: #333;
    }
  }

  @include mi.responsive("large") {
    left: 20px; // Wrapper includes in this breakpoint an inline padding (x axis), this line will match the popup to the wrapper alignment
  }
}
