@import "../../../../../assets/styles/_variables.scss";
@import "../../../../../assets/styles/_mixin.scss";
.descriptionContainer {
  display: flex;
  justify-content: center;
  padding: 60px 0;
  background-color: $white;
  @media (max-width: $large) {
    padding: 30px 0;
  }
  .container {
    max-width: 1230px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: $large) {
      flex-direction: column;
      margin: 0px 100px 40px 100px;
    }
    @media (max-width: $small) {
      flex-direction: column;
      margin: 0px;
      padding: 30px;
    }
    .imageContainer {
      width: 50%;
      @media (max-width: $large) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .bannerImage {
        border: none;
        height: auto;
        cursor: pointer;
        width: 100%;
        @media (max-width: $large) {
          width: 50%;
        }
      }
    }

    .textContainer {
      width: 50%;
      @media (max-width: $large) {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 0px;
      }
      .firstText {
        color: $primary-font-color;
        @include fontFSWH($primary-font, 24px, 300, 28px);
        @media (max-width: $large) {
          padding-top: 40px;
          @include fontFSWH($primary-font, 20px, 300, 24px);
        }
      }
      .midText {
        padding-top: 30px;
        padding-bottom: 30px;
        color: $secondary-color;
        @include fontFSWH($primary-font, 24px, 400, 28px);
        @media (max-width: $large) {
          @include fontFSWH($primary-font, 20px, 400, 24px);
        }
      }
      .lastText {
        color: $primary-font-color;
        margin: 10px 0;
        @include fontFSWH($primary-font, 16px, 300, 20px);
        @media (max-width: $large) {
          @include fontFSWH($primary-font, 13px, 300, 17px);
        }
      }
      .btnContainer {
        display: flex;
        margin-top: 50px;
        justify-content: center;
        .visionBtn {
          @include secondary_button;
          width: 250px;
          padding: 10px 14px;
        }
      }
    }
  }
}
