@import "../../../../../assets/styles/variables";
@import "../../../../../assets/styles/mixin";
@import "../../../../../assets/styles/fonts";

body {
  .select {
    border-radius: 10px;
    border: 1px solid $secondary-font-color;
    background-color: $white;
    padding: 10px 15px;

    font-family: $primary-font;
    @include fontFSWH($primary-font, 16px, 400, 20px);

    @media (max-width: $extra-large) {
      @include fontFSWH($primary-font, 13px, 400, 17px);
    }

    & > input::placeholder {
      color: $primary-light-color;
    }

    color: $primary-font-color;

    & > fieldset {
      border-color: transparent !important;
    }

    & > div {
      padding: 0px 0px;
    }

    & > div:focus {
      background-color: transparent;
    }
  }

  .option {
    @include fontFSWH($primary-font, 16px, 400, 19px);
    margin: 3px 0;
    color: $primary-font-color;

    @media (max-width: $extra-large) {
      @include fontFSWH($primary-font, 13px, 400, 16px);
    }
  }

  .disabledInput {
    background-color: $primary-light-color;
    border-radius: 10px;
  }
}
