@import "../../../../../assets/styles/_variables.scss";
@import "../../../../../assets/styles/_mixin.scss";

.referContainer {
  @include article-container;

  .errorField {
    border: 1px solid $error;
    border-radius: 5px;
  }

  .greyInputColor {
    color: #a9aaab;
  }

  .referForm {
    .loading {
      text-align: center;
      margin: 2rem 0;
    }

    .downloadingPDFMessage {
      margin-top: 1rem;
      color: $secondary-light-color;
      @include fontFSWH($secondary-font, 1rem, normal, normal);
      text-align: center;
    }

    .printedPDFMessage {
      margin-top: 1rem;
      color: $green;
      @include fontFSWH($secondary-font, 1rem, normal, normal);
      text-align: center;
    }

    .buttonContainer {
      text-align: center;
      margin: 2rem 0;
    }

    .appointmentBtn {
      @include primary_button;

      .showDesktop {
        display: none;

        @media (min-width: 768px) {
          display: block;
        }
      }

      .showMobile {
        display: none;

        @media (max-width: 767px) {
          display: block;
        }
      }
    }
  }

  .steps {
    margin: 2rem 0;

    p {
      margin-bottom: 1rem;
      @include fontFSWH($secondary-font, 1rem, normal, normal);
    }

    ol {
      margin-left: 2rem;

      li {
        @include fontFSWH($secondary-font, 1rem, normal, normal);
      }
    }
  }

  h1 {
    margin-bottom: 5rem;
  }

  .showDesktop {
    display: none;

    @media (min-width: 768px) {
      display: block;
    }
  }

  .showMobile {
    display: none;

    @media (max-width: 767px) {
      display: block;
    }
  }

  .disclaimer {
    @include fontFSWH($secondary-font, 12px, normal, normal);
    margin: 5rem 0;
  }
}

.inputWrapper {
  display: flex;
  align-items: center;
  max-width: 700px;
  margin: auto;
  margin-bottom: 1rem;

  @media (max-width: 767px) {
    display: block;
  }

  .labelContainer {
    display: flex;
    flex: 0 0 31%;

    @media (max-width: 767px) {
      margin-bottom: 5px;
    }

    label {
      @include fontFSWH($secondary-font, 1rem, normal, normal);
    }
  }

  .validationWrapperInputs {
    display: flex;
    flex: 0 0 69%;

    .inputField {
      width: 100%;
    }
  }

  .inputs {
    display: flex;
    justify-content: space-between;

    .inputField {
      margin-right: 5px;
      width: 33.33%;
    }

    .inputField:last-child {
      margin-right: 0 !important;
    }
  }

  .tooltipIcon {
    display: grid;
    place-items: center;

    width: 20px;
    height: 20px;

    background: $secondary-color;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
  }

  .errorMessage,
  .errorMessageDate {
    color: $error;
  }
}
