@import "../../../../assets/styles/_variables.scss";
@import "../../../../assets/styles/_mixin.scss";

.modalContainer {
  max-width: 650px;
  background: $white;
  border-radius: 5px;
  padding: 20px;
  @include iris_modal_container;
  .headingwrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    .headingText {
      @include fontFSWH($secondary-font, 20px, 400, 24px);
      font-style: normal;
      color: $black;
      margin: 0px;
    }
    .closeIconWrapper {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
  .lineColor {
    border-color: $secondary-font-color;
  }
  .modalContent {
    display: flex;
    flex-direction: column;
    margin: 30px 10px;
    .relationshipAddedText {
      @include fontFSWH($secondary-font, 20px, 400, normal);
      font-style: normal;
      color: $black;
    }
    .contentHeading {
      @include fontFSWH($secondary-font, 15px, 400, 24px);
      font-style: normal;
      margin: 0px 0px 20px;
      color: $black;
    }
    .actionContent {
      margin: 36px 0px 0px 0px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .tertiaryButtonStyle {
        @include tertiary_button;
        cursor: pointer;
        margin-right: 36px;
        width: 100%;
        justify-content: center;
      }
    }
  }
}
