@use "../../../../../../assets/styles/mixin" as mi;

$_slider-element-max-width: 700px;

// ==== ReviewsSlider Component Styles

.slider {
  display: grid;
  gap: 2rem;
  margin-block: 3rem 4rem;

  user-select: none;

  &__list {
    display: flex;
    gap: 3rem;

    width: 100%;
    max-width: $_slider-element-max-width;
    margin-inline: auto;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .navigation {
    max-width: $_slider-element-max-width;
    margin-inline: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    &__dot {
      width: 12px;
      height: 12px;
      border-radius: 50%;

      background-color: #ddd;
      transition: all 0.2s ease;

      &.active,
      &:hover,
      &:focus {
        background-color: #54565a;
      }
    }
  }
}

// ==== ReviewItem Component Styles

.review {
  flex: 0 0 100%;
  scroll-snap-align: start;
  line-height: 24px;

  &__user {
    display: flex;
    gap: 0.7rem;
    align-items: flex-end;

    margin-bottom: 1rem;
  }

  &__user-name {
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  &__star {
    color: #fdcd0a;
  }

  &__content {
    align-self: flex-end;
  }

  @include mi.media-query(768px) {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;

    &__user {
      margin-bottom: 0;
    }
  }
}
