@import "../../../../../assets/styles/_variables.scss";
@import "../../../../../assets/styles/_mixin.scss";

.setPassContainer {
  width: 100%;
  max-width: 520px;
  .setPassBox {
    margin: 34px 0;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 1px solid var(--tertiary-border-color);
    border-radius: 8px;
    background-color: var(--primary-bg-color);
    .setPassHead {
      @include fontFSWH($secondary-font, 24px, 400, 33px);
      letter-spacing: 0em;
      text-align: left;
      color: var(--primary-text-color);
    }
    .setPassMessageContainer {
      margin: 0 auto;
      .setPassMessage {
        margin-top: 20px;
        @include fontFSWH($primary-font, 20px, 400, 24px);
        letter-spacing: 0em;
        text-align: center;
        color: var(--primary-text-color);
        width: 250px;
      }
    }
    .formFields {
      margin-top: 20px;
      .setPassBtn {
        margin: 16px 0;
        background-color: $secondary-color;
      }
      .setPassBottomContainer {
        margin-bottom: 20px;
        text-align: center;
        .setPassFormLink {
          color: var(--quaternary-text-color);
          text-decoration-color: var(--quaternary-text-color);
        }
      }
    }
  }
}
.textInput {
  input {
    @include fontFSWH($primary-font, 15px, 400, 18px);
    letter-spacing: 0em;
    text-align: left;
    height: auto;
  }
  label {
    color: var(--secondary-text-color);
    @include fontFSWH($primary-font, 15px, 400, 18px);
    letter-spacing: 0em;
    text-align: left;
  }
  fieldset {
    border-radius: 10px;
    border: 1px solid var(--secondary-border-color);
  }
}
.validBox {
  li span {
    font-size: 0.75rem;
  }
}
