// === Shared Styles

.section_container {
  border: 1px solid #707070;

  .wrapper {
    padding: 2rem 1rem;
    max-width: 500px;
    margin-inline: auto;
  }
}

// === Appointment Confirmation Component Styles

.grid {
  margin: 4rem 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 24rem), 1fr));
  gap: 1rem;
}
