@import "../../../../../assets/styles/_variables.scss";
@import "../../../../../assets/styles/_mixin.scss";

.iconSliderMainBox {
  background-color: $white;
  .iconSliderWrapper {
    @include iris_container;
    padding: 40px 0;
    background-color: $white;
  }
}

.actionIcon {
  @include iris_container;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  .circularSkeleton {
    .circularSkeletonIcon {
      width: 80px;
      height: 80px;
    }
    .iconDescription {
      font-size: 16px;
      margin: 20px;
    }
  }

  @media (max-width: $small) {
    display: none;
  }
}