@use "../../../../../../assets/styles/variables" as vars;

// === My Account Component Styles

.account {
  margin-top: 1rem;

  border-top: 1px solid #636363;
  padding: 2rem 1rem;

  &__title {
    text-transform: uppercase;
    font-size: 1rem;
    color: #626262;
    margin-bottom: 1rem;
  }

  &__user {
    text-transform: capitalize;
  }
}

// === Logged Out Component Styles

.logged_out {
  display: grid;
  gap: 1.2rem;

  color: #626262;
  font-size: 0.95rem;

  &__no_account a {
    text-decoration: underline;

    &:is(:hover, :focus-visible, :active) {
      color: vars.$primary-color;
    }
  }
}

// === Logged In Component Styles

.logged_in {
  display: grid;
  gap: 1rem;

  &__menu {
    margin-top: 0.8rem;
    display: grid;
    gap: 1.5rem;
  }

  &__log_out {
    margin-top: 0.8rem;
  }
}
