// fonts
$primary-font: "Roboto", serif;
$secondary-font: "Recoleta";

// colors
$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$tertiary-color: var(--tertiary-color);

// shades
$primary-dark-color: var(--primary-dark-color);
$primary-light-color: var(--primary-light-color);
$secondary-light-color: var(--secondary-light-color);
$secondary-dark-color: #152e6d;

// font colors
$primary-font-color: #54565a;
$secondary-font-color: #afb0b3;
$tertiary-font-color: #13111a;

// common colors
$bg-color: #f9fafc;
$white: #ffffff;
$black: #000000;
$grey: #f4f4f4;
$red: #d43e0e;
$green: #48c87e;
$warning: #886633;
$active-color: #f9830030;
$error: #d32f2f;
$banner: #eaeaea;
$bg-sky-blue: #ade7f3;
$bg-header: #e7eef7;
$shadow-color: #00000016;
$catalog-image-bg: #f7f5f6;
$bg-thankyou-banner: #ade9ff;
$footer-gray: #707070;
$footer-secondary-gray: #636363;
$static-msg-bg: #d4d4d4;

//screen size
$small: 600px;
$medium: 900px;
$large: 1200px;
$extra-large: 1680px;
