@import "./variables";
@import "./mixin";

* {
  margin: 0;
  padding: 0;
  font-family: $primary-font;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 160px;
}

html body {
  background-color: $bg-color;
  @include fontFSWH($primary-font, 14px, 400, normal);

  @media (max-width: $extra-large) {
    font-size: 13px;
  }

  .catalog_page {
    background: $white;

    .catalog_banner_section {
      padding: 0 7.5%;
      width: 100%;
      min-height: 25vw;
      background-position: 50% !important;
      background-repeat: no-repeat !important;
      background-size: 100% !important;
      display: flex;
      align-items: center;
      position: relative;

      @media (max-width: 768px) {
        background-position: 50%;
        padding: 7.5%;
        align-items: start;
        top: 0 !important;
        min-height: 200px !important;
      }

      .banner_text_section {
        margin: auto;
        display: flex;
        justify-content: flex-start;
        width: 100%;

        .banner_title {
          width: 60%;

          @media (max-width: 768px) {
            width: 50%;
          }
          &.contacts {
            @media (max-width: $large) {
              width: 100%;
            }
          }

          h1 {
            @include fontFSWH($secondary-font, 48px, 600, normal);
            color: $primary-font-color;

            @media (max-width: 768px) {
              font-size: 32px;
              line-height: 36px;
            }
          }

          p {
            color: $primary-font-color;
            @include fontFSWH($primary-font, 19px, 400, normal);
            margin-bottom: 8px;

            @media (max-width: 768px) {
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  .iris_table_heading {
    @include fontFSWH($secondary-font, 28px, 500, 32px);
    color: $secondary-color;
    margin: 20px 0;

    @media (max-width: $extra-large) {
      @include fontFSWH($secondary-font, 22px, 500, 26px);
      margin: 15px 0;
    }
  }

  .iris_table {
    margin-top: 15px;

    @media (max-width: $extra-large) {
      margin-top: 10px;
    }

    .tableHeadContent {
      border-left: 1px solid $white;
      background-color: $secondary-color;

      @media (max-width: $extra-large) {
        padding: 7.5px;
      }

      .textIconWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 0px;

        .tableHeadText {
          @include fontFSWH($primary-font, 14px, 500, 17px);
          font-style: normal;
          color: $white;
          padding: 5px;

          @media (max-width: $extra-large) {
            @include fontFSWH($primary-font, 11px, 500, 14px);
            padding: 5px 0px;
          }
        }

        .tableHeadIcons {
          display: flex;

          button {
            min-width: auto;
            padding: 0;
            margin-left: 10px;

            &:nth-child(1) {
              margin-left: 0px;
            }
          }
        }

        svg {
          fill: $white;
          cursor: pointer;
          width: 20px;
          height: 20px;
        }

        .filterSelected {
          fill: $secondary-font-color;
          cursor: pointer;
          width: 20px;
          height: 20px;
        }
      }
    }

    .tableRowContent {
      background: $white;
      border: 1px solid $primary-light-color;
      border-left: none;
      @include fontFSWH($primary-font, 14px, 400, 17px);
      font-style: normal;
      color: $tertiary-font-color;
      padding: 10px;

      &.disabled {
        background-color: $grey;
      }

      @media (max-width: $extra-large) {
        @include fontFSWH($primary-font, 12px, 400, 14px);
        padding: 7.5px;

        img,
        svg {
          width: 18px;
          height: 18px;
        }

        span {
          @include fontFSWH($primary-font, 12px, 400, 14px);
        }
      }

      .actionIconWrapper {
        display: flex;
        justify-content: space-around;
      }

      button {
        min-width: auto;
        padding: 0 0 0 10px;
      }
    }
  }
}

.headerSearch_options {
  @include fontFSWH($primary-font, 14px, 400, normal);
  padding: 7px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media (max-width: $extra-large) {
    font-size: 12px;
  }

  .option_txt {
    @include fontFSWH($primary-font, 13px, 400, normal);
    color: $secondary-color;
  }
}

.headerSearch_button {
  @include fontFSWH($primary-font, 14px, 400, normal);
  width: 120px;
  height: 30px;
  padding: 0px 10px;
  color: $primary-font-color;
  background: $grey;
  border-radius: 10px;
  text-transform: none;

  @media (max-width: $extra-large) {
    font-size: 12px;
  }
}

.headerSearch_viewMore {
  @include fontFSWH($primary-font, 14px, 400, normal);
  padding: 5px;
  color: $secondary-font-color;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $extra-large) {
    font-size: 12px;
  }
}

.autocompleteOption {
  margin-top: 5px;
  border-radius: 12px;
  border: 1px solid $secondary-font-color;
}

:root {
  --primary-font-color: #{$primary-font-color};
  --primary-light-color: #{$primary-light-color};
  --secondary-light-color-20: lighten($secondary-light-color, 20);
  --grey: #{$grey};
  // Initial colors
  --primary-color: #f98300;
  --secondary-color: #002e6d;
  --tertiary-color: #54565a;
  // primary colors
  --primary-bg-color: #ffffff;
  --primary-text-color: #000000;
  --primary-button-color: #a9afbb;
  --primary-border-color: #ebebeb;
  // secondary colors
  --secondary-bg-color: #e2e5ea;
  --secondary-text-color: #c7c7c7;
  --secondary-button-color: #e2e5ea;
  --secondary-border-color: #bbbbbb;
  // tertiary colors
  --tertiary-bg-color: #f9fafc;
  --tertiary-text-color: #9eafc7;
  --tertiary-border-color: #e1e6ea;
  //quaternary colors
  --quaternary-bg-color: #f5f5f5;
  --quaternary-text-color: #7b7e7b;
  //primary input text
  --primary-input-text: #4d4d4d;
  //Color
  --blue-600: #002e6d;
  --small: #{$small};
}

.iris_pageBackGroundWrapper {
  background-color: $grey;
}

/* width */

::-webkit-scrollbar {
  width: 5px;
}

/* Track */

::-webkit-scrollbar-track {
  background: $primary-light-color;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: $primary-font-color;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: $primary-font-color;
}

/* Removing number input arrows */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

a {
  color: var(--secondary-light-color-20);
  text-decoration: none;
}

.toast-message {
  font-size: 16px;
}

.switchMuiRootStyle.disabled {
  opacity: 0.5;
}

.switchMuiRootStyle {
  width: 58px !important;
  height: 38px !important;

  .MuiSwitch-switchBase {
    top: -3px;
  }

  .Mui-checked + .MuiSwitch-track {
    background-color: $secondary-light-color;
  }

  .MuiSwitch-track {
    background-color: $secondary-font-color;
  }

  .trackColor {
    border-radius: 12px;
    box-sizing: border-box;
    opacity: 0.8 !important;
  }

  .thumbColor {
    color: $white;
    width: 17px;
    height: 17px;
    box-sizing: border-box;
    position: relative;
    top: 4px;
    left: 3px;
  }
}

.activeMenu {
  button {
    color: $tertiary-font-color !important;
  }
}

.errorMessage {
  color: $red;

  @media (max-width: $extra-large) {
    @include fontFSWH($primary-font, 13px, 400, 17px);
  }
}

:is(
    .informational-page-headline,
    .informational-page-title,
    .informational-page-subtitle
  ) {
  &,
  & > * {
    color: $primary-font-color;
    font-family: $secondary-font;
    font-weight: 600;
    line-height: 1.3;
  }

  &.text-center {
    text-align: center;
  }
}

.informational-page-title {
  font-size: clamp(25px, 3.5vw, 48px);
}

.informational-page-subtitle {
  font-size: clamp(20px, 3.5vw, 36px);
}

/** 
  Use when using Image component from next with width and height equals to 0,
  so that image resizes properly (responsiveness)
*/

.img {
  display: block;
  width: 100%;
  height: auto;
}

.noRecordFoundTxt {
  @include fontFSWH($primary-font, 16px, 400, 20px);

  @media (max-width: $extra-large) {
    @include fontFSWH($primary-font, 13px, 400, 17px);
  }
}

.dropDownOptText {
  color: $primary-font-color;
  @include fontFSWH($primary-font, 16px, 400, 20px);

  @media (max-width: $extra-large) {
    @include fontFSWH($primary-font, 13px, 400, 17px);
  }
}

.dropDownPlaceHolderTxt {
  color: $secondary-font-color;
  @include fontFSWH($primary-font, 16px, 400, 20px);

  @media (max-width: $extra-large) {
    @include fontFSWH($primary-font, 13px, 400, 17px);
  }
}

.occActionBtn {
  @include primary_button;
  margin: 20px 20px 0px 0px;
}

.searchMenuItem {
  @include fontFSWH($primary-font, 14px, 400, normal);
  text-transform: capitalize;

  @media (max-width: $extra-large) {
    font-size: 12px;
  }
}

.mobileSubMenu {
  @include fontFSWH($primary-font, 14px, 400, 18px);
  letter-spacing: 0em;
  text-align: center;
  color: $secondary-font-color;
  text-transform: capitalize;
  padding: 8px 15px;
  cursor: pointer;

  &:hover {
    color: $primary-font-color;
  }

  @media (max-width: $small) {
    text-align: right;
  }
}

.radioBtn {
  span {
    @include fontFSWH($primary-font, 14px, 400, normal);

    @media (max-width: $extra-large) {
      @include fontFSWH($primary-font, 13px, 400, 17px);
    }
  }
}

.list-styless {
  list-style: none;
}

.k-page {
  width: 8.5in !important;
  height: 11in !important;
  margin: auto !important;
  overflow: hidden;
}

.k-text-layer {
  display: none !important;
}

.orange {
  color: $primary-color;
}

.reviewContainer {
  padding: 2rem 0;

  .slick-dots {
    bottom: 0 !important;
  }

  .slick-dots li.slick-active button:before {
    font-size: 15px !important;
  }

  .slick-dots li button:before {
    font-size: 15px !important;
  }
}

/* use it for action btn right alignment */
.rightAlignedActionBtn {
  display: flex !important;
  margin-left: auto !important;
}

body.MEL {
  .homeTopBanner {
    background-color: #85cbe1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @media (max-width: 768px) {
      background-position: 100% 0;
      background-image: none !important;
    }
  }

  .homeRightBanner {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;

    @media (max-width: 768px) {
      background-position: 100% 0;
    }
  }

  .brandEyeExamContents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .buyNowBGColor {
    background-color: var(--secondary-color);
  }

  .insuranceBGColor {
    background-color: $white;
  }

  .footerBGColor {
    background-color: $white;
  }

  .catalogBtn {
    @include primary_button;
    position: absolute;
    bottom: 20px;
    left: 15px;
  }

  .stockUpNFrameBtn {
    @include primary_button;
    margin-bottom: 0;
  }

  .seoBookExamBtn {
    @include tertiary_button;
    text-decoration: none !important;
  }

  .seoLinkBtn {
    @include dark-site-link;

    u {
      @include fontFSWH($primary-font, 20px, 500, 29px);
    }
  }

  .seoReviewSection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .colorVisionTestBannerTitle {
    width: clamp(8ch, 40vw, 20ch);
    color: $white;

    @media (max-width: $medium) {
      width: clamp(12ch, 40vw, 20ch);
    }
  }

  .aboutUsValuesCircle {
    background: $secondary-color;
    color: $white;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: calc((100% - 100px) / 2);

    .aboutUsValuesCircleTitle {
      @include fontFSWH($secondary-font, 32px, 600, normal);
    }
  }
}

body.SO {
  .homeTopBanner {
    background-color: $primary-light-color;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .homeRightBanner {
    background-image: none;
  }

  .brandEyeExamContents {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .buyNowBGColor {
    background-color: $primary-font-color;
  }

  .insuranceBGColor {
    background-color: $primary-light-color;
  }

  .footerBGColor {
    background-color: $primary-light-color;
  }

  .catalogBtn {
    @include secondary_button;
    position: absolute;
    bottom: 0px;
    left: 0px;
  }

  .stockUpNFrameBtn {
    @include secondary_button;
    margin-bottom: 0;
  }

  .seoBookExamBtn {
    @include primary_button;
    text-decoration: none !important;
  }

  .seoLinkBtn {
    @include primary_link;

    u {
      @include fontFSWH($primary-font, 20px, 500, 29px);
    }
  }

  .seoReviewSection {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $medium) {
      flex-direction: column;
    }
  }

  .colorVisionTestBannerTitle {
    width: clamp(8ch, 40vw, 20ch);
  }

  .aboutUsValuesCircle {
    background: $primary-color;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: calc((100% - 100px) / 2);

    .aboutUsValuesCircleTitle {
      @include fontFSWH($secondary-font, 32px, 600, normal);
    }
  }
}

.cardSection {
  background: $white;
  border: 1px solid $primary-light-color;
  border-radius: 10px;
  padding: 10px 25px 25px 25px;
  margin: 25px 0 50px 0;

  @media (max-width: $extra-large) {
    margin-top: 15px;
    padding: 10px 20px;
  }
}

.content-wrapper {
  width: calc(100% - 4rem);
  margin-inline: auto;
  max-width: 1230px;
}

.roundedCardWithBorder {
  background: $white;
  border: 1px solid $primary-light-color;
  border-radius: 10px;
}

.popperDiv {
  padding: 8px;
  background-color: $white;
  border-radius: 8px;
  border: 1px solid $primary-font-color;
  margin-left: 60px;
  width: 50%;
  word-wrap: break-word;
}

.popperDivRight {
  @extend .popperDiv;
  margin-inline: auto;

  @include media-query(992px) {
    width: 35%;
    margin-inline: auto 1rem;
  }
}

.melOfferImage {
  padding: 0;

  @media (max-width: $small) {
    padding: 20px 40px;
  }
}

.mapPinText {
  @include fontFSWH($primary-font, 11px, 400, 15px);
  background: $white;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid $tertiary-font-color;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: fit-content;
}

.guest-medical-form {
  @include iris_container;
}

.grecaptcha-badge {
  visibility: hidden;
}

.GuidedSales_VideoStreamSection {
  video {
    object-fit: contain !important;
  }
}
//* Note: [IR-1627] Added for the new year 2025 blog page background image

.frames-container-2025-blog {
  background-image: url("https://dam.nowoptics.net/transform/b2efccf0-ae95-444d-836d-46d36369651c/1907_NYNY-Blog_BG-Frames_Desktop");
  width: 100%;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: space-around;
  padding: 2rem;
  padding-bottom: 3.3rem;
  @media (max-width: $small) {
    background-image: url("https://dam.nowoptics.net/transform/84ea72e3-72ee-44ff-9458-1216a632402b/1907_NYNY-Blog_BG-Frames_Mobile");
    flex-direction: column;
    background-position: top;
    row-gap: 20px;
    padding-top: 3rem;
  }
}
