@import "../../../../../assets/styles/_variables.scss";
@import "../../../../../assets/styles/_mixin.scss";

.careersContainer {
  .banner-title {
    position: absolute;
    top: 8px;
    font-size: 20px;

    @include responsive("small") {
      position: unset;
      top: unset;
      font-size: clamp(28px, 3.5vw, 48px);

      width: clamp(5ch, 30vw, 20ch);
    }

    &.mel {
      width: 100%;
      left: 0;
      top: 15%;

      color: $white;
      font-family: $primary-font;
      font-size: clamp(28px, 3.5vw, 48px);
      text-align: center;
      text-transform: uppercase;

      @include responsive("small") {
        left: unset;
        top: unset;

        width: clamp(5ch, 30vw, 20ch);
      }
    }
  }

  .gridContainer {
    @include iris_container;

    p {
      margin: 2.5rem 0;
    }

    .tile {
      height: 260px;
      background-size: contain;
      background-position: center center;
      margin: 0px;
      background-repeat: no-repeat;

      @media (max-width: 768px) {
        height: 165px;
      }
    }

    .disclaimer {
      margin-bottom: 4rem;
      text-align: left;
      font-size: 11px;
    }

    .contentContainer {
      padding: 3rem 0;
      text-align: center;

      .content {
        max-width: 1032px;
        margin: auto;

        h1 {
          @include fontFSWH($secondary-font, 2rem, 600, 1.3);
        }

        h2 {
          @include fontFSWH($secondary-font, 1.6rem, 600, 1.3);
          margin-top: 3rem;
        }

        h3 {
          @include fontFSWH($secondary-font, 1.25rem, 600, 1.3);
        }

        p {
          margin: 1.5rem 0;
        }

        .cardContainer {
          height: 100%;
          padding: 1.5rem 0;
        }

        ul {
          margin: 1.5rem;
          text-align: left;
        }
      }
    }

    .appointmentBtn,
    .applyButton {
      @include primary_button;
    }

    .applyButton {
      margin-top: 1.5rem;
    }
  }
}
