@import "../../../../../assets/styles/_variables.scss";
@import "../../../../../assets/styles/_mixin.scss";

.appointmentWrapper {
  margin-top: 20px;
  margin-bottom: 100px;
  padding: 0px 130px;
  @media (max-width: 1700px) {
    padding: 0 4px;
  }
  @media (max-width: 768px) {
    padding: 0;
  }
  .appointmentContainer {
    @include iris_container;
    margin-top: 30px;
    .schedulerContainer {
      border: 1px solid $primary-light-color;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      .schedulerSideContainer {
        min-width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 20px;
      }
      .notesContainer {
        border: 1px solid $primary-light-color;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        margin: 10px;
        width: 100%;
      }
      .doctorContainer {
        border: 1px solid $primary-light-color;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        margin: 10px;
        width: 100%;
      }
    }
    .timeSlotContainer {
      padding: 10px;
      border: 1px solid $primary-light-color;
      border-radius: 5px;
      margin: 10px;
      .subContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        margin: 10px;
      }
    }
    .examTypeContainer {
      border: 1px solid $primary-light-color;
      border-radius: 5px;
      padding: 10px;
      margin: 10px;
      .subContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        margin: 10px;
      }
    }
    .statusContainer {
      border: 1px solid $primary-light-color;
      border-radius: 5px;
      padding: 10px;
      margin: 10px;
      .subContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        margin: 10px;
      }
    }
  }
}
