@import "../../../../assets/styles/_variables.scss";
@import "../../../../assets/styles/_mixin.scss";

// TODO: need to add max width property
.carouselHead {
  width: 80%;
  margin: 0 auto;
  padding: 20px;

  @media screen and (max-width: $small) {
    width: 100%;
  }

  & .sliderItem {
    margin-top: 20px;
    width: 90%;
    height: 250px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    display: inline-block;

    @media (max-width: $extra-large) {
      margin-bottom: 25px;
    }

    &:hover > .seeDetails {
      display: flex;
      transition: all 0.5s ease-in-out;
    }

    > .seeDetails {
      height: 30px;
      background: $primary-font-color;
      @include fontFSWH($primary-font, 14px, 400, 0);
      color: $white;
      display: none;
      padding: 15px;

      @media (max-width: $extra-large) {
        font-size: 13px;
        height: 25px;
        padding: 12.5px;
      }
    }

    & div {
      display: flex;
      justify-content: center;
      height: 250px;
    }

    & .sliderImg {
      width: 100%;
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .sliderCard {
    background-color: transparent;
  }

  button {
    background-color: black;
  }
}

.carouselHeadForIcon {
  width: 100%;
  margin: 0 auto;
  padding: 20px;

  @media screen and (max-width: 1024px) {
    width: 80%;
  }

  & .sliderItem {
    margin-top: 20px;
    width: 90%;
    height: 250px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    display: inline-block;

    @media (max-width: $extra-large) {
      margin-bottom: 25px;
    }

    &:hover > .seeDetails {
      display: flex;
      transition: all 0.5s ease-in-out;
    }

    > .seeDetails {
      height: 30px;
      background: $primary-font-color;
      @include fontFSWH($primary-font, 14px, 400, normal);
      color: $white;
      display: none;
      padding: 15px;

      @media (max-width: $extra-large) {
        font-size: 13px;
        height: 25px;
        padding: 12.5px;
      }
    }

    & div {
      display: flex;
      justify-content: center;
      height: 250px;
    }

    & .sliderImg {
      width: 100%;
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .sliderCard {
    background-color: transparent;
  }

  button {
    background-color: black;
  }
}

.dotsUL {
  position: absolute;
  bottom: 0;
}

.nearbyStoreWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 2px dashed $primary-color;

  .storeDetails {
    @include fontFSWH($primary-font, 16px, 400, 20px);
    a {
      color: $tertiary-font-color;
    }
  }

  .distance {
    @include fontFSWH($primary-font, 14px, 400, 18px);
    margin-top: 10px;
  }
}

.imgBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  border: 2px dashed $primary-color;

  .boxContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .disclaimerBtn {
    @include primary_link;
  }
}

.reviewWrapper {
  display: flex;
  align-items: center;

  @media screen and (max-width: $medium) {
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .reviewerImage {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: $secondary-font-color;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .reviewContent {
    @include fontFSWH($primary-font, 12px, 400, 20px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 25px;
    margin-left: 10px;

    @media screen and (max-width: $medium) {
      width: 100%;
      align-items: center;
      justify-content: center;
      margin-right: 0px;
      text-align: center;
      margin-top: 10px;
    }

    .starWrapper {
      display: flex;
      align-items: center;
      margin-top: 5px;
    }
  }

  .reviewText,
  .reviewText p {
    @include fontFSWH($primary-font, 16px, 400, 20px);
    width: 100%;
    max-width: 350px;
    color: $tertiary-font-color;

    @media (max-width: $extra-large) {
      @include fontFSWH($primary-font, 13px, 400, 17px);
    }
  }
}

.nextArrowCls {
  cursor: pointer;
  position: absolute;
  top: 45%;
  right: -10px;
  padding: 0;
  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

.prevArrowCls {
  cursor: pointer;
  position: absolute;
  top: 45%;
  left: -10px;
  padding: 0;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.iconSliderWrapper {
  cursor: pointer;
  color: $primary-font-color;

  &:hover {
    color: $primary-color !important;
    transition: all 0.5s ease;
  }

  & .sliderIconItem {
    width: 80px;
    height: 54px;
    border-radius: 10px;
    margin: 0 auto;

    + .sliderDesc {
      @include fontFSWH($primary-font, 20px, 400, 22px);
      letter-spacing: 0em;
      text-align: center;
      width: 100%;
      margin: 5px auto 0 auto;
      background-color: transparent !important;

      &:hover {
        color: $primary-color;
        transition: all 0.5s ease;
      }
    }

    .sliderIconImg {
      justify-content: center;
      align-items: center;
      display: flex;
      height: 54px;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  @media (max-width: $extra-large) {
    & .sliderIconItem {
      width: 70px;
      height: 49px;

      .sliderIconImg {
        height: 49px;
      }
    }
  }
}

.sliderName {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  @include fontFSWH($primary-font, 20px, 400, 24px);
  letter-spacing: 0em;
  text-align: left;
}

.singleSliderItem {
  width: 100%;
  height: 350px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  display: inline-block;

  & div {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  & .circleBg {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: $bg-color;
  }

  & .ratingS {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  & .description {
    letter-spacing: 0em;
    text-align: left;

    @include fontFSWH($primary-font, 16px, 400, 30px);
  }

  & .name {
    letter-spacing: 0em;
    text-align: left;
    @include fontFSWH($primary-font, 24px, 400, 29px);
  }

  & .duration {
    @include fontFSWH($primary-font, 14px, 400, 30px);
    color: $primary-font-color;
  }
}

.dotsLi {
  li {
    button {
      &::before {
        font-size: 15px;
      }
    }
  }
}

.carouselContainer {
  width: 80%;
  margin: 0 auto;
  max-width: 100%;
}

.relatedProductCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: fit-content;

  .image {
    height: 288px;
    width: 400px;
  }

  .colorsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    margin: 44px 0 25px;
  }

  .color {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    cursor: pointer;
  }
}

.patientCarouselHead {
  margin: 0 auto;
  padding: 20px;

  .patientOverviewSliderWrapper {
    .iconCartContainer {
      background: $white;
      border-radius: 5px;
      width: 90%;
      height: fit-content;
      padding: 20px;
      margin: 0 auto;
      border: 1px solid $primary-light-color;
    }

    .likeIconWrapper {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 10px;
      cursor: pointer;
    }

    .sliderCardItem {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 100%;
      }

      .sliderCardImg {
        background: $secondary-font-color;
        border-radius: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .defaultThumbnail {
          width: 100%;
          height: 110px;
        }
      }

      .cartName {
        @include fontFSWH($primary-font, 20px, 400, 24px);
        font-style: normal;
        color: $primary-font-color;
        margin-top: 30px;

        @media (max-width: $extra-large) {
          @include fontFSWH($primary-font, 16px, 400, 20px);
        }
      }

      .price {
        margin: 15px 0;

        .cartPrice {
          @include fontFSWH($primary-font, 24px, 400, 39px);
          font-style: normal;
          color: $primary-font-color;

          @media (max-width: $extra-large) {
            @include fontFSWH($primary-font, 20px, 400, 28px);
          }
        }
      }

      .buttonWrapper {
        border: 1px solid $bg-color;
        border-radius: 6px;
        box-sizing: border-box;
        width: 150px;
        height: 40px;

        .button {
          background-color: $white;
          border: none;
          @include fontFSWH($primary-font, 16px, 400, 19px);
          font-style: normal;
          text-transform: uppercase;
          color: $bg-color;
          cursor: pointer;
        }
      }
    }
  }
}

.multiSliderDescriptionContainer {
  margin-top: 14px;
  display: block;

  .name {
    @include fontFSWH($primary-font, 22px, 400, 26px);
    text-align: center;
    margin: 25px 0 10px;
  }

  .price {
    text-align: center;

    .oldPrice {
      @include fontFSWH($primary-font, 16.5px, 400, 26px);
      text-decoration: line-through;
    }

    .newPrice {
      @include fontFSWH($primary-font, 23px, 400, 26px);
    }
  }
}
