@use "../../../../../../assets/styles/variables" as vars;

.container {
  margin-top: 3rem;
  padding-inline: 1.5rem;

  .title {
    margin-bottom: 1.5rem;
    color: vars.$secondary-color;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
  }

  .disclaimer {
    margin-top: 1rem;
  }
}
