@import "../../../../assets/styles/mixin";
@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/fonts";

.root {
  background-color: $bg-color !important;
}

.modalHeader {
  width: 100%;
  @include flex(center, space-between, row);
  margin-bottom: 16px;
  & > div:first-child {
    @include flex(center, flex-start, row);
  }
  & .languageInput {
    @include flex(center, center, row);
    margin-right: 10px;
    & > p {
      margin-right: 10px;
    }
  }
}

.formContainer {
  width: 100%;
  background-color: $white;
  border-radius: 5px;
  border: 1px solid $grey;

  & > div:nth-child(2) {
    width: auto;
    margin: 0 20px;
  }
}
