@use "../../../../../assets/styles/mixin" as mi;
@import "../../../../../assets/styles/variables";
$light-blue: #f5f9ff;

.container {
  @include mi.article-container;
  margin-bottom: 0;

  .link {
    @include mi.dark-site-link;
  }

  .title,
  .subtitle,
  h3 {
    font-family: $secondary-font;
  }

  p,
  li,
  .contentText {
    font-family: $primary-font;
  }

  .title {
    margin-bottom: 1.6rem;
    font-weight: 400;
    font-size: 24px;
    text-align: center;

    @include mi.responsive("medium") {
      font-size: 28px;
      text-align: left;
    }

    @include mi.responsive("large") {
      font-size: 35px;
    }
  }

  .subtitle {
    margin-bottom: 1.6rem;
    font-weight: 400;
    font-size: 24px;
    text-align: center;

    @include mi.responsive("medium") {
      font-size: 28px;
      text-align: left;
    }

    @include mi.responsive("large") {
      font-size: 35px;
    }
  }

  h3 {
    color: $secondary-light-color;
    font-size: 21px;
    font-weight: 400;

    @include mi.responsive("medium") {
      font-size: 24px;
      text-align: left;
    }

    @include mi.responsive("large") {
      font-size: 26px;
    }
  }

  p,
  li,
  .contentText {
    margin-bottom: 1.5rem;
    font-size: 15px;
    text-align: center;

    @include mi.responsive("medium") {
      text-align: left;
    }

    @include mi.responsive("large") {
      font-size: 16px;
    }
  }

  .splitBanner {
    display: grid;
    padding-top: 0;
    justify-items: center;
    align-items: center;

    @include mi.responsive("medium") {
      grid-template-columns: 47% 47%;
      padding-top: 1.8rem;
      gap: 5%;
    }

    >img {
      width: 100%;
      height: auto;
      border-radius: 15px;
      max-width: 400px;

      @include mi.responsive("large") {
        max-width: 700px;
      }
    }
  }

  .eyePerks {
    .shopNow {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .faq {
      margin-top: 3rem;

      >p {
        text-align: left;
      }
    }
  }

  .whatToExpect {
    margin-top: 2rem;

    >.splitBanner {
      margin-top: 2rem;

      >img {
        order: 2;

        @include mi.responsive("medium") {
          order: 1;
        }
      }

      >div {
        order: 1;

        >h1 {
          text-align: left;
        }

        >p {
          text-align: left;
        }

        @include mi.responsive("medium") {
          order: 2;
        }
      }
    }

    .whatToExpectList {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 100%;

      >li {
        margin-left: 0;
        max-width: max-content;

        >b {
          font-size: 18px;

          @include mi.responsive("large") {
            font-size: 20px;
          }
        }

        >ul {
          margin-top: 2rem;

          li {
            max-width: max-content;

            @include mi.responsive("small") {
              margin-left: 2rem;
            }

            >b {
              color: $tertiary-font-color;
            }
          }
        }
      }
    }
  }

  .children {
    padding: 1rem 0;

    @include mi.responsive("small") {
      padding: 3rem 8%;
    }

    .childrenBubble {
      border-radius: 25px;
      padding: 1rem;

      @include mi.responsive("small") {
        padding: 3rem;
      }

      background-color: $light-blue;
      box-shadow: -1px 1px 6px 4px rgba(0, 0, 0, 0.2);
      -webkit-box-shadow: -1px 1px 6px 4px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: -1px 1px 6px 4px rgba(0, 0, 0, 0.2);

      >h2 {
        text-align: center;
      }

      >p {
        text-align: center;
      }
    }
  }

  .whatToBring {
    margin: 3rem 0 2rem 0;

    @include mi.responsive("large") {
      margin: 3rem 0 3rem 0;
    }

    h2,
    li {
      text-align: left;
      margin-bottom: 0.5rem;
    }

    ul {
      list-style: none;
      padding-bottom: 3rem;
    }

    .book-eye-exam-link {
      display: block;
      width: fit-content;
      margin-inline: auto;

      &:is(:hover, :focus-visible) {
        text-decoration: underline;
      }

      h3 {
        text-align: center;
      }
    }
  }

  .ml1 {
    margin-left: 1rem;
  }
}

.cta {
  margin-top: 1.4rem;

  @include mi.responsive("small") {
    margin-top: 3rem;
  }

  @include mi.primary_button;

  &:focus {
    background: $primary-dark-color;
  }

  >span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
  }
}

.grayBg {
  background-color: #f3f3f3;
  box-shadow: 0 0 0 100vmax #f3f3f3;
  clip-path: inset(0 -100vmax);
}

.showNumber {
  list-style-type: auto !important;

  ::marker {
    color: $secondary-light-color;
    font-weight: 700;
  }
}

.numberList {
  margin: 2rem 0;
  list-style-type: none;

  li {
    margin-bottom: 0.8rem;
    text-align: left;

    @include mi.responsive("small") {
      max-width: 700px;
      margin-left: 2rem;
    }

    b {
      color: $secondary-light-color;
    }
  }

  .numberSublist {
    list-style-type: disc;

    ::marker {
      color: unset;
    }

    li {
      @include mi.responsive("small") {
        max-width: 700px;
        margin-left: 4rem;
      }
    }
  }
}

.soContainer {
  .children {
    .childrenBubble {
      >h2 {
        color: $secondary-light-color;
      }
    }
  }
}

.melContainer {
  li {
    b {
      color: $primary-dark-color;
    }
  }

  .children {
    .childrenBubble {
      >h2 {
        color: $secondary-color;
      }
    }
  }

  .showNumber {
    list-style-type: auto !important;

    ::marker {
      color: $primary-dark-color;
      font-weight: 700;
    }
  }

  .whatToBring {
    h3 {
      color: $primary-dark-color;
    }
  }
}
