@import "../../../../assets/styles/_variables.scss";
@import "../../../../assets/styles/_mixin.scss";
.lightBackgroundColor {
  background-color: $primary-light-color;
}
.storeDetailWrapper {
  min-height: 80vh;
  a {
    color: $primary-color;
    text-decoration: underline;
  }
}