@import "../../../../assets/styles/mixin";
@import "../../../../assets/styles/variables";

.GuidedSales_Button {
  right: 0;
  bottom: 113px;
  z-index: 1;
  position: fixed;
  z-index: 2000;

  @media (min-width: 1024px) {
    bottom: 90px;
  }

  .startButtonContainer {
    width: 100%;
    display: flex;
    padding: 10px;

    .startButton {
      @include tertiary_button;
      text-transform: none;
      margin-left: auto;
      @include fontFSWH($primary-font, 12px, 400, 15px);
      width: 200px;
      padding: 6px;

      @media (max-width: $extra-large) {
        padding: 6px;
      }
    }
  }
}
