@import "../../../../../assets/styles/_variables.scss";
@import "../../../../../assets/styles/_mixin.scss";

.prescriptionHeaderWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  .header {
    width: 100%;
    box-shadow: none;
    .headerContainer {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      padding: 10px;
    }
    .headingText {
      color: $secondary-color;
      margin: 5px 0;
      @include fontFSWH($primary-font, 19px, 500, 22px);
      @media (max-width: $extra-large) {
        @include fontFSWH($primary-font, 19px, 500, 20px);
      }
    }
    .normalHeading {
      display: flex;
      align-items: center;
      @media (max-width: $medium) {
        flex-direction: column;
      }
      text-align: center;
      margin-right: 5px;
      margin-bottom: 10px;
      .headingTextSecondary {
        color: $primary-font-color;
        @include fontFSWH($primary-font, 15px, 300, 24px);
      }
    }
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
}
.boldText {
  font-weight: 500;
  margin-left: 4px;
}
