@import "../../../../../../assets/styles/mixin";
@import "../../../../../../assets/styles/fonts";
@import "../../../../../../assets/styles/variables";

html body {
  .modalContainer {
    display: flex;
    align-items: center;
    justify-content: stretch;
    flex-direction: column;

    & > .modalHeader > .modalTitle {
      margin: 0;
      @include fontFSWH($primary-font, 21px, 600, 24px);
      color: $black;

      @media (max-width: $extra-large) {
        @include fontFSWH($primary-font, 16px, 600, 20px);
      }
    }
  }

  .modalHeader {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: relative;
    margin-bottom: 24px;

    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      height: 1px;
      background-color: $tertiary-font-color;
    }

    & > button > img {
      height: 24px;
      width: 24px;
    }
  }

  
}
