@import "../../../../../assets/styles/_variables.scss";
@import "../../../../../assets/styles/_mixin.scss";

.meetStanContainer {
    background-color: $primary-color;

    .imageContainer {
        display: flex;
        justify-content: end;

        img {
            position: absolute;
            bottom: 0;
            width: auto;
            height: 300px;

            @media (max-width: 768px) {
                height: 260px;
                left: -180px;
            }
        }
    }

    .headingContainer {
        margin: 2rem 0 1rem 0;
    }

    .heading {
        @include fontFSWH($secondary-font, 34px, 600, 38px);
        color: white;
        margin-left: 8px;
    }

    .subHeading {
        font-size: 1rem;
        color: white;
        margin-left: 8px;
    }

    .disclaimerBtn {
        @include primary_link;
        color: white;
    }

    .disclaimerBtn:hover {
        color: white;
    }
}