@use "../../../../../../assets/styles/variables" as vars;
@use "../../../../../../assets/styles/mixin" as mi;

.enroll {
  width: 100%;
  max-width: 450px;
  margin: 2rem auto 0;
  padding-inline: 1.5rem;

  &__header {
    background-color: vars.$secondary-color;
    padding: 1rem;

    p {
      color: vars.$white;
      font-size: 1.5rem;
      font-weight: 700;
      text-align: center;
    }
  }

  &__form {
    margin-top: 1rem;
    display: grid;
    gap: 0.7rem;

    .input input {
      padding-block: 0.6rem;
    }

    .dob {
      label {
        top: -5px;
      }

      input {
        padding-block: 0.6rem;
      }
    }
  }

  &__add_dependent {
    width: fit-content;
    gap: 0.4rem;
    text-transform: none;
  }

  &__form_submit {
    @include mi.tertiary_button;
    margin: 1rem auto 0;
    font-weight: 700 !important;
    padding: 0.7rem 2.5rem !important;
  }

  @include mi.responsive("large") {
    max-width: unset;
  }
}
