@import "../../../../assets/styles/variables.scss";
@import "../../../../assets/styles/mixin.scss";

.storeListWrapper {
  @include iris_container;
  .noStoreFoundTxt {
    @include fontFSWH($secondary-font, 34px, 400, 43px);
    margin-top: 20px;
  }
  .storeExpandSummary {
    display: flex;
    justify-content: center;
    padding: 0px 20px;
    min-height: 0px;
    margin-left: 20px;
    width: fit-content;
  }
  .storeExpandHeading {
    @include fontFSWH($primary-font, 14px, 500, 19px);
    color: $tertiary-font-color;
  }
  .noStoreFoundSupportTxt {
    @include fontFSWH($primary-font, 20px, 400, 34px);
    margin: 40px 0px;
    color: $primary-font-color;
    @media screen and (max-width: $medium) {
      margin: 20px 0px;
    }
  }
  .areaName {
    @include fontFSWH($secondary-font, 34px, 400, 43px);
    margin: 20px 0px 20px 0px;
    color: $secondary-color;
  }
  .searchPageContainer {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @media screen and (max-width: $medium) {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
    }
  }
  .storeWrapper {
    width: 44%;
    @media screen and (max-width: $medium) {
      width: 100%;
    }
    .searchHelper {
      @include fontFSWH($secondary-font, 14px, 400, 18px);
      color: $tertiary-font-color;
      margin-bottom: 20px;
      margin-top: 0px;
      @media screen and (max-width: $medium) {
        margin-top: 20px;
      }
    }
  }
  .storeNumber {
    @include fontFSWH($primary-font, 20px, 400, 24px);
    color: $primary-font-color;
    margin-left: 10px;
  }
  .yourClosestStoreHeading {
    text-align: left;
    @include fontFSWH($secondary-font, 30px, 400, 43px);
    color: $secondary-color;
  }
  .mapArea {
    width: 100%;
    height: 680px;
    @media screen and (max-width: $medium) {
      height: 350px;
    }
  }
  .toggleButtonWrapper {
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;

    .toggleBtn {
      border-color: $primary-color;
      color: $tertiary-font-color;
      padding: 10px;
      width: 80px;
      height: 40px;
      &:hover {
        color: $primary-color;
        background-color: $primary-font-color;
        transition: all 0.5s ease;
      }
    }
  }

  .yourClosestStoreContainer {
    padding: 24px 0px;
    display: flex;
    flex-direction: row;
    @media screen and (max-width: $large) {
      flex-direction: column-reverse;
    }
    @media screen and (max-width: $medium) {
      flex-direction: row;
    }
    @media screen and (max-width: $small) {
      flex-direction: column-reverse;
    }
  }
  .storeHoursContainer {
    width: 275px;
    background-color: $white;
    border: 1px solid $primary-light-color;
    padding: 15px;
    border-radius: 10px;
    position: relative;

    .storeHourLoadingBox {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .storeHourLoadingText {
        @include fontFSWH($primary-font, 18px, 400, 22px);
        @media screen and (max-width: $extra-large) {
          @include fontFSWH($primary-font, 16px, 400, 20px);
        }
      }
      .loadingDots {
        display: inline-block;
        width: 1em;
        text-align: center;
        overflow: hidden;

        &::before,
        &::after,
        & {
          content: "\2026"; // Unicode for ellipsis (...)
          animation: dots 1.5s infinite;
        }
        @keyframes dots {
          0%,
          20% {
            transform: translateY(0);
          }
          50% {
            transform: translateY(-0.25em);
          }
          100% {
            transform: translateY(0);
          }
        }
      }
    }

    & .storeHoursVerticalBar {
      position: absolute;
      border: 1px solid $primary-light-color;
      height: 220px;
      width: 0;
      top: 50px !important;
      margin-left: 50px;
    }
    & .storeHoursVerticalBarFloated {
      position: absolute;
      border: 1px solid $primary-light-color;
      height: 300px;
      width: 0;
      top: 21px !important;
      margin-left: 50px;
    }
  }
  .storeHoursHeading {
    display: flex;
    align-items: center;
    @include fontFSWH($primary-font, 16px, 400, 19px);
    text-align: left;
    margin-bottom: 10px;
    & span {
      margin-left: 5px;
    }
  }
  .centerBtn {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .loadMoreSkeleton{
    display: flex;
    justify-content: center;
    padding: 50px 0px;
  }
  .storeHoursTimingItem {
    letter-spacing: 0em;
    text-align: left;
    @include fontFSWH($primary-font, 16px, 400, 20px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $tertiary-font-color;

    .dayHeading {
      width: 25%;
      padding: 8px;
      @include fontFSWH($primary-font, 20px, 500, 24px);

      // Text Style
      @media screen and (max-width: $small) {
        @include fontFSWH($primary-font, 12px, 500, 18px);
      }

      @media (max-width: $extra-large) {
        @include fontFSWH($primary-font, 16px, 500, 20px);
      }
    }

    .statusHeading {
      width: 75%;
      padding: 8px;
      @include fontFSWH($primary-font, 20px, 500, 28px);

      @media screen and (max-width: $small) {
        @include fontFSWH($primary-font, 12px, 500, 16px);
      }

      @media (max-width: $extra-large) {
        @include fontFSWH($primary-font, 16px, 500, 20px);
      }
    }

    & .day {
      width: 34%;
      padding: 8px;
      .highlightedDay {
        @include fontFSWH($primary-font, 14px, 500, 18px);
        @media screen and (max-width: $extra-large) {
          @include fontFSWH($primary-font, 12px, 500, 16px);
        }
      }
      .normalDay {
        @include fontFSWH($primary-font, 14px, 400, 18px);
        @media screen and (max-width: $extra-large) {
          @include fontFSWH($primary-font, 12px, 400, 16px);
        }
      }
    }
    .status {
      width: 100%;
      padding: 8px;
      .normalStatus {
        @include fontFSWH($primary-font, 15px, 400, 19px);
        @media screen and (max-width: $extra-large) {
          @include fontFSWH($primary-font, 12px, 400, 16px);
        }
      }
      .highlightedStatus {
        @include fontFSWH($primary-font, 15px, 500, 19px);
        @media screen and (max-width: $extra-large) {
          @include fontFSWH($primary-font, 12px, 500, 16px);
        }
      }
    }
  }

  .defaultAddressContainer {
    display: flex;
    justify-content: flex-start;
    & .defaultAddressOrder {
      text-align: center;
      margin-right: 10px;
      @include fontFSWH($primary-font, 16px, 400, 20px);
      border-radius: 50%;
      width: 32px;
      height: 32px;
      color: $white;
      background-color: $secondary-color;
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: $large) {
        width: 36px;
      }
      @media screen and (min-width: $large) and (max-width: $extra-large) {
        width: 38px;
      }
    }
    & .defaultAddressHeading {
      margin-top: 3px;
      text-align: left;
      @include fontFSWH($secondary-font, 24px, 400, 30px);
      @media screen and (max-width: $extra-large) {
        @include fontFSWH($secondary-font, 20px, 400, 26px);
      }
      @media screen and (max-width: $medium) {
        @include fontFSWH($secondary-font, 16px, 400, 22px);
      }
    }
    & .changeStoreSerialNo {
      margin-top: 3px;
      margin-right: 20px;
      @include fontFSWH($secondary-font, 24px, 400, 32px);
    }
  }
  .storeChangeTiming {
    width: 60%;
  }
  .defaultAddressTiming {
    text-align: left;
    @include fontFSWH($primary-font, 16px, 400, 19px);
    color: $primary-font-color;
    margin-top: 16px;
    margin-bottom: 25px;
    @media screen and (max-width: $extra-large) {
      @include fontFSWH($primary-font, 13px, 400, 17px);
    }
    @media screen and (max-width: $medium) {
      @include fontFSWH($primary-font, 12px, 400, 15px);
    }
  }
  .defaultStoreAddress {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0px 16px 0px;
    color: $secondary-font-color;
    align-items: center;
    text-align: left;
    @include fontFSWH($secondary-font, 14px, 400, 17px);

    & .eyeLabCircle {
      border-radius: 50%;
      width: 14px;
      height: 14px;
      background-color: $secondary-font-color;
      display: inline-block;
      margin-right: 5px;
    }
    & .eyelab {
      border: 1px solid $primary-light-color;
      width: 0;
      height: 12px;
      margin: 0px 5px;
    }
  }
  .defaultAddressEyeLab {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    @include fontFSWH($primary-font, 14px, 400, 17px);
    align-items: center;
    text-align: left;
    margin-bottom: 16px;
    color: $secondary-font-color;
    & .eyeLabCircle {
      border-radius: 50%;
      width: 14px;
      height: 14px;
      background-color: $secondary-font-color;
      display: inline-block;
      margin-right: 5px;
    }
    & .eyelab {
      border: 1px solid $secondary-font-color;
      width: 0;
      height: 12px;
      margin-left: 5px;
      margin-right: 5px;
    }
  }
  .directionBox {
    margin-bottom: 30px;
  }
  .mobileDirectionBox {
    display: none;
    @media screen and (max-width: $small) {
      display: flex;
      margin-bottom: 20px;
    }
    @media screen and (min-width: $medium) and (max-width: $large) {
      display: flex;
      margin-bottom: 20px;
    }
  }
  .noStoreText {
    margin: 20px;
    @include fontFSWH($primary-font, 20px, 400, 17px);
  }
  .noStoreText {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 10px 0px;
    p {
      color: $primary-font-color;
      @include fontFSWH($primary-font, 20px, 400, 24px);
      @media screen and (max-width: $extra-large) {
        @include fontFSWH($primary-font, 16px, 400, 19px);
      }
    }
  }
  .directionbtn {
    @include secondary_button;
    @include fontFSWH($primary-font, 10px, 400, 12px);
    width: fit-content;
    margin: 0px 0px 10px 0px;
    padding: 5px 10px !important;
    border-radius: 5px;
    font-size: 10px !important;
    @media screen and (max-width: $small) {
      margin-right: 20px;
    }
    @media screen and (min-width: $medium) and (max-width: $large) {
      margin-right: 20px;
    }
  }

  .storeHourBtn {
    width: 100%;
    margin-right: 10px;
  }

  .defaultAddressDetails {
    width: 130px;
    @include fontFSWH($primary-font, 18px, 400, 24px);
    color: $primary-font-color;
    text-align: left;
    margin-bottom: 7px;
    @media screen and (max-width: $extra-large) {
      @include fontFSWH($primary-font, 12px, 400, 18px);
    }
  }
  .showDetailsBtn {
    margin: 40px 20px;
    @media screen and (max-width: $medium) {
      margin: 40px 0px;
    }
  }
  .storeLink {
    display: flex;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    text-decoration: underline;
    color: $primary-color !important;
    &:hover {
      color: $primary-dark-color !important;
    }
  }

  .defaultAddressSameDay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    @include fontFSWH($primary-font, 14px, 400, 24px);
    @media screen and (max-width: $extra-large) {
      @include fontFSWH($primary-font, 12px, 400, 18px);
    }
    @media screen and (max-width: $medium) {
      @include fontFSWH($primary-font, 10px, 500, 16px);
    }
  }
  .btnColor {
    @include primary_button;
    width: 100%;
    @media screen and (min-width: $small) and (max-width: $medium) {
      width: fit-content;
    }
  }
  .secondaryBtnColor {
    @include secondary_button;
    width: 100%;
    margin: 0;
    @media screen and (min-width: $small) and (max-width: $medium) {
      width: fit-content;
    }
  }
  .loadMoreBtn {
    @include tertiary_button;
    width: fit-content;
  }

  .sideBarBtn {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    @media screen and (min-width: $small) and (max-width: $medium) {
      justify-content: center;
    }
  }
  .storeBtnMarginLeft {
    margin-left: 15px;
  }

  .btnBox {
    display: flex;
    width: 100%;
    align-items: center;
    @media screen and (max-width: $small) {
      display: none;
    }
    @media screen and (min-width: $medium) and (max-width: $large) {
      display: none;
    }
  }
  .lookupDisable:hover {
    cursor: not-allowed;
  }
  .lookupAllow:hover {
    cursor: pointer;
  }

  .lookup {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
    & .useMyCurrLoc {
      margin-left: 10px;
      color: $primary-font-color;
      @include fontFSWH($primary-font, 16px, 500, 19px);
      @media screen and (max-width: $extra-large) {
        @include fontFSWH($primary-font, 14px, 500, 17px);
      }
      @media screen and (max-width: $medium) {
        @include fontFSWH($primary-font, 12px, 500, 14px);
      }
    }
    @media screen and (max-width: $medium) {
      margin-left: 0px;
      margin-top: 20px;
    }
  }
  .lookupSearch {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 35px;
    & .lookupTxt {
      width: 35vw;
      border-radius: 10px;
      @media screen and (max-width: $medium) {
        width: 55vw;
      }
      input {
        height: 30px;
        padding: 10px 15px;

        @media screen and (max-width: $extra-large) {
          height: 24px;
        }
        @media screen and (max-width: $medium) {
          height: 18px;
        }
      }
    }
    & .lookupBtn {
      @include primary_button;
      width: 10vw;
      margin-left: 10px;
      border-radius: 14px;
      @media screen and (max-width: $large) {
        width: 13vw;
      }
      @media screen and (max-width: $medium) {
        width: 18vw;
      }
      @media screen and (max-width: $small) {
        width: 30vw;
      }
    }
  }
  .mapWrapper {
    width: 56%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: $medium) {
      width: 100%;
    }
  }
}
.faq {
  margin: 20px Opx;

  .item {
    margin: 8px 0px;
    &__question {
      font-weight: 500;
    }

    &__answer {
      display: grid;
      gap: 0.6rem;

      & :is(ul, ol) {
        padding-left: 1rem;

        li:not(:last-child) {
          margin-bottom: 0.4rem;
        }
      }
    }
  }

}

.grandOpening {
  color: $secondary-color;
}