@import "../../../../../assets//styles/variables.scss";
@import "../../../../../assets/styles/mixin.scss";

.mainBox {
  padding: 60px 0px;
  & .imgBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
    background-color: $primary-light-color;
  }
}
.leftBox {
  & .heading1 {
    margin-bottom: 30px;
    @include fontFSWH($primary-font, 24px, 400, 29px);
    letter-spacing: 0em;
    text-align: left;
  }
  & p {
    @include fontFSWH($primary-font, 16px, 400, 30px);
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 40px;
  }
}
