@import "../../../../../assets/styles/_mixin.scss";

.authOuterWrapper {
  background-color: var(--quaternary-bg-color);

  .authContainer {
    @include iris_container;
  }
}

.signUpWrapper {
  width: 100%;

  @include responsive("medium") {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @include media-query(1025px) {
    gap: 2rem;
    grid-template-columns: 1fr 0.5fr;
  }

  :is(.registration_form, .login_form)>div {
    width: 100%;
  }
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
