@use "../../../../../assets/styles/mixin" as mi;
@use "../../../../../assets/styles/variables" as vars;

.container {
  @include mi.article-container;

  :is(.title, .subtitle, .main-text, .info-group, .footer, .disclaimer) {
    text-align: center;
  }

  .title {
    font: 700 clamp(1.2rem, 5vw, 2rem) / 1.5 vars.$secondary-font;
  }

  .subtitle {
    font: 400 1rem / 1.5 vars.$primary-font;
  }

  .main-text {
    margin-top: 1rem;
    font: 400 1rem / 1.5 vars.$primary-font;
  }

  .button-link {
    margin-block: 1.2rem;

    display: flex;
    justify-content: center;
  }

  .info-group {
    &:is(:first-of-type) {
      margin-bottom: 1rem;
    }

    &__question {
      font-size: 1rem;
    }
  }

  .list {
    display: grid;
    place-content: center;
    margin-top: 1.5rem;

    text-align: left;
    padding-left: 1rem;
  }
}

.footer {
  display: grid;
  place-items: center;
  gap: 1rem;

  background-color: #494949;
  padding: 2rem 1rem;

  &>p {
    text-align: center;
    color: vars.$white;
    font: 700 1.2rem/ 1.5 vars.$secondary-font;
  }
}

.disclaimer {
  margin-top: 1rem;
  max-width: 120ch;
  margin-inline: auto;
}
