@import "../../../../../assets//styles/variables.scss";
@import "../../../../../assets/styles/mixin.scss";

.mainBox {
  @include iris_container;
  padding: 0px 20px;
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media screen and (max-width: $medium) {
    padding-top: 30px;
  }

  .title {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    text-align: center;

    @media screen and (max-width: $medium) {
      padding-bottom: 20px;
    }

    h2 {
      @include fontFSWH($primary-font, 28px, 700, 32px);

      @media (max-width: $extra-large) {
        @include fontFSWH($primary-font, 24px, 700, 28px);
      }
    }
  }

  & .btnBookEye {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  & .imgBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 2px dashed $primary-color;
    margin: 0px 20px;

    .boxContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  .disclaimerBtn {
    @include primary_link;
  }
}

.leftBox {
  & .heading1 {
    margin-bottom: 30px;
    @include fontFSWH($primary-font, 24px, 400, 29px);
    letter-spacing: 0em;
    text-align: left;
  }

  & p {
    @include fontFSWH($primary-font, 16px, 400, 30px);
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 40px;
  }
}