@use "../../../../../assets/styles/mixin" as mi;
@import "../../../../../assets/styles/variables";

.container {
    @include mi.article-container;
    padding-bottom: 40px;
    max-width: 650px;
    text-align: center;
    font-size: 16px;

    @media(max-width: $small) {
        padding-bottom: 10px;
    }

    .link {
        @include mi.dark-site-link;
    }

    h1 {
        color: $primary-font-color;
        margin: 30px 0 28px;
    }
}

.disclaimer {
    @include mi.article-container;
    margin-bottom: 4rem;
    text-align: center;
    font-size: 11px;
}

.circle {
    position: relative;
    background: $primary-color;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.checkmark {
    position: absolute;
    transform: rotate(45deg) translate(-50%, -50%);
    left: 23%;
    top: 45%;
    height: 35px;
    width: 20px;
    border-bottom: 6px solid white;
    border-right: 6px solid white;
}

.successCcpaMessage {
    padding: 30px !important;
    margin: 0 auto;
    max-width: 650px;
    text-align: center;

    .circleContainer {
        display: flex;
        justify-content: center;
    }

    h1 {
        margin: 30px 0 28px;
        font-size: 48px;
        font-family: $secondary-font;
        color: $primary-font-color;

        @media(max-width: $small) {
            font-size: 1.8em;
        }
    }

    p {
        font-family: $secondary-font;
        color: $secondary-font-color;
    }
}