@import "../../../../assets/styles/_variables.scss";
@import "../../../../assets/styles/mixin";

.modalContainer {
  position: relative;
  max-width: 600px;
  background: $white;
  border-radius: 5px;
  padding: 20px;
  @include iris_modal_container;

  @media (max-width: $extra-large) {
    max-width: 480px;
    padding: 16px;
  }
  @media (max-width: $small) {
    width: 95%;
  }

  .headingwrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    .headingText {
      @include fontFSWH($secondary-font, 18px, 400, 24px);
      font-style: normal;
      color: $black;
      margin: 0px;

      @media (max-width: $extra-large) {
        @include fontFSWH($secondary-font, 13px, 400, 18px);
      }
    }

    .closeIconWrapper {
      width: 20px;
      height: 20px;
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 20px;

      @media (max-width: $extra-large) {
        top: 15px;
        width: 16px;
        height: 16px;

        svg {
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  .modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;

    @media (max-width: $extra-large) {
      margin: 10px 0px;
    }

    .contentMessage {
      @include fontFSWH($primary-font, 18px, 400, 24px);
      font-style: normal;
      text-align: center;
      color: $black;

      @media (max-width: $extra-large) {
        @include fontFSWH($primary-font, 13px, 400, 18px);
      }
    }

    .actionContent {
      margin: 25px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      @media (max-width: $extra-large) {
        margin: 20px 0 10px 0;
      }

      .primaryButtonStyle {
        @include primary_button;
        cursor: pointer;
      }

      .tertiaryButtonStyle {
        @include tertiary_button;
        cursor: pointer;
      }
    }
  }
}
