@import "../../../../../assets/styles/_variables.scss";
@import "../../../../../assets/styles/_mixin.scss";

.storeDetailsSkeletonWrapper {
  @include iris_container;
  margin-bottom: 50px;
  margin-top: 35px;

  @media (max-width: $extra-large) {
    margin-top: 25px;
  }
  .breadCrumb {
    @media (max-width: $medium) {
      display: none;
    }
  }
  .header {
    margin-top: 60px;
    display: flex;
    gap: 30px;

    @media (max-width: $medium) {
      flex-direction: column;
      margin-top: 20px;
    }

    .headerLeft {
      width: 100%;

      @media (max-width: $medium) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .title {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        @media (max-width: $medium) {
          align-items: center;
        }
      }

      .time {
        margin-top: 20px;
      }

      .details {
        margin-top: 30px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        @media (max-width: $medium) {
          flex-direction: column;
          align-items: center;
        }
        .detailsLeft {
          display: flex;
          flex-direction: column;
          gap: 35px;
          @media (max-width: $medium) {
            align-items: center;
            gap: 25px;
          }
          .address {
            display: flex;
            flex-direction: column;
            gap: 5px;

            @media (max-width: $medium) {
              align-items: center;
            }
          }
        }
        .detailsRight {
          margin-top: 10px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          .detailsRightSubMenu {
            display: flex;
            flex-direction: column;
            gap: 10px;
            @media (max-width: $medium) {
              display: none;
            }
          }
        }
      }

      .timeTable {
        margin-top: 30px;
        display: flex;
        gap: 10px;
        flex-direction: column;
        @media (max-width: $medium) {
          display: none;
        }
        .row {
          width: 300px;
          display: flex;
          justify-content: space-between;
        }
      }
    }

    .headerRight {
      @media (max-width: $medium) {
        display: none;
      }
    }

    .headerRightMobile {
      display: none;
      @media (max-width: $medium) {
        display: block;
      }
    }
  }

  .infoSection {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    .title {
      @media (max-width: $medium) {
        display: none;
      }
    }
    .titleMobile {
      display: none;
      width: 100%;
      @media (max-width: $medium) {
        display: flex;
        justify-content: center;
      }
    }
    .text {
      width: 80%;
      .line {
        margin-top: 10px;
        display: flex;
        gap: 10px;
      }
    }
  }

  .detailsSection {
    margin-top: 50px;
    display: flex;
    gap: 30px;

    @media (max-width: $medium) {
      flex-direction: column;
    }

    .map {
      @media (max-width: $medium) {
        display: none;
      }
    }

    .mapMobile {
      display: none;
      @media (max-width: $medium) {
        display: flex;
        justify-content: center;
      }
    }

    .detailsRight {
      padding: 20px 0px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 30px;

      .detailsRightInfoCard {
        display: flex;
        gap: 20px;
        align-items: center;

        @media (max-width: $medium) {
          flex-direction: column;
        }

        .infoText {
          display: flex;
          flex-direction: column;
          gap: 10px;
          @media (max-width: $medium) {
            display: none;
          }
        }

        .infoTextMobile {
          display: none;
          flex-direction: column;
          align-items: center;
          gap: 10px;
          width: 100%;

          @media (max-width: $medium) {
            display: flex;
          }
        }
      }
    }
  }

  .offerSection {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    @media (max-width: $medium) {
      display: none;
    }

    .row {
      display: flex;
      gap: 30px;
      justify-content: center;
    }
  }
  .offerSectionMobile {
    display: none;
    margin-top: 60px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;

    @media (max-width: $medium) {
      display: flex;
    }
  }

  .faqSection {
    margin-top: 60px;
    display: flex;
    gap: 50px;

    @media (max-width: $medium) {
      flex-direction: column;
    }

    .faqLeft {
      @media (max-width: $medium) {
        display: none;
      }
    }

    .faqRight {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 20px;
      @media (max-width: $medium) {
        align-items: center;
      }
      .title {
        width: 100%;
        margin-bottom: 20px;
        @media (max-width: $medium) {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
