@import "../../../../assets/styles/_variables.scss";
@import "../../../../assets/styles/_mixin.scss";

.addPatientModalWrapper {
  .headingwrapper {
    display: flex;
    justify-content: space-between;

    .headingText {
      @include fontFSWH($secondary-font, 20px, 400, normal);
      font-style: normal;
      color: $tertiary-font-color;
      margin: 0px;

      @media (max-width: $extra-large) {
        @include fontFSWH($secondary-font, 18px, 400, normal);
      }
    }

    .closeIconWrapper {
      text-align: center;
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
  }

  .lineColor {
    border-color: $secondary-font-color;
    margin-top: 11px;
  }

  .createBtn {
    @include primary_button;
    width: 100%;
    text-align: center;
    width: 100%;
    margin-top: 15px;
  }

  .addPatientModalContainer {
    max-height: 75vh;
    height: 100%;
    overflow-y: auto;
    margin-top: 0px;
    @include paddingTBLR(0px, 0px, 0px, 10px);
    @media (max-width: $large) {
      max-height: 60vh;
    }

    .formFields {
      display: flex;
      flex-direction: column;

      .formLabel {
        color: $tertiary-font-color;
        @include fontFSWH($primary-font, 16px, 400, normal);
        font-style: normal;
        margin-top: 20px;

        @media (max-width: $extra-large) {
          margin-top: 15px;
          @include fontFSWH($primary-font, 13px, 400, normal);
        }
      }

      .mobileInput {
        display: grid;

        .mobileNumber {
          width: 100%;
        }

        .countryCode {
          margin-top: 9px;
          height: 51px;
          color: $secondary-font-color;
          @include fontFSWH($primary-font, 16px, 400, normal);
          font-style: normal;
          align-items: center;
          padding-top: 4px;
          border-radius: 10px;

          @media (max-width: $extra-large) {
            @include fontFSWH($primary-font, 13px, 400, normal);
            height: 36px;
          }

          > div {
            margin: 0px;
            height: auto !important;
          }
        }

        .mobileNumberExistsMessage {
          color: $red;
          margin-top: 10px;

          @media (max-width: $extra-large) {
            @include fontFSWH($primary-font, 12px, 400, normal);
          }
        }
      }

      .dobPicker {
        margin: 0px;
      }

      .selectCompErrorText {
        color: $red;
        margin-top: 10px;
        margin-left: 16px;
      }

      .selectRelationshipBox {
        border-radius: 10px;
        border: 1px solid $secondary-font-color;
        background: $white;
        margin-top: 28px;
        padding: 25px;

        @media (max-width: $extra-large) {
          margin-top: 20px;
          padding: 20px;
        }

        .boxHeading {
          @include fontFSWH($primary-font, 20px, 400, normal);
          color: $tertiary-font-color;
          font-style: normal;

          @media (max-width: $extra-large) {
            @include fontFSWH($primary-font, 16px, 400, normal);
          }
        }

        .patientListSection {
          margin: 20px 0px;

          @media (max-width: $extra-large) {
            margin: 15px 0;
          }

          .buttonSectionWrapper {
            text-align: end;
          }

          .namePhoneSection {
            display: flex;
            justify-content: space-between;
          }

          .dateEmailSection {
            display: flex;
            justify-content: space-between;
            margin-left: 50px;
            .dateEmailWrapper {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
            }
          }

          .patientDataStyle {
            @include fontFSWH($primary-font, 16px, 400, normal);
            color: $primary-font-color;
            font-style: normal;
            display: grid;
            margin-bottom: 10px;
            margin-top: 5px;

            @media (max-width: $extra-large) {
              @include fontFSWH($primary-font, 13px, 400, normal);
              margin-bottom: 5px;
            }
          }

          .selectPatientButton {
            @include primary_button;
            text-transform: initial;

            @media (max-width: $extra-large) {
              padding-left: 10px;
              padding-right: 10px;
            }
          }

          .selectedPatientButton {
            background-color: $primary-dark-color;
          }
        }

        .selectRelationSection {
          > label {
            padding-top: 4px;
          }

          > div {
            margin-top: 9px;
            height: 45px;
            border-radius: 10px;
            color: $primary-font-color;
            @include fontFSWH($primary-font, 16px, 400, normal);
            font-style: normal;
            align-items: center;
            padding-top: 4px;

            @media (max-width: $extra-large) {
              @include fontFSWH($primary-font, 13px, 400, normal);
              height: 36px;
            }
          }
        }
      }
    }
  }

  .textInput {
    margin: 0px;

    > div {
      margin-top: 9px;
      margin-bottom: 0px;
      border-radius: 10px;

      @media (max-width: $extra-large) {
        height: 36px;
      }
    }

    input {
      @include fontFSWH($primary-font, 16px, 400, normal);
      text-align: left;
      height: auto;

      @media (max-width: $extra-large) {
        @include fontFSWH($primary-font, 13px, 400, normal);
      }
    }

    fieldset {
      border-radius: 10px;
      border: 1px solid $secondary-font-color;
    }
  }

  .skipRelation span {
    @media (max-width: $extra-large) {
      @include fontFSWH($primary-font, 13px, 400, normal);
    }
  }
}
