@import "../../../../assets/styles/mixin";
@import "../../../../assets/styles/fonts";
@import "../../../../assets/styles/variables";

.patientStepContainer {
  width: 100%;
  overflow-y: auto;
  height: auto;

  &>div>.questionContainer {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px;


    @media (max-width : $medium) {
      grid-template-columns: 1fr !important;
      gap: 16px !important;
    }
  }
}

.patientIntakeStepModal {
  max-height: 65vh;
}

.stepActions {
  width: 100%;
  margin: 24px auto 24px auto;
  @include flex(center, space-between, row);

  &>button {
    cursor: pointer;
    @include primary_button;
  }

  &>button:first-child {
    @include tertiary_button;
  }
}

.disabledButton {
  opacity: 0.5;
  cursor: not-allowed !important;
}