@use "../../../../assets/styles/mixin" as mi;

.faq {
  display: grid;
  gap: 1rem;

  @include mi.media-query(768px) {
    grid-template-columns: 1fr 1fr;
  }

  .item {
    &__question {
      font-weight: 500;
    }

    &__answer {
      display: grid;
      gap: 0.6rem;

      & :is(ul, ol) {
        padding-left: 1rem;

        li:not(:last-child) {
          margin-bottom: 0.4rem;
        }
      }
    }
  }
}
