@import "../../../../assets/styles/mixin";
@import "../../../../assets/styles/variables";

.myAccountFavoritesWrapper {
  min-height: 700px;
  margin: 0;
  padding: 0;

  .favoritesInnerWrapper {
    margin: 20px;

    @media (max-width: 768px) {
      margin: 15px;
    }

    .table {
      .likeIcon {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;
      }

      @media (max-width: $small) {
        .tableRow {
          display: flex;
          flex-direction: column;
        }

        td {
          padding: 5px;
          border: none;
        }
      }

      .imageDiv {
        width: 200px;
        height: 100px;

        @media (max-width: $extra-large) {
          width: 170px;
          height: 80px;
        }

        @media (max-width: $large) {
          width: 150px;
          height: 60px;
        }

        @media (max-width: $small) {
          width: 100%;
          height: 100%;
        }

        .imageThubmnail {
          width: 100%;
          height: 100%;
        }
      }

      .descriptionWrapper {
        .productName {
          @include fontFSWH($primary-font, 20px, 400, 24.02px);
          margin-bottom: 5px;

          @media (max-width: $extra-large) {
            @include fontFSWH($primary-font, 16px, 400, 19px);
          }
        }

        .description {
          @include fontFSWH($primary-font, 15px, 400, 20px);
          color: $secondary-font-color;

          @media (max-width: $extra-large) {
            @include fontFSWH($primary-font, 13px, 400, 17px);
          }
        }
      }

      .dateAdded {
        @include fontFSWH($primary-font, 16px, 400, 20px);
        color: $secondary-font-color;

        @media (max-width: $extra-large) {
          @include fontFSWH($primary-font, 13px, 400, 17px);
        }
      }

      .actionButtonWrapper {
        display: flex;
        justify-content: space-between;
        gap: 5px;

        @media (max-width: $large) {
          gap: 10px;
        }

        @media (max-width: $medium) {
          flex-direction: column;
        }

        @media (max-width: $small) {
          flex-direction: row-reverse;
        }

        .addToCartBtn {
          @include primary_button;
          border-radius: 5px;
        }

        .deleteBtn {
          @include secondary_button;
          margin-left: 0px;
          margin-bottom: 0px;
          border-radius: 5px;
        }
      }
    }
  }
}
