@use "../../../../../assets/styles/mixin" as mi;
@use "../../../../../assets/styles/variables" as vars;

.sitemapContainer {
    @include mi.iris_container;
    margin-bottom: 2rem;

    h1 {
        @include mi.fontFSWH(vars.$primary-font, 28px, 600, 32px);
        margin: 2rem 1rem;

        @media (max-width: vars.$extra-large) {
            @include mi.fontFSWH(vars.$primary-font, 24px, 600, 28px);
        }
    }

    h2 {
        @include mi.fontFSWH(vars.$primary-font, 20px, 500, 24px);
        margin-left: 1rem;

        @media (max-width: vars.$extra-large) {
            @include mi.fontFSWH(vars.$primary-font, 18px, 500, 20px);
        }
    }

    h3 {
        @include mi.fontFSWH(vars.$primary-font, 18px, 500, 20px);
        margin-left: 1rem;
        margin-top: 1rem;
        color: vars.$primary-font-color;

        @media (max-width: vars.$extra-large) {
            @include mi.fontFSWH(vars.$primary-font, 16px, 500, 16px);
        }
    }

    .otherContainer {
        margin-top: 1.25rem;
    }

    .item {
        color: vars.$primary-font-color;
    }
}