@import "../../../../assets/styles/mixin";
@import "../../../../assets/styles/fonts";
@import "../../../../assets/styles/variables";

html body {
  .summaryRoot {
    background-color: $white !important;
    margin: 2px;
  }

  .accordionRoot {
    margin-bottom: 12px;
    border: 1px solid $primary-light-color;
    box-shadow: none;
    border-radius: 5px;

    &::before {
      display: none;
    }
  }

  .accordionSummary {
    @include flex(center, space-between, row);
    padding: 8px 15px;
    margin: 10px 0;

    @media (max-width: $extra-large) {
      padding: 0;
    }

    & > div {
      @include flex(flex-start, center, column);
      @include fontFSWH($primary-font, 20px, 400, 24px);
      border-radius: 10px;

      @media (max-width: $extra-large) {
        @include fontFSWH($primary-font, 16px, 400, 20px);
      }
    }

    & > button {
      margin-right: 15px;
    }

    & input {
      border: none;

      &:focus {
        outline: none;
      }

      @include fontFSWH($primary-font, 16px, 400, 19px);
      color: $primary-font-color;
      background: transparent;

      @media (max-width: $extra-large) {
        @include fontFSWH($primary-font, 13px, 400, 16px);
      }
    }
  }

  .informationContainer {
    width: 80%;
    @include flex(flex-start, center, column);
    margin: 15px auto;

    & > .formInputs {
      width: 100%;
      @include flex(flex-start, flex-start, row);
      @media (max-width: $medium) {
        flex-direction: column;
      }
      & > div {
        flex: 1;
        margin-right: 10px;
        & > div {
          margin-bottom: 14px;
        }
      }
    }
  }

  .formHeader {
    @include fontFSWH($primary_font, 34px, 400, 46px);
    margin-bottom: 24px;

    @media (max-width: $extra-large) {
      @include fontFSWH($primary-font, 26px, 400, 36px);
    }
  }

  .genderInput {
    @include flex(flex-start, flex-start, column);
  }

  .genderRadioBtns {
    margin-top: 8px;
    @include flex(flex-start, flex-start, row);

    & > div {
      @include flex(flex-start, flex-start, row);

      & > span {
        margin-left: 8px;
      }

      &:first-child {
        margin-right: 18px;
      }
    }
  }

  .dobInput {
    width: 100%;
    @include flex(flex-start, flex-start, column);

    & > div {
      width: 100%;
    }
  }

  .greyInput {
    & > div {
      background-color: $primary-light-color;
      border-radius: 10px;
    }
  }
}
