@import "../../../../../assets/styles/_variables.scss";
@import "../../../../../assets/styles/_mixin.scss";
.headerWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  .loginHeaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    padding: 0 50px;
    box-shadow: 0 8px 7px -6px $shadow-color;
    margin-bottom: 2rem;
    width: 100%;
    & > div:nth-child(2) {
      margin: 0 6rem;
    }
    @media (max-width: $medium) {
      padding: 1rem 0;
      margin-bottom: 0px;
    }
    .image {
      max-width: 250px;
      margin-top: -14px;
      @media (max-width: $medium) {
        display: none;
      }
      @media (max-width: $large) {
        margin-top: 0px;
      }
    }
    .loginHeaderHeading {
      color: $secondary-color;
      text-align: center;
      @include fontFSWH($primary-font, 30px, 500, 32px);
      @media (max-width: $extra-large) {
        @include fontFSWH($primary-font, 28px, 500, 30px);
      }
    }
    .loginHeaderText {
      color: $primary-font-color;
      text-align: center;
      @include fontFSWH($primary-font, 20px, 300, 32px);
      @media (max-width: $extra-large) {
        @include fontFSWH($primary-font, 18px, 300, 30px);
      }
    }
  }
}
.boldText {
  font-weight: 500;
}
