@import "../../../../assets/styles/_variables.scss";
@import "../../../../assets/styles/_mixin.scss";

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: $white;
  padding: 24px;
  border-radius: 10px;

  @media (max-width: $extra-large) {
    padding: 20px;
  }

  @media (max-width: 768px) {
    width: 90%;
  }

  .modalInner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  h2 {
    @include fontFSWH($primary-font, 28px, 400, 34px);
    text-align: left;

    @media (max-width: $extra-large) {
      @include fontFSWH($primary-font, 22px, 400, 28px);
    }
  }

  p {
    @include fontFSWH($primary-font, 14px, 400, 17px);
    text-align: left;
    margin-top: 5px;

    @media (max-width: $extra-large) {
      @include fontFSWH($primary-font, 12px, 400, 14px);
    }
  }

  .crossBtn {
    padding: 0;
    min-width: 20px;
  }
}

.addNewUserModalWrapper {
  @include iris_modal_container;
  width: 95%;
  max-width: 1340px;

  @media (max-width: $extra-large) {
    max-width: 1100px;
  }
}

.addLicenseModal {
  @include iris_modal_container;
  width: 95%;
  max-width: 900px;

  @media (max-width: $extra-large) {
    max-width: 750px;
  }
}

.patientAddNewPrescriptionModal {
  @include iris_modal_container;
  width: 95%;
  max-width: 1600px;
  border-radius: 5px;
  height: fit-content;
  overflow-y: auto;
  overflow: auto;

  @media (max-width: $small) {
    height: 85vh;
  }
}

.managedCareClaimPatientFileModal {
  width: 100%;
  max-width: 1500px;
  @include iris_modal_container;
}

.managedCareAddNewCptCodeAndProductTypeModal,
.managedCareClaimStatusAddRemarkModal,
.managedCareAddNewBillingClaimStatusModal,
.managedCareModal,
.marketingDmaAddModal,
.patientCommunicationStatusModal {
  @include iris_modal_container;
  max-width: 600px;

  @media (max-width: $extra-large) {
    max-width: 500px;
  }
}
.managedCareAddNewInsuranceCarrierModal,
.rxRenewalModal {
  @include iris_modal_container;
  max-width: 800px;
  outline: none;
  @media (max-width: $extra-large) {
    max-width: 700px;
  }
}
.managedCareAddNewPlanModal,
.managedCareBenefitSheetModal,
.managedCareAddNewPostPaymentModal,
.managedCareAddNewCptCodeMappingModal,
.managedCareAddNewCarrierModal,
.editDeviceModal {
  max-width: 1000px;
  @include iris_modal_container;
}

.managedCareClaimDetailsModal,
.managedCareClaimStatusTrackingModal,
.managedCareBenefitSheetDetailsViewModal {
  max-width: 1200px;
  @include iris_modal_container;
  padding: 20px;
}

.promotionSetupModal {
  max-width: 1600px;
  @include iris_modal_container;
  padding: 20px;
  width: 90%;
}

.managedCareDeleteCardModal,
.userSetupDeleteUserModal {
  max-width: 600px;
  @include iris_modal_container;
  padding: 20px;
  outline: 0;
}

.managedCareClaimStatusTrackingModal {
  max-width: 1000px;
  @include iris_modal_container;
  padding: 20px;
}

.patientMarketingTableModal {
  max-width: 1600px;
  @include iris_modal_container;
  width: 95%;
  border-radius: 5px;
  height: fit-content;
  overflow-y: auto;
  overflow: auto;

  @media (max-width: $medium) {
    height: 90vh;
  }
}

.managedCareClaimHcfaPdfViewerModal,
.previewIntakeModal {
  @include iris_modal_container;
  max-width: 1600px;
  width: 90%;
}

.packingSlipDetailModal,
.pofModal,
.paymentsModal {
  @include iris_modal_container;
  max-width: 1500px;
  width: 100%;

  @media (max-width: $extra-large) {
    max-width: 1200px;
  }
}

.refundModal {
  max-width: 1050px;
  @include iris_modal_container;
  outline: 0;
}

.marketMessageModal {
  @include iris_modal_container;
  max-width: 1600px;
  width: 90%;
}

.paperCaptureModal {
  @include iris_modal_container;
  max-width: 900px;
  width: 90%;
  overflow: auto;
}

.voOrderProcessingModal {
  @include iris_modal_container;
  max-width: 1000px;
  max-height: 90%;
  overflow: auto;
}

.patientAppointmentsHistoryTableModal {
  max-width: 1000px;
  @include iris_modal_container;
}

.addStoreModal {
  max-width: 1600px;
  width: 95%;
  @include iris_modal_container;

  @media (max-width: $extra-large) {
    max-width: 1000px;
  }
}

.editLoyaltyClubModal {
  max-width: 1600px;
  width: 95%;
  @include iris_modal_container;

  @media (max-width: $extra-large) {
    max-width: 1340px;
  }
}

.permissionModalTable {
  @include iris_modal_container;
  max-width: 1340px;
  width: 90%;
}

.myAccountDeletePhotoModal {
  @include iris_modal_container;
  width: 100%;
  max-width: 600px;
  background: $white;
  padding: 30px;
}

.prescriptionPdfModal {
  @include iris_modal_container;
  width: 95%;
  max-width: 1000px;
  background: $white;
  padding: 10px;
  max-height: 95vh;
  overflow: auto;
  @media (max-width: $large) {
    max-height: 80vh;
    overflow: auto;
  }
}

.RxRejectApproveModal {
  @include iris_modal_container;
  width: 95%;
  max-width: 1600px;
  background: $white;
  padding: 10px;
  max-height: 95vh;
  overflow: auto;
  @media (max-width: $large) {
    max-height: 80vh;
  }
}
.jobSheetModal {
  @include iris_modal_container;
  width: 95%;
  max-width: 1600px;
  background: $white;
  padding: 10px;
  max-height: 95vh;
  @media (max-width: $large) {
    max-height: 80vh;
  }
}

.orderReceiptPdf {
  @include iris_modal_container;
  width: 95%;
  max-width: 1100px;
  background: $white;
  padding: 33px;
  height: 100%;
  max-height: 100vh;
  overflow-y: scroll;

  @media (max-width: $large) {
    max-height: 80vh;
  }

  @media (max-width: $medium) {
    padding: 12px;
  }
}

.myAccountProfilePictureModal {
  @include iris_modal_container;
  width: 95%;
  max-width: 840px;
  max-height: 100%;
  background: $white;
  border-radius: 0px;

  @media (max-width: $extra-large) {
    max-width: 750px;
  }
}

.patientRelationshipAddNewRelationModal,
.patientCreditOverviewModal,
.transferClubModal {
  @include iris_modal_container;
  max-width: 928px;
  width: 90%;

  @media (max-width: $extra-large) {
    max-width: 750px;
  }
}

.addLoyaltyClubModal {
  @include iris_modal_container;
  max-width: 1000px;
  width: 90%;

  @media (max-width: $extra-large) {
    max-width: 750px;
  }
}

.patientRelationshipAddRelationSuccessModal,
.patientAddCreditModal {
  @include iris_modal_container;
  max-width: 600px;
  width: 90%;
  padding-right: 14px;

  @media (max-width: $extra-large) {
    max-width: 500px;
    padding-right: 10px;
  }
}

.RxRejectModal {
  @include iris_modal_container;
  max-width: 800px;
  width: 100%;
  @media (max-width: $extra-large) {
    max-width: 700px;
  }
}

.operationCommandDamageLensModal {
  max-width: 600px;
  width: 100%;
}

.operationCommandImageCaptureModal {
  max-width: 700px;
  width: 100%;
}

.paperCaptureImageModal {
  max-width: 630px;
  width: 100%;
}
.operationCommandRemarkModal {
  @include iris_modal_container;
  max-width: 400px;
  width: 100%;
}

.operationCommandHistoryModal {
  @include iris_modal_container;
  max-width: 800px;
  width: 100%;
}

.operationCommandProximityModal {
  @include iris_modal_container;
  max-width: 1200px;
}

.operationCommandSmallModal {
  @include iris_modal_container;
  max-width: 550px;
  width: 100%;
}

.patientRelationshipEditRelationModal {
  @include iris_modal_container;
  max-width: 640px;
  width: 90%;

  @media (max-width: $extra-large) {
    max-width: 520px;
  }
}

.addNewModalWrapper {
  @include iris_modal_container;
  max-width: 1680px;
  width: 90%;
}

.addPatientOtpModal {
  @include iris_modal_container;
  max-width: 600px;
  width: 90%;
  padding: 0px;

  @media (max-width: $extra-large) {
    max-width: 480px;
  }
}

.addUserRoleModal {
  @include iris_modal_container;
  max-width: 600px;
  width: 90%;

  @media (max-width: $extra-large) {
    max-width: 500px;
  }
}

.addJobHubRuleModal {
  @include iris_modal_container;
  max-width: 1340px;

  @media (max-width: $extra-large) {
    max-width: 1200px;
  }
}

.addConditionJobHubRuleModal,
.addAndEditCountyModal,
.editConfigModal,
.addAndEditZipModal,
.addAndEditPaperCaptureSubcategoryModal {
  @include iris_modal_container;
  max-width: 600px;
  width: 90%;

  @media (max-width: $extra-large) {
    max-width: 500px;
  }
}

.addRefundReasonModal,
.addLabTypeStatusModal,
.addEditOrderStatusModal {
  @include iris_modal_container;
  max-width: 600px;
  width: 90%;

  @media (max-width: $extra-large) {
    max-width: 500px;
  }
}

.seoOfferDetailsModal {
  @include iris_modal_container;
  max-width: 600px;
  width: 90%;

  @media (max-width: $medium) {
    max-width: 450px;
  }

  @media (max-width: $small) {
    max-width: 300px;
  }
}

.myAccountAgentCallModal {
  @include iris_modal_container;
  max-width: 650px;
  width: 90%;

  @media (max-width: $medium) {
    max-width: 350px;
    width: 70%;
  }

  @media (max-width: $small) {
    max-width: 250px;
    width: 70%;
  }
}

.appointmentTypesModal {
  @include iris_modal_container;
  max-width: 600px;
  width: 90%;

  @media (max-width: $extra-large) {
    max-width: 500px;
  }
}

.appointmentStatusModal {
  @include iris_modal_container;
  max-width: 600px;
  width: 90%;
}

.doubleBookingRulesModal {
  @include iris_modal_container;
  max-width: 800px;
  width: 90%;

  @media (max-width: $extra-large) {
    max-width: 700px;
  }
}

.ageRestrictionRulesModal {
  @include iris_modal_container;
  max-width: 600px;
  width: 90%;

  @media (max-width: $extra-large) {
    max-width: 500px;
  }
}

.tabletCheckInModal {
  @include iris_modal_container;
  max-width: 600px;
  width: 90%;

  @media (max-width: $extra-large) {
    max-width: 500px;
  }
}

.dcModalForm {
  @include iris_modal_container;
  max-width: 1340px;
  width: 90%;
  outline: none;
}

.storeSetupDetailWrapper {
  @include iris_modal_container;
  max-width: 1340px;
  width: 90%;
  outline: none;
  max-height: 90vh;
  overflow-y: auto;
}

.patientPaperCaptureUploadModal {
  @include iris_modal_container;
  max-width: 900px;
  width: 90%;
}

.promotionsetupFileUploadModal {
  @include iris_modal_container;
  max-width: 670px;
  width: 90%;
}

.intakeChildQuestionModal {
  @include iris_modal_container;
  max-width: 800px;

  @media (max-width: $extra-large) {
    max-width: 650px;
  }
}

.patientSelectExamModal {
  @include iris_modal_container;
  max-width: 700px;
  width: 90%;

  @media (max-width: $extra-large) {
    max-width: 600px;
  }
}

.patientAvailableAppointmentModal {
  @include iris_modal_container;
  max-width: 1100px;
  width: 90%;

  @media (max-width: $extra-large) {
    max-width: 1000px;
  }
}

.patientAppointmentNotFoundModal {
  @include iris_modal_container;
  width: 90%;
  max-width: 600px;
  padding: 0px;

  @media (max-width: $extra-large) {
    max-width: 500px;
  }
}

.inventoryCountDetailModal {
  max-width: 1000px;
  @include iris_modal_container;
  border-radius: 5px;

  @media (max-width: $extra-large) {
    max-width: 800px;
  }
}

.inventoryAdjustmentModal {
  @include iris_modal_container;
  max-width: 1240px;

  @media (max-width: $extra-large) {
    max-width: 1100px;
  }
}

.inventoryCountDetailViewModal {
  max-width: 1560px;
  @include iris_modal_container;
  border-radius: 5px;

  @media (max-width: $extra-large) {
    max-width: 1300px;
  }
}

.inventoryConfirmationModal {
  max-width: 600px;
  @include iris_modal_container;
  border-radius: 5px;

  @media (max-width: $extra-large) {
    max-width: 500px;
  }
}

.inventoryRescheduleModal {
  max-width: 1000px;
  @include iris_modal_container;
  border-radius: 5px;

  @media (max-width: $extra-large) {
    max-width: 800px;
  }
}

.addAndEditModal {
  @include iris_modal_container;
  max-width: 600px;
  width: 90%;

  @media (max-width: $extra-large) {
    max-width: 500px;
  }
}

.hoyaConfigurationModal {
  max-width: 1100px;
  @include iris_modal_container;
  border-radius: 5px;

  @media (max-width: $extra-large) {
    max-width: 1000px;
  }
}

.replenishmentDetailModal {
  @include iris_modal_container;
  max-width: 1600px;

  @media (max-width: $extra-large) {
    max-width: 1320px;
  }
}

.orderInsuranceModal {
  width: 95%;
  max-width: 1320px;

  @media (max-width: $extra-large) {
    max-width: 1200px;
  }
}

.viewClosingModal {
  @include iris_modal_container;
  max-width: 1200px;
  width: 90%;
  height: 95%;
  overflow-y: auto;
}

.voVerificationModal {
  max-width: 1100px;
  @include iris_modal_container;
  border-radius: 5px;

  @media (max-width: $extra-large) {
    max-width: 1000px;
  }
}

.openPromtionModal {
  @include iris_modal_container;
  width: 90%;
  max-width: 700px;
  padding: 0px;

  @media (max-width: $extra-large) {
    max-width: 600px;
  }
}

.prescriptionLoadingModal,
.prescriptionFoundModal,
.prescriptionNotFoundModal {
  @include iris_modal_container;
  width: 90%;
  max-width: 700px;
  padding: 0px;

  @media (max-width: $extra-large) {
    max-width: 600px;
  }

  @media (max-width: $medium) {
    width: 95%;
    top: 50%;
  }
}

.changeBrandModal {
  @include iris_modal_container;
  width: 90%;
  max-width: 700px;

  @media (max-width: $extra-large) {
    max-width: 600px;
  }

  @media (max-width: $medium) {
    width: 95%;
    top: 50%;
  }
}

.singleLensWarningModel {
  @include iris_modal_container;
  width: 90%;
  max-width: 700px;

  @media (max-width: $extra-large) {
    max-width: 600px;
  }

  @media (max-width: $medium) {
    width: 95%;
    top: 50%;
  }
}

.addInsuranceForm {
  @include iris_modal_container;
  max-height: 95vh;
  height: 90vh;
  padding-top: 0;
  padding-bottom: 0;
  overflow: auto;
  max-width: 1000px;
}

.allJobSheetModal {
  max-height: 90vh;
  max-width: 1600px;
  width: 100%;
  overflow: auto;
}

.prescriptionStepsFormModel {
  @include iris_modal_container;
  height: 100%;
  border: 0;
  padding: 0;
}

.selectPatientMergeModal {
  @include iris_modal_container;
  max-width: 1500px;
  width: 90%;
}

.mergePatientModal {
  @include iris_modal_container;
  max-width: 1100px;
  width: 90%;
}

.cartLoyaltyPopUpModal {
  @include iris_modal_container;
  max-width: 400px;
  width: 90%;
}
.changeShippingModeModal {
  max-height: 90vh;
  max-width: 1000px;
  width: 100%;
  overflow: auto;
}

.pdModal {
  max-height: 90vh;
  max-width: 1000px;
  width: 100%;
  overflow: auto;
}
.purchaseConditionAddEditModal {
  max-width: 1000px;
  @include iris_modal_container;
  border-radius: 5px;

  @media (max-width: $extra-large) {
    max-width: 900px;
  }
}

.brandTransitionModal {
  @include iris_modal_container;
  max-width: 400px;
  width: 90%;
  top: 30% !important;

  @media (max-width: $medium) {
    max-width: 350px;
    width: 70%;
  }

  @media (max-width: $small) {
    max-width: 250px;
    width: 70%;
  }
}

.addReturnToCreditModal {
  max-width: 1000px;
  @include iris_modal_container;
  border-radius: 5px;

  @media (max-width: $extra-large) {
    max-width: 900px;
  }
}

.addNewManufacturerModal {
  @include iris_modal_container;
  max-width: 500px;
}

.loginPopUpModal {
  @include iris_modal_container;
  max-width: 400px;
  width: 90%;
}

.addNewAvailableRebateModal {
  @include iris_modal_container;
  width: 90%;
}

.billingAddressModal {
  @include iris_modal_container;
  max-width: 800px;
  width: 90%;
}
