@import "../../../../../assets/styles/_variables.scss";
@import "../../../../../assets/styles/_mixin.scss";

.otpContainer {
  width: 100%;
  max-width: 520px;
  .otpBox {
    margin: 34px 0;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 1px solid var(--tertiary-border-color);
    border-radius: 8px;
    min-height: 500px;
    background-color: var(--primary-bg-color);

    @media (max-width: $extra-large) {
      min-height: 400px;
      margin: 10px;
      padding: 20px;
    }
    .otpHead {
      @include fontFSWH($secondary-font, 24px, 400, 33px);
      letter-spacing: 0em;
      text-align: left;
      color: var(--primary-text-color);
      margin-bottom: 20px;

      @media (max-width: $extra-large) {
        @include fontFSWH($secondary-font, 20px, 400, 25px);
      }
    }
    .otpMessageContainer {
      margin: 0 auto;
      .otpMessage {
        margin-top: 20px;
        @include fontFSWH($primary-font, 20px, 400, 24px);
        letter-spacing: 0em;
        text-align: center;
        color: var(--primary-text-color);
      }
      .otpMessageBottom {
        margin-top: 20px;
        @include fontFSWH($primary-font, 16px, 400, 19px);
        letter-spacing: 0em;
        text-align: center;
        color: var(--primary-input-text);

        @media (max-width: $extra-large) {
          @include fontFSWH($primary-font, 13px, 400, 16px);
          margin-top: 25px;
        }
      }
    }
    .formFields {
      margin-top: 20px;
      .otpBtn {
        margin: 16px 0;
        background-color: $secondary-color;
      }
      .otpBottomContainer {
        margin-top: 25px;
        margin-bottom: 20px;
        text-align: center;

        @media (max-width: $extra-large) {
          margin-top: 20px;
          margin-bottom: 15px;
        }
        .otpExpire {
          color: var(--quaternary-text-color);
          text-decoration-color: var(--quaternary-text-color);
          text-align: center;

          @media (max-width: $extra-large) {
            @include fontFSWH($primary-font, 13px, 400, 16px);
          }
        }
        .otpFormLink {
          @include primary_link;
          text-decoration: underline;
          margin-bottom: 0px;
        }
      }
      .otpErrorText {
        display: flex;
        justify-content: center;
        color: #d32f2f;
      }
    }
  }
  .otpHeaderWrapperModal {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    .otpHeadModal {
      @include fontFSWH($secondary-font, 20px, 400, 33px);
      letter-spacing: 0em;
      text-align: left;
      color: $black;

      @media (max-width: $extra-large) {
        @include fontFSWH($secondary-font, 16px, 400, 25px);
      }
    }
  }
  .crossIcon {
    cursor: pointer;
  }
  .otpBoxModal {
    border: 0px !important;
  }
}
.customFormStyle {
  width: 100%;
  .otpBox {
    margin: 0;
    border: none;
    min-height: auto;
    padding: 10px 20px;
    .otpHead {
      @include fontFSWH($secondary-font, 15px, 400, 18px);
      letter-spacing: 0em;
      text-align: left;
      color: var(--quaternary-text-color);
      margin: 0;
    }
    .formFields {
      margin-top: 15px;
    }
  }
}
.otpFormGroup {
  display: flex;
  justify-content: space-between;
  .textInput {
    width: 60px;
    > div {
      height: 80px;
      @media (max-width: 480px) {
        height: 60px;
        margin-right: 10px;
      }
    }
    input {
      @include fontFSWH($primary-font, 20px, 400, 24px);
      letter-spacing: 0em;
      text-align: left;
      height: auto;
      color: var(--primary-input-text);
      text-align: center;
      @media (max-width: 480px) {
        padding: 0;
      }
    }
    label {
      @include fontFSWH($primary-font, 15px, 400, 18px);
      color: var(--secondary-text-color);
      letter-spacing: 0em;
      text-align: left;
    }
    fieldset {
      border-radius: 10px;
      border: 1px solid var(--secondary-border-color);
    }
  }
}
.otpContainerModal {
  margin: 0 auto;
}
