@import "../../../../../../../assets/styles/_mixin.scss";
@import "../../../../../../../assets/styles/fonts";
@import "../../../../../../../assets/styles/variables";

.dobLabel {
    text-align: left;
    clear: both;
}

.datePush {
    margin-right: 10px !important;
}

.selectYearContainer {
    width: 40%;
}

.selectYear {
    width: 100%;
    text-align: left;
}

.errorLabel {
    margin-top: 10px;
    text-align: left;
    color: $red;
}

.greyed {
    color: $secondary-font-color;
}

.error {
    color: $red;
    font-family: $primary-font;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    text-align: left;
    margin-top: 3px;
    margin-right: 14px;
    margin-bottom: 0;
    margin-left: 14px;
}