@import "../../../../../../assets/styles/_variables.scss";
@import "../../../../../../assets/styles/_mixin.scss";

.right {
  width: 100%;
  border: 1px solid $grey;
  border-radius: 10px;
  padding: 30px;
  max-width: calc(1640px - 330px);

  .topDetails {
    display: flex;
    margin-top: 30px;
    width: 100%;
    gap: 30px;

    @media (max-width: $medium) {
      flex-direction: column;
    }

    .table {
      display: flex;
      width: 30%;
      justify-content: space-between;
      @media (max-width: $small) {
        width: 100%;
      }
      @media (max-width: $medium) {
        width: 50%;
      }
      .col {
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
    }

    .fillerDetails {
      width: 70%;
      display: flex;
      justify-content: center;
      gap: 80px;
      @media (max-width: $medium) {
        width: 100%;
        justify-content: space-around;
      }
      @media (max-width: $small) {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }
    }
  }

  .addressDetails {
    padding: 30px 0px;
    .addressTable {
      margin-top: 20px;
      display: flex;
      gap: 100px;

      @media (max-width: $medium) {
        flex-direction: column;
        gap: 20px;
      }
      .addressCol {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
    }
  }

  .communicationDetails {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 0px;

    .text {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }

  .relationshipDetails {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .relationships {
      display: flex;
      flex-direction: column;
      gap: 20px;
      @media (max-width: $small) {
        display: none;
      }
    }

    .relationshipsTablet {
      display: none;
      flex-direction: column;
      gap: 20px;

      @media (max-width: $small) {
        display: flex;
      }
    }
  }
  .desktopView {
    display: block;
    @media (max-width: $medium) {
      display: none;
    }
  }

  .tabletView {
    display: none;
    @media (max-width: $medium) {
      display: block;
    }
  }
}
