@import "../../../../../assets/styles/variables";
@import "../../../../../assets/styles/_mixin.scss";
@import "../../../../../assets/styles/fonts";

.eyeExamHeaderWrapper {
  @include iris_container;

  .eyeExamHeaderTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
    @include fontFSWH($secondary-font, 34px, 400, 46px);

    @media (max-width: $extra-large) {
      @include fontFSWH($secondary-font, 28px, 400, 40px);
    }
  }

  .eyeExamStepperLabel {
    color: $primary-font-color;
    @include fontFSWH($primary-font, 24px, 400, 32px);

    @media (max-width: $extra-large) {
      @include fontFSWH($primary-font, 20px, 400, 28px);
    }
  }

  .QontoStepIconCircle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: currentColor;
  }

  .QontoStepIconRoot {
    display: flex;
    align-items: center;
  }
}