@use "../../../../../../assets/styles/variables" as vars;
@use "../../../../../../assets/styles/mixin" as mi;

.promo {
  margin-top: 2rem;
  padding-inline: 1.5rem;

  &__header {
    max-width: 270px;
    margin-inline: auto;

    background-color: vars.$secondary-color;
    border-radius: 10px;
    color: vars.$white;
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem 0.4rem;

    p {
      max-width: 20ch;
      line-height: 1.5;
      margin-inline: auto;
    }
  }

  &__image {
    position: relative;
    margin-top: 1rem;
    max-width: 600px;
    min-height: clamp(100px, 40vw, 260px);
    margin-inline: auto;
  }

  &__disclaimer {
    margin-top: 1rem;

    &:last-of-type {
      margin-top: 3rem;
    }
  }

  @include mi.media-query(800px) {
    &__image {
      min-height: clamp(180px, 21vw, 300px);
    }
  }

  @include mi.responsive("large") {
    &__header {
      background-color: unset;

      p {
        font-weight: 700;
        color: vars.$black;
      }
    }

    &__image {
      min-height: 200px;
    }
  }
}
