@import "../../../../../../assets/styles/variables";
@import "../../../../../../assets/styles/mixin";

.skeletonShippingContainer {
  background-color: $white;
  padding: 10px 16px;
  width: 100%;
  height: fit-content;
  border-radius: 5px;
  border: 1px solid $grey;

  .shippingDetail {
    color: $primary-font-color;
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-top: 20px;
  }

  .circularSkelton {
    flex-shrink: 0;
  }
}
