@import "../../../../../assets/styles/_variables.scss";
@import "../../../../../assets/styles/_mixin.scss";

.visionIntakeContainer {
  max-width: 991px;
  margin-bottom: auto !important;
  @media screen and (max-width: $medium) {
    width: 80%;
  }
  margin: 0 auto;
  width: 100%;

  .textContainer {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 16px;
    .primaryHeading {
      color: $primary-font-color;
      @include fontFSWH($primary-font, 30px, 500, 36px);
      @media (max-width: $extra-large) {
        @include fontFSWH($primary-font, 28px, 500, 34px);
      }
    }
  }
}
