@import "../../../../../assets/styles/_variables.scss";
@import "../../../../../assets/styles/_mixin.scss";

.thankYouPageWrapper {
  .thankYouBanner {
    background-color: $bg-thankyou-banner;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    padding: 0px 50px 30px 50px;

    @media (max-width: $small) {
      padding-bottom: 120px;
    }

    .heroBanner {
      max-width: 1400px;
      border: none;
      width: 100%;
      height: auto;

      @media (max-width: $small) {
        transform: scale(1.5);
      }
    }
  }
  .thankYouMiddleSection {
    margin-top: 36px;
    margin-bottom: 24px;
    .almostDoneText {
      @include fontFSWH($secondary-font, 36px, 900, 30px);
      color: $primary-font-color;
      text-align: center;
      margin-top: 25px;
    }
    .chooseOptionText {
      @include fontFSWH($primary-font, 16px, 300, 20px);
      color: $primary-font-color;
      text-align: center;
      margin-top: 20px;
    }
  }
  .thankYouCardSection {
    @media (max-width: $medium) {
      padding: 0;
    }
    padding: 20px;
    .imageContainer {
      display: flex;
      justify-content: space-between;
      @media (max-width: $medium) {
        flex-direction: column;
        gap: 0;
      }
      max-width: 1230px;
      margin: 0 auto;
      gap: 30px;
      align-items: center;
      width: 100%;
      .imageSection {
        .bannerImage {
          cursor: pointer;
          width: 100%;
          height: 400px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: 50%;
          object-fit: cover;
        }
      }
    }
    .bottomText {
      text-align: center;
      @include fontFSWH($primary-font, 16px, 300, 20px);
      margin-top: 48px;
      margin-bottom: 30px;
    }
  }
}
