@import "../../../../../assets/styles/_variables.scss";
@import "../../../../../assets/styles/_mixin.scss";

.eyeExamWrapperSO {
  display: flex;

  .container {
    @include iris_container;
    min-height: 450px;

    @media (max-width: 768px) {
      min-height: 500px;
      margin-left: 0;
      padding: 18px 26px;
    }

    .eyeExamContents {
      height: 100%;

      @media (max-width: 768px) {
        justify-content: flex-start !important;
      }

      .heading {
        @include fontFSWH($primary-font, 42px, 400, 46px);
        letter-spacing: 0em;
        text-align: left;
        color: $primary-font-color;

        span {
          color: $primary-color;
        }

        @media (max-width: 768px) {
          @include fontFSWH($primary-font, 32px, 400, 36px);
          letter-spacing: 0em;
          text-align: center;
        }
      }

      .headingMain {
        @include fontFSWH($secondary-font, 34px, 600, 38px);
        color: #0d0a05;

        @media (max-width: 768px) {
          @include fontFSWH($secondary-font, 24px, 600, 28px);
          letter-spacing: 0em;
          text-align: center;
          margin-top: 10px;
        }
      }

      .subHeading {
        margin-top: 5px;

        p {
          @include fontFSWH($primary-font, 22px, 400, 26px);

          @media (max-width: 768px) {
            @include fontFSWH($primary-font, 14px, 400, 18px);
          }

          &:last-of-type {
            max-width: 45ch;
            margin-top: 3rem;

            @media (max-width: 768px) {
              max-width: none;
              margin-top: 1rem;
            }
          }
        }

        @media (max-width: 768px) {
          span {
            font-size: 18px !important;
            line-height: 24px !important;
            display: block;
          }
        }
      }

      .description {
        @include fontFSWH($secondary-font, 28px, 600, 32px);
        letter-spacing: 0em;
        color: $primary-font-color;
        text-align: left;
        margin-top: 20px;

        span {
          color: $secondary-color;
        }

        @media (max-width: 768px) {
          @include fontFSWH($secondary-font, 12px, 400, 15px);
          letter-spacing: 0em;
          text-align: left;
          margin-bottom: 200px;
        }
      }

      .eyeExamBottom {
        display: flex;
        flex-direction: column;
        width: max-content;
        align-items: center;

        @media (max-width: 768px) {
          width: 100%;
        }

        .checkBtn {
          margin-top: 50px;
          @include primary_button;

          @media (max-width: $extra-large) {
            margin-top: 40px;
          }

          @media (max-width: 768px) {
            text-align: left;
            margin-top: 20px;
          }
        }

        .disclaimerBtn {
          @include primary_link;

          @media (max-width: $extra-large) {
            margin-bottom: 50px;
          }

          @media (max-width: 768px) {
            margin: 0;
          }
        }

        .disclaimerBtnMEL {
          color: $white;
        }
      }
    }
  }
}

.eyeExamWrapperMEL {
  display: flex;
  @include iris_container;

  .container {
    width: 100%;
    min-height: 500px;

    @media (max-width: 768px) {
      margin-left: 0;
      padding: 18px 26px;
    }

    .eyeExamContents {
      height: 100%;

      .heading {
        @include fontFSWH($primary-font, 42px, 400, 46px);
        letter-spacing: 0em;
        text-align: left;
        color: $primary-font-color;
        margin-top: 50px;
        margin-bottom: 8px;

        span {
          color: $primary-color;
        }

        @media (max-width: 768px) {
          @include fontFSWH($primary-font, 32px, 400, 36px);
          letter-spacing: 0em;
          text-align: left;
        }
      }

      .headingMain {
        @include fontFSWH($secondary-font, 34px, 600, 38px);

        @media (max-width: 768px) {
          @include fontFSWH($secondary-font, 24px, 600, 28px);
          letter-spacing: 0em;
          text-align: left;
          color: $primary-font-color;
          margin-top: 30px;
        }
      }

      .subHeading {
        p {
          @include fontFSWH($primary-font, 22px, 400, 26px);

          @media (max-width: 768px) {
            @include fontFSWH($primary-font, 14px, 400, 18px);
          }
        }

        @media (max-width: 768px) {
          margin-top: 12px;
        }
      }

      .description {
        @include fontFSWH($secondary-font, 28px, 600, 32px);
        letter-spacing: 0em;
        color: $primary-font-color;
        text-align: left;
        margin-top: 20px;

        span {
          color: $secondary-color;
        }

        @media (max-width: 768px) {
          @include fontFSWH($secondary-font, 12px, 400, 15px);
          letter-spacing: 0em;
          text-align: left;
          margin-bottom: 200px;
        }
      }

      .eyeExamBottom {
        display: flex;
        flex-direction: column;
        width: max-content;
        align-items: center;

        .checkBtn {
          margin-top: 50px;
          @include primary_button;

          @media (max-width: $extra-large) {
            margin-top: 40px;
          }

          @media (max-width: 768px) {
            text-align: left;
          }
        }

        .disclaimerBtn {
          @include primary_link;

          @media (max-width: $extra-large) {
            margin-bottom: 50px;
          }

          @media (max-width: 768px) {
            margin: 0;
          }
        }

        .disclaimerBtnMEL {
          color: $white;
        }
      }
    }
  }
}
