@import "../../../../../assets/styles/variables";
@import "../../../../../assets/styles/mixin";

.selectPatientOptions {
  .option {
    padding: 20px;
    border-bottom: 1px solid $grey;
    display: flex;
    align-items: center;

    @media (max-width: $extra-large) {
      padding: 15px;
    }
  }

  .nameContianer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    span {
      display: block;
      @include fontFSWH($primary-font, 13px, 400, 17px);
      color: $primary-font-color;
    }

    margin-left: 40px;

    @media (max-width: $extra-large) {
      @include fontFSWH($secondary-font, 11px, 400, 15px);
      margin-left: 36px;
    }

    @media (max-width: $small) {
      margin-left: 6px;
    }
  }

  .selectButton {
    @include secondary_button;
    margin-left: auto;
    margin-bottom: 0px;
    @include fontFSWH($primary-font, 13px, 400, 17px);

    @media (max-width: $extra-large) {
      @include fontFSWH($primary-font, 11px, 400, 15px);
    }
  }
}
