@use "../../../../assets/styles/mixin" as mi;
@use "../../../../assets/styles/variables" as vars;

.consent {
  position: relative;

  &__wrapper {
    @include mi.responsive("medium") {
      width: 86%;
      margin-inline: auto;
    }
  }
  .privacyContent{
    margin-top: 20px;
    .privacyModalLink{
      cursor: pointer;
      color: vars.$secondary-color;
      text-decoration: underline;
      font-weight: 500;  
    }
  }

  &__toggler {
    margin-top: 2rem;
    align-items: flex-start;
    cursor: default;

    // Styling the checkbox
    &>span:first-of-type {
      margin-top: -0.5rem;
    }
  }

  &__text {
    position: relative;
    font-size: 14px;

    &>a {
      color: vars.$secondary-color;
      text-decoration: underline;
    }
  }

  &__privacy_policy_button {
    background-color: transparent;
    border: none;
    color: vars.$secondary-color;
    cursor: pointer;
    font-size: 14px;
    outline-color: transparent;
    text-decoration: underline;
  }

  .popup {
    position: absolute;
    left: 0;
    z-index: 1;

    padding: 1rem;
    padding-top: 0.5rem;
    background-color: vars.$white;
    box-shadow: 0 0 0 2px rgba(0 0 0 / 0.1);

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
    }

    &__title {
      font-size: 1rem;
      font-weight: 500;
    }

    &__list {
      padding-left: 1rem;
      text-align: justify;

      li {
        margin-top: 0.6rem;
      }
    }
  }
}
