@use "../../../../../../../assets/styles/mixin" as mi;
@use "../../../../../../../assets/styles/variables" as vars;
@use "../../../../../../../assets/styles/fonts" as fo;

.bookEyeExamSelectDate {
  margin-top: 40px;
  color: vars.$primary-font-color;
  @include mi.fontFSWH(vars.$secondary-font, 28px, 400, 38px);

  @media (max-width: vars.$extra-large) {
    @include mi.fontFSWH(vars.$secondary-font, 22px, 400, 30px);
  }

  @media (max-width: vars.$small) {
    @include mi.fontFSWH(vars.$secondary-font, 16px, 400, 38px);
    text-align: center;
  }
}

.bookEyeExamDatePicker {
  width: 100%;

  .datePicker {
    @media (min-width: vars.$large) {
      margin: 0;
    }
  }
}

button.timeSlot {
  @include mi.secondary_button;
  @include mi.fontFSWH(vars.$primary-font, 16px, 400, 20px);

  width: 100%;
  margin: 0;
  border-radius: 5px;
  padding-inline: 10px !important;

  @media (max-width: vars.$extra-large) {
    @include mi.fontFSWH(vars.$primary-font, 13px, 400, 17px);
  }

  @media (max-width: vars.$small) {
    white-space: nowrap;
  }

  &.selected {
    color: vars.$primary-color;
    background-color: vars.$primary-font-color;
  }
}

.noAppointmentAvaliable {
  color: vars.$secondary-font-color;
  padding: 15px;
}

button.bookEyeExamTimePickerTab {
  text-transform: none;
  background-color: vars.$primary-light-color !important;
  @include mi.fontFSWH(vars.$primary-font, 16px, 400, 20px);
  transition: all 0.5s ease;

  @media (max-width: vars.$extra-large) {
    @include mi.fontFSWH(vars.$primary-font, 13px, 400, 17px);
  }

  &:is(:hover, :focus-visible, .selected) {
    color: vars.$white;
    background: vars.$secondary-color !important;
  }
}

.bookExamTimeSlotHeaderWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;

  .bookExamTimeSlotHeaderTitle {
    color: vars.$secondary-font-color;
    @include mi.fontFSWH(vars.$primary-font, 16px, 400, 20px);

    @media (max-width: vars.$extra-large) {
      @include mi.fontFSWH(vars.$primary-font, 13px, 400, 17px);
    }
  }

  .bookExamTimeSlotHeaderDate {
    color: vars.$primary-font-color;
    @include mi.fontFSWH(vars.$primary-font, 20px, 400, 24px);

    @media (max-width: vars.$extra-large) {
      @include mi.fontFSWH(fo.$primary-font, 16px, 400, 20px);
    }
  }
}
