@import "../../../../../../assets/styles/_variables.scss";
@import "../../../../../../assets/styles/_mixin.scss";

.wrapper {
  margin-top: 20px;
  margin-bottom: 100px;
  padding: 0px 130px;
  @media (max-width: 1700px) {
    padding: 0 4px;
  }
  @media (max-width: 768px) {
    padding: 0;
  }
  .container {
    @include iris_container;
    margin-top: 30px;
    .tableContainer {
      background: $white;
      border: 1px solid $primary-light-color;
      border-radius: 10px;
      padding: 30px;
      @media (max-width: $extra-large) {
        padding: 20px;
      }
      .header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 13px;
        .headerLeft {
          display: flex;
        }
        .headerRight {
          display: flex;
          align-items: center;
          flex-direction: row;
          gap: 10px;
        }
      }
    }
  }
}
