@import "../../../../assets/styles/mixin";
@import "../../../../assets/styles/variables";

.customTablePaginationWrapper {
  margin: 35px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $extra-large) {
    margin: 25px 0;
  }
  @media (max-width: $small) {
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
  }

  .paginationItem {
    border-radius: 0px;
    margin: 0px 0px 0px 2px;

    @media (max-width: $extra-large) {
      @include fontFSWH($primary-font, 13px, 500, 17px);
      min-width: 35px;
      height: 35px;
    }
    @media (max-width: $small) {
      min-width: 25px;
    }
  }

  .itemsPerPageWrapper {
    @include displayFlex;
    align-items: center;
    flex: 1;
    flex-direction: row;

    .itemsPerPageFormControl {
      min-width: 100px;

      @media (max-width: $extra-large) {
        min-width: 70px;
      }
      @media (max-width: $small) {
        min-width: 55px;
      }

      .selectPageSize {
        @include fontFSWH($primary-font, 16px, 400, 20px);
        color: $secondary-font-color;
        background: $white;
        border: 1px solid $grey;
        border-radius: 10px;

        @media (max-width: $extra-large) {
          @include fontFSWH($primary-font, 13px, 400, 17px);
        }
        @media (max-width: $small) {
          height: 36px;
        }
        div {
          padding: 10px 15px;
          @include displayFlex;
          align-items: center;
          color: $primary-font-color;

          @media (max-width: $extra-large) {
            @include fontFSWH($primary-font, 13px, 500, 17px);
            padding: 8.5px 12px;
          }
        }

        .selectIconStyle {
          @include marginTBLR(auto, auto, auto, 18px);
        }
      }
    }

    label {
      @include marginTBLR(0px, 0px, 12px, 0px);
      @include fontFSWH($primary-font, 16px, 400, 20px);
      color: $primary-font-color;

      @media (max-width: $extra-large) {
        @include fontFSWH($primary-font, 13px, 500, 17px);
      }
      @media (max-width: $small) {
        display: none;
      }
    }
  }
}
