$variations: (
  "red": (
    "color": #fff,
    "background": #ff5722,
  ),
  "yellow": (
    "color": #333,
    "background": #ffeb3b,
  ),
  "sky-blue": (
    "color": #fff,
    "background": #2196f3,
  ),
);

.avatar {
  display: block;
  height: auto;
  border-radius: 50%;
  object-fit: cover;

  &.initials {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
  }

  @each $name, $values in $variations {
    &--#{$name} {
      background-color: map-get($values, "background");
      color: map-get($values, "color");
    }
  }
}
