@use "../../../../../../assets/styles/variables" as vars;

.modal-container {
  width: min(100% - 2rem, 1200px);

  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);

  background-color: vars.$white;
  border-radius: 5px;
  padding: 2rem;
  max-height: 80vh;
  overflow-y: auto;

  scrollbar-width: auto;
  scrollbar-color: rgba(vars.$primary-color, 0.8) rgba(vars.$primary-color, 0.4);

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(vars.$primary-color, 0.4);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(vars.$primary-color, 0.8);
  }

  .close-modal {
    display: flex;

    background-color: transparent;
    border-radius: 10px;
    border: none;
    outline-color: transparent;
    padding: 0.2rem;
    transition: background-color 0.2s ease;

    &:is(:hover, :focus) {
      background-color: vars.$primary-color;
    }

    svg {
      width: clamp(20px, 3.5vw, 32px);
      height: clamp(20px, 3.5vw, 32px);

      path {
        fill: vars.$secondary-light-color;
      }
    }
  }

  .video-list {
    .item {
      margin-bottom: 4rem;

      &:last-of-type {
        margin-bottom: 0;
      }

      &__header {
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: space-between;

        margin-bottom: 1.5rem;
      }

      p {
        font: 500 clamp(20px, 3.5vw, 32px) vars.$secondary-font;
        color: vars.$secondary-light-color;
      }
    }
  }
}
