@use "../../../../../../assets/styles/mixin" as mi;
@import "../../../../../../assets/styles/variables";

.anualExam {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
  padding: 3rem 0;
  @media screen and (max-width: $small) {
  margin-top: 0;
  }
  br {
    display: block;
    @include mi.responsive("small") {
      display: none;
    }
  }
  .examItems {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    @include mi.responsive("medium") {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 4rem;
    }
    justify-content: center;
    align-items: flex-start;
    margin-top: 1rem;
    @include mi.responsive("medium") {
      margin-top: 3rem;
    }
    .examItem {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      > p {
        text-align: center;
      }
    }
  }
}

.externalLink {
  @include mi.dark-site-link;
}
