@import "../../../../../assets/styles/_variables.scss";
@import "../../../../../assets/styles/_mixin.scss";

.ft_copyright {
  font-family: $primary-font;
  color: $footer-secondary-gray;
  font-size: 10px;
  line-height: 16px;
  margin-bottom: 12rem;
  letter-spacing: 0.3px;

  a {
    text-decoration: underline;
    font-weight: 400;
  }
}
