@import "../../../../../assets/styles/variables";
@import "../../../../../assets/styles/_mixin.scss";

.chooseToRenewWrapper {
  width: 100%;
  .chooseToRenewHeader {
    @include flex(center, center, column);
    .title {
      color: $primary-font-color;
      @include fontFSWH($primary-font, 28px, 700, 35px);
    }
    .description {
      color: $primary-font-color;
      @include fontFSWH($primary-font, 18px, 400, 35px);

      @media (max-width: $extra-large) {
        @include fontFSWH($secondary-font, 13px, 400, 35px);
      }
    }
  }
  .container {
    @include iris_container;
    margin: 20px auto;
    .content {
      padding: 2rem;
      @include iris_container_rx_renewal;
      min-height: 500px;
      @media (max-width: $extra-large) {
        margin: 20px 20px;
      }
    }
  }
}
