@import "../../../../../../assets/styles/_variables.scss";
@import "../../../../../../assets/styles/_mixin.scss";

.payment {
  background-color: $white;
  border-radius: 10px;
  border: 1px solid $grey;
  padding: 10px 16px;

  .paymentTopContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  .paymentTaxExempt {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    align-items: center;
  }

  .paymentBottomContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 12px;
    margin-top: 12px;
  }

  .circularSkelton {
    flex-shrink: 0;
  }
}
