@import "../../../../assets/styles/mixin";
@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/fonts";

.patientSetupContainer {
  background-color: $bg-color;
  margin: 20px auto 60px auto;

  @media (max-width: 768px) {
    margin: 20px auto 20px auto;
  }
}

.containerHeader {
  @include flex(center, space-between, row);
  width: 100%;
  margin-bottom: 10px;

  &>div {
    h1 {
      margin: 0;
    }

    span {
      @include fontFSWH($primary_font, 16px, 400, 20px);
      color: $primary-font-color;

      @media (max-width: $extra-large) {
        @include fontFSWH($primary_font, 13px, 400, 17px);
      }
    }
  }

  &>button {
    @include primary_button;
    cursor: pointer;
  }

  &>div:first-child {
    @include flex(center, flex-start, row);

    & span {
      margin-left: 10px;
    }
  }
}

.formContainer {
  width: 100%;
  padding: 0 20px;
}

.formError {
  margin: 10px 0;
  @include fontFSWH($primary_font, 16px, 400, 20px);

  @media screen and (max-width: $extra-large) {
    @include fontFSWH($primary-font, 13px, 400, 17px);
  }
}