@import "../../../../../assets/styles/_variables.scss";
@import "../../../../../assets/styles/_mixin.scss";

.providerLoginWrapper {
  display: flex;
  flex-direction: column;
  background: $primary-light-color;
  justify-content: center;
  min-height: 100vh;
  .headerIcon {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .headingTitle {
    @include fontFSWH($secondary-font, 74px, 400, 101px);
    letter-spacing: 0em;
    text-align: center;
    margin-top: 30px;
  }
  .headerContent {
    @include fontFSWH($primary-font, 36px, 400, 43px);
    letter-spacing: 0em;
    text-align: center;
    color: $primary-font-color;
    margin-top: 10px;
    margin-bottom: 50px;
  }
  .loginBtn {
    height: 45px;
    min-width: 360px;
    padding: 0 10px;
    border-radius: 10px;
    background-color: $secondary-font-color;
    color: $black;
    margin: 30px auto;
  }
}
