@use "../../../../../../../assets/styles/mixin" as mi;
@use "../../../../../../../assets/styles/variables" as vars;

.typeOfAppointmentExams {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  grid-gap: 1rem;
  width: 100%;
  margin-bottom: 1.5rem;

  .typeOfAppointmentBtn {
    @include mi.secondary_button;
    border-radius: 5px;
    height: 60px;
    width: 30%;
    margin: 10px 0 10px 0;
    text-transform: none !important;

    .bookEyeExamActionBtnTitleText {
      @include mi.fontFSWH(vars.$primary-font, 18px, 400, 22px);

      @media (max-width: vars.$extra-large) {
        @include mi.fontFSWH(vars.$primary-font, 15px, 400, 19px);
      }
    }

    @media (max-width: vars.$small) {
      width: 100%;
    }
  }

  .typeOfAppointmentBtnSelected {
    @include mi.secondary_button;
    height: 60px;
    color: vars.$primary-color;
    background-color: vars.$primary-font-color;
    border-radius: 5px;
    width: 30%;
    margin: 10px 0 10px 0;
    text-transform: none !important;

    .bookEyeExamActionBtnTitleText {
      @include mi.fontFSWH(vars.$primary-font, 18px, 400, 22px);

      @media (max-width: vars.$extra-large) {
        @include mi.fontFSWH(vars.$primary-font, 15px, 400, 19px);
      }
    }

    @media (max-width: vars.$small) {
      width: 100%;
    }
  }
}
