@import "../../../../assets/styles/mixin";
@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/fonts";

html body {
  .setupContainer {
    @include iris_container;
    margin: 24px auto 50px auto;
  }

  .stepContainer {
    padding: 20px;
  }

  .stepFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .stepHeader {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 15px;

    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      & > *:first-child {
        width: 40%;
      }

      & > div > span {
        margin-right: 8px;
      }
    }
    .formTitle {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 15px;
      .title {
        width: fit-content;
        margin-right: 8px;
        @include fontFSWH($secondary-font, 24px, 400, 32px);

        @media (max-width: $extra-large) {
          @include fontFSWH($secondary-font, 20px, 400, 28px);
        }
      }

      .formDate {
        @include fontFSWH($primary_font, 16px, 400, 20px);
        color: $primary-font-color;

        @media (max-width: $extra-large) {
          @include fontFSWH($primary_font, 13px, 400, 17px);
        }
      }
    }
  }

  .stepFooter {
    margin-top: 15px;
    & > button {
      @include primary_button;
    }

    & > button:first-child {
      @include tertiary_button;
    }
  }

  .disabledBtn {
    opacity: 0.5;
    cursor: not-allowed !important;
  }

  .formCodeErrorContainer {
    margin-top: 5px;
  }

  .previewBtnContainer {
    width: 100%;
    @include flex(center, flex-end, row);
    .previewBtn {
      @include primary_button;
      cursor: pointer;
    }
  }
}
