@import "../../../../../assets/styles/_variables.scss";
@import "../../../../../assets/styles/_mixin.scss";

.bookMainBox {
  min-height: 450px;
  display: flex;

  @media (max-width: 768px) {
    min-height: 600px;
    padding-top: 5%;
    background-size: contain;
    background-position: top;
    background-color: $bg-color;
  }

  & .bookContainer {
    @include iris_container;
    @include displayFlex;
    @include flexWrap;
    align-items: center;
    justify-content: flex-end;

    @media (max-width: 768px) {
      justify-content: center;
      margin: 0;
      align-items: flex-end;
    }
  }
}

.bookImagebox {
  margin: auto;
  @include marginTBLR(auto, auto, 100px, auto);

  @media screen and (max-width: $large) {
    margin: auto;
  }
}

.bookLeft {
  text-align: left;
  letter-spacing: 0em;
  width: 35%;

  @media screen and (max-width: 768px) {
    width: unset;
  }

  & .bestCombo {
    @include fontFSWH($secondary-font, 34px, 600, 38px);

    @media screen and (max-width: 768px) {
      text-align: center;
      @include fontFSWH($secondary-font, 24px, 600, 28px);
    }
  }

  & .plusEye {
    margin-top: 5px;
    margin-bottom: 56px;
    @include fontFSWH($primary-font, 20px, 400, 24px);
    color: $white;

    @media screen and (max-width: 768px) {
      text-align: center;
      margin-bottom: 30px;
      @include fontFSWH($primary-font, 13px, 400, 17px);
    }

    span {
      color: $white;
      @include fontFSWH($primary-font, 20px, 500, 24px);

      @media screen and (max-width: 768px) {
        @include fontFSWH($primary-font, 13px, 500, 17px);
      }
    }

    p:last-of-type {
      margin-top: 3rem;

      @media screen and (max-width: 768px) {
        margin-top: 1rem;
      }
    }

    >div>div {
      font-size: 12px;
    }

    ul {
      margin-left: 20px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      text-transform: uppercase;

      @media screen and (max-width: $small) {
        margin-left: 30%;
      }
    }
  }

  & .btnBookEyeExam {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: $small) {
      width: 100%;
    }

    @media screen and (max-width: 768px) {
      margin-inline: auto;
    }

    & .btnBook {
      @include primary_button;

      @media screen and (min-width: $small) and (max-width: $large) {
        font-family: $primary-font;
      }

      @media screen and (max-width: $small) {
        @include fontFSWH($primary-font, 14px, 400, 17px);
      }

      & span {
        text-transform: uppercase;
      }
    }

    .disclaimerBtn {
      @include primary_link;
      margin-bottom: 15px;
      margin-top: 0px;
      color: #0d0a05;
    }
  }

  & .astigmatism {
    margin-top: 20px;
    @include fontFSWH($primary-font, 18px, 400, 22px);
    color: $primary-font-color;
    margin-bottom: 10px;

    @media screen and (min-width: $small) and (max-width: $large) {
      font-family: $primary-font;
    }

    @media screen and (max-width: $small) {
      @include fontFSWH($primary-font, 13px, 400, 17px);
      font-family: $primary-font;
      margin-bottom: 33px;
    }
  }

  @media screen and (max-width: $small) {
    text-align: center;
    margin-top: auto;
  }
}
