@import "../../../../../assets/styles/_variables.scss";
@import "../../../../../assets/styles/_mixin.scss";

.militaryDiscountSectionContainer {
    @include iris_container;
    margin-top: 4rem;
    margin-bottom: 6rem;

    @media (max-width: 768px) {
        margin-top: 3rem;
        margin-bottom: 4rem;
    }

    .headerContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0 5%;
    }

    p {
        margin: 0.5rem 0 1.5rem 0;
    }

    .militaryDiscountSectionGrid {
        @media (max-width: 768px) {
            flex-flow: column-reverse;
        }
    }
}