@import "../../../../assets/styles/_variables.scss";
@import "../../../../assets/styles/mixin";

.headerWrapper {
  display: flex;
  margin-top: 100px;

  @media (max-width: $extra-large) {
    margin-top: 80px;
  }

  .header {
    z-index: 900;

    .headerContainer {
      @include iris_container;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }

    display: flex;
    background: $white;
    height: 100px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 8px 6px -6px rgb(0 0 0 / 4%);
    border-bottom: 1px solid var(--primary-border-color);
    margin-top: 48px;

    @media (max-width: $extra-large) {
      height: 80px;
    }
    .menuIcon {
      display: none;
      @media (max-width: $medium) {
        display: block;
        margin-right: 20px;
      }
      @media (max-width: 768px) {
        margin-right: 0px;
      }
    }
    .logoSection {
      display: flex;
      margin-right: 100px;
      @media (max-width: $large) {
        margin-right: 0px;
      }

      img {
        height: auto;

        @media (max-width: $extra-large) {
          width: 115px;
        }
      }

      @media (max-width: 768px) {
        margin-left: auto;
        margin-right: auto;
      }

      .viewDetails {
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--secondary-text-color);
        margin-left: 9px;
        margin-top: auto;
      }
    }

    .searchSection {
      width: 475px;
      margin: 0 auto;
      padding: 0;

      @media (max-width: $extra-large) {
        font-size: 12px;
        width: 440px;

        > div > div > div {
          padding: 0px;

          @media (max-width: $small) {
            > * * * > div {
              @include fontFSWH($primary-font, 16px, 400, 20px);
            }
          }
        }
      }
      @media (max-width: $medium) {
        width: 300px;
      }
      @media (max-width: $small) {
        display: none;
      }

      input {
        padding: 6px 14px;
        font-family: $primary-font;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: left;
        padding: 0px 14px;

        @media (max-width: $extra-large) {
          font-size: 12px;
        }
        @media (max-width: $small) {
          @include fontFSWH($primary-font, 16px, 400, 20px);
        }
      }

      fieldset {
        border: 1px solid #d8d8da;
        border-radius: 20px;
      }

      .searchWithSelect {
        position: relative;

        @media (max-width: $extra-large) {
          padding-right: 0px;

          > div {
            padding: 0;
          }
        }

        .searchSelect {
          position: absolute;
          cursor: pointer;
          z-index: 9;
          @include fontFSWH($primary-font, 14px, 400, normal);
          text-transform: capitalize;
          padding-right: 10px;
          width: 100px;

          > div {
            padding: 0;
            display: flex;
            align-items: center;
          }

          fieldset {
            border-top-right-radius: initial;
            border-bottom-right-radius: initial;
          }

          @media (max-width: $extra-large) {
            font-size: 12px;
            padding: 9px;
          }
          @media (max-width: $small) {
            @include fontFSWH($primary-font, 16px, 400, 20px);
          }
        }

        input {
          padding-left: 100px;
        }
      }
      .dealButtonWrapper {
        @include primary_button;
        margin-left: 5px;
      }
    }

    .appointmentSection {
      width: 300px;
      @media (max-width: $large) {
        width: 200px;
      }
      @media (max-width: 768px) {
        display: none;
      }

      .appointmentBtn {
        @include quaternary_button;
        width: 100%;
      }

      > div {
        > button {
          display: none;

          @media (max-width: 768px) {
            display: flex;
            font-family: $primary-font;
            font-size: 12px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;
            color: $tertiary-font-color;
          }
        }

        .supportNumber {
          @include fontFSWH($primary-font, 14px, 400, 17px);
          text-align: left;
          color: $tertiary-font-color;

          @media (max-width: $extra-large) {
            @include fontFSWH($primary-font, 12px, 400, 15px);
          }

          @media (max-width: 768px) {
            display: none;
          }

          &:first-child {
            font-weight: 400;

            @media (max-width: 768px) {
            }
          }

          &:last-child {
            font-weight: 300;
          }
        }
      }
    }
  }
}

.searchMenuItem {
  @include fontFSWH($primary-font, 14px, 400, normal);
  text-transform: capitalize;

  @media (max-width: $extra-large) {
    font-size: 12px;
  }
}

.searchOption {
  padding: 15px 20px;
  cursor: pointer;

  &:hover {
    background: $bg-color;
  }

  .productName {
    flex: 2 0 30%;
  }

  .modelNumber {
    flex: 0 0 30%;
  }

  .sku {
    flex: 0 1 auto;
  }

  .vColor {
    flex: 0 1 auto;
  }

  .price {
    flex: 0 1 auto;
  }

  .optionText {
    @include fontFSWH($primary-font, 14px, 400, normal);
    color: $primary-font-color;
    text-transform: capitalize;

    @media (max-width: $extra-large) {
      font-size: 12px;
    }

    .nameSection {
      display: flex;
      flex-direction: column;

      .namePart {
        color: $primary-font-color;
        @include fontFSWH($primary-font, 14px, 400, normal);
        font-style: normal;
        margin-bottom: 5px;

        @media (max-width: $extra-large) {
          font-size: 12px;
        }
      }

      .emailPart {
        color: $secondary-font-color;
        @include fontFSWH($primary-font, 14px, 400, normal);
        font-style: normal;
        text-transform: none;

        @media (max-width: $extra-large) {
          font-size: 12px;
        }
      }
    }
  }
}

.autoComplete {
  background-color: white;

  @media (max-width: $extra-large) {
    > div > div {
      font-size: 12px;
    }
  }

  > div > ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .buttonContentContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .buttonContent,
    .pofButton {
      @include primary_button;
      @include fontFSWH($primary-font, 14px, 400, normal);
      font-style: normal;
      padding: 10px;
      text-transform: capitalize;
      margin-right: 10px;
      margin-bottom: 10px;

      @media (max-width: $extra-large) {
        font-size: 12px;
      }
    }
  }
}
.staticMessageWrapper {
  position: relative;
  height: 48px;
  .staticMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    background: $primary-font-color;
    color: $white;
    @include fontFSWH($primary-font, 14px, 400, 18px);
    text-align: center;
    padding: 20px;
    position: fixed;
    top: 0;
    z-index: 900;
  }
}
