@import "../../../../../assets/styles/variables.scss";
@import "../../../../../assets/styles/mixin.scss";

.mainBox {
  @include iris_container;

  @media screen and (max-width: $medium) {
    padding: 0px;
  }

  & .telephone {
    .phoneLink{
      color: $tertiary-font-color !important;
    }
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    color: $tertiary-font-color;
    .phoneLink {
      color: var(--secondary-light-color-20);
      text-decoration: none;
    }
    @include fontFSWH($primary-font, 18px, 400, 21px);
    @media screen and (max-width: $medium) {
      @include fontFSWH($primary-font, 11px, 500, 13px);
    }
    @media screen and (max-width: $extra-large) {
      @include fontFSWH($primary-font, 16px, 400, 19px);
    }
  }

  & .storeHoursContainer {
    width: 50%;
    margin-left: 24px;
    @media screen and (max-width: $medium) {
      display: none;
      margin: 0px;
    }
  }

  .storeHoursHeading {
    display: flex;
    align-items: center;
    @include fontFSWH($primary-font, 16px, 400, 20px);
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 20px;

    & span {
      margin-left: 5px;
    }
  }

  .storeHoursTimingItem {
    letter-spacing: 0em;
    text-align: left;
    @include fontFSWH($primary-font, 16px, 400, 20px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $tertiary-font-color;

    .dayHeading {
      width: 25%;
      margin-bottom: 5px;
      @include fontFSWH($primary-font, 20px, 500, 24px);

      // Text Style
      @media screen and (max-width: $small) {
        @include fontFSWH($primary-font, 12px, 500, 18px);
      }

      @media (max-width: $extra-large) {
        @include fontFSWH($primary-font, 16px, 500, 20px);
      }
    }

    .statusHeading {
      width: 75%;
      margin-bottom: 5px;
      @include fontFSWH($primary-font, 20px, 500, 28px);

      @media screen and (max-width: $small) {
        @include fontFSWH($primary-font, 12px, 500, 16px);
      }

      @media (max-width: $extra-large) {
        @include fontFSWH($primary-font, 16px, 500, 20px);
      }
    }

    & .day {
      width: 34%;

      .highlightedDay {
        @include fontFSWH($primary-font, 14px, 500, 18px);

        @media screen and (max-width: $extra-large) {
          @include fontFSWH($primary-font, 12px, 500, 16px);
        }
      }

      .normalDay {
        @include fontFSWH($primary-font, 14px, 400, 18px);

        @media screen and (max-width: $extra-large) {
          @include fontFSWH($primary-font, 12px, 400, 16px);
        }
      }
    }

    .status {
      width: 100%;

      .normalStatus {
        @include fontFSWH($primary-font, 15px, 400, 19px);

        @media screen and (max-width: $extra-large) {
          @include fontFSWH($primary-font, 12px, 400, 16px);
        }
      }

      .highlightedStatus {
        @include fontFSWH($primary-font, 15px, 500, 19px);

        @media screen and (max-width: $extra-large) {
          @include fontFSWH($primary-font, 12px, 500, 16px);
        }
      }
    }
  }

  & .btnAppointments {
    @include primary_button;
  }

  .addressMapWrapper {
    display: flex;
    width: 100%;
    margin-top: 30px;

    @media screen and (max-width: $medium) {
      flex-direction: column;
    }

    @media screen and (max-width: $medium) {
      margin-top: 20px;
    }
  }

  .leftSideAddressWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;

    @media screen and (max-width: $medium) {
      width: 100%;
      align-items: center;
      justify-content: center;
    }

    .mobileBookExamBtnWrapper {
      display: none;

      @media screen and (max-width: $medium) {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }

    .defaultAddressContainer {
      width: 100%;
      display: flex;
      justify-content: flex-start;

      @media screen and (max-width: $medium) {
        width: 100%;
        align-items: center;
        justify-content: center;
      }

      .addressDetails {
        .storeDetailing{
          text-align: left;
          @media screen and (max-width: $medium) {
            text-align: center;
            display: flex;
            flex-direction: column ;
            align-items: center;
          }
        }
        width: 100%;
        .headerMargin {
          margin-left: 24px;
        }
        @media screen and (max-width: $medium) {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        .detailsAddress {
          @media screen and (max-width: $medium) {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
        }

        .storeHereSection {
          padding: 20px;
          display: block;

          @media screen and (max-width: $medium) {
            width: 100%;
            display: none;
          }
        }
      }

      .serviceWrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @media screen and (min-width: $medium) {
          display: none;
        }
      }

      .serviceTxt {
        @include fontFSWH($primary-font, 18px, 500, 24px);
        @media screen and (max-width: $medium) {
          width: 100%;
          margin: 0px;
          @include fontFSWH($primary-font, 11px, 500, 13px);
        }

        @media screen and (max-width: $extra-large) {
          @include fontFSWH($primary-font, 15px, 500, 19px);
        }
        color: $tertiary-font-color;

        margin-left: 5px;
      }

      .hasSameDay {
        display: flex;
        align-items: center;
        @include fontFSWH($primary-font, 18px, 400, 24px);
        color: $green;
        margin-left: 2px;

        @media screen and (max-width: $medium) {
          width: 100%;
          margin: 0px;
          @include fontFSWH($primary-font, 11px, 500, 13px);
        }
        @media screen and (max-width: $extra-large) {
          @include fontFSWH($primary-font, 15px, 400, 19px);
        }
      }

      .serviceSubTxt {
        display: flex;
        align-items: center;
        @include fontFSWH($primary-font, 18px, 400, 24px);
        color: $black;
        margin-left: 2px;
        margin-top: 14px !important;
        margin-bottom: 18px !important;

        @media screen and (max-width: $medium) {
          width: 100%;
          margin: 0px;
          @include fontFSWH($primary-font, 11px, 500, 13px);
        }

        @media screen and (max-width: $extra-large) {
          @include fontFSWH($primary-font, 15px, 400, 19px);
        }

        .grandOpening {
          color: $secondary-color;
        }
      }

      .storeExpandHeading {
        @include fontFSWH($primary-font, 14px, 500, 19px);
        color: $tertiary-font-color;
      }

      & .defaultAddressOrder {
        letter-spacing: 0em;
        text-align: left;
        margin-right: 10px;
        @include fontFSWH($primary-font, 16px, 400, 19px);
        border-radius: 50%;
        width: 32px;
        height: 32px;
        background-color: $secondary-font-color;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      & .defaultAddressHeading {
        @include fontFSWH($primary-font, 24px, 700, 28px);
        color: $primary-font-color;
        margin-bottom: 5px;
        text-align: left;

        // Text Style
        @media screen and (max-width: $small) {
          @include fontFSWH($primary-font, 25px, 600, 30px);
        }

        @media (max-width: $extra-large) {
          @include fontFSWH($primary-font, 22px, 600, 30px);
        }

        display: flex;
      }

      .brandName {
        @include fontFSWH($primary-font, 36px, 700, 28px);
        color: $primary-font-color;
        margin-top: 3px;
        text-align: left;

        @media (max-width: $medium) {
          text-align: center;
          @include fontFSWH($primary-font, 40px, 600, 46px);
        }

        @media (max-width: $extra-large) {
          @include fontFSWH($primary-font, 32px, 700, 34px);
        }
      }

      .defaultAddressTiming {
        letter-spacing: 0em;
        text-align: left;
        @include fontFSWH($primary-font, 16px, 400, 19px);
        color: $primary-font-color;
        margin-top: 16px;
        margin-bottom: 25px;
        margin-left: 24px;

        @media screen and (max-width: $medium) {
          @include fontFSWH($primary-font, 14px, 400, 16px);
          margin: 5px 0px;
        }

        .openNowTxt {
          @include fontFSWH($primary-font, 16px, 400, 19px);
          color: $green;
          margin-right: 10px;
        }

        .closedTxt {
          @include fontFSWH($primary-font, 16px, 400, 19px);
          color: $black;
          margin-right: 10px;
        }
      }

      .defaultAddressDetails {
        width: 100%;
        @include fontFSWH($primary-font, 18px, 400, 24px);
        color: $primary-font-color;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 7px;

        @media screen and (max-width: $medium) {
          @include fontFSWH($primary-font, 11px, 400, 13px);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        @media screen and (min-width: $medium) and (max-width: $large) {
          @include fontFSWH($primary-font, 15px, 400, 19px);
        }

        .addressLine {
          display: flex;
          align-items: center;
          @include fontFSWH($primary-font, 18px, 400, 24px);

          @media screen and (max-width: $extra-large) {
            @include fontFSWH($primary-font, 15px, 400, 19px);
          }

          @media screen and (max-width: $medium) {
            @include fontFSWH($primary-font, 12px, 400, 14px);
          }
        }

        .city {
          @include fontFSWH($primary-font, 18px, 400, 24px);

          @media screen and (max-width: $extra-large) {
            @include fontFSWH($primary-font, 15px, 400, 19px);
          }

          @media screen and (max-width: $medium) {
            @include fontFSWH($primary-font, 12px, 400, 14px);
          }
        }
      }

      .directionBox {
        margin: 20px 0px 20px 20px;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: $medium) {
          margin: 0px 0px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }

      .distanceTxt {
        @include fontFSWH($primary-font, 18px, 400, 24px);

        @media screen and (max-width: $extra-large) {
          @include fontFSWH($primary-font, 15px, 400, 19px);
        }

        @media screen and (max-width: $medium) {
          @include fontFSWH($primary-font, 12px, 400, 14px);
        }

        margin-left: 5px;
      }

      .directionBtn {
        @include primary_link;
        border: 0;
        margin: 0px 0px 0px -8px;
        @include fontFSWH($primary-font, 18px, 500, 21px);
        color: $secondary-light-color;

        @media screen and (max-width: $medium) {
          @include fontFSWH($primary-font, 11px, 500, 13px);
          margin: 0px;
        }
        @media screen and (max-width: $extra-large) {
          @include fontFSWH($primary-font, 16px, 500, 19px);
        }
      }

      .defaultAddressSameDay {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: fit-content;
      }
    }
  }

  .rightSideMapWrapper {
    width: 60%;
    height: 100%;
    padding-left: 40px;

    @media screen and (max-width: $medium) {
      width: 100%;
      height: 100%;
      padding-left: 0px;
    }

    .imgStore {
      width: 100%;
    }

    .imgStore {
      .storeImage {
        width: 100%;
        height: auto;
        @media screen and (min-width: $medium) and (max-width: $large) {
          width: 550px;
          height: 400px;
        }
        @media screen and (min-width: $large) and (max-width: $extra-large) {
          width: 700px;
          height: 450px;
        }
      }
    }
  }
}
