@import "../../../../../assets/styles/_variables.scss";
@import "../../../../../assets/styles/_mixin.scss";

.heroBannerContainer {
  .heroBanner {
    border: none;
    width: 100%;
    height: auto;
    cursor: pointer;
  }
}
