@import "../../../../assets/styles/mixin";
@import "../../../../assets/styles/fonts";
@import "../../../../assets/styles/variables";

.questionFormContainer {
  border: 1px solid $primary-light-color;
  border-radius: 5px;
  padding: 16px;

  .subContainer {
    font-family: $primary-font;
    background: $white;
    border-width: 1px 1px 1px 4px;
    border-style: solid;
    border-color: $secondary-color;
    border-radius: 5px;
    height: 100%;
    padding: 0 16px;
    & > div {
      width: 100%;
    }
  }
}

.verticalDivider {
  height: 100%;
  width: 1px;
  background-color: $primary-light-color;
  min-height: 30px;
}

.formHeader {
  @include flex(center, space-between, row);
  padding: 16px 0;

  & > div {
    @include fontFSWH($primary-font, 16px, 400, 19px);
    color: $primary-font-color;

    @media (max-width: $extra-large) {
      @include fontFSWH($primary-font, 13px, 400, 16px);
    }
  }

  & > div:first-child {
    & span {
      margin-right: 5px;
    }
    & > div {
      width: 160px;
    }
  }

  & > div:last-child {
    @include flex(center, center, row);
    & > div {
      margin-left: 8px;
    }
  }
}
.sequenceInputPresent {
  & > div:nth-child(2) {
    margin-right: auto;
    margin-left: 5px;
  }
}

.formBody {
  border: 1px solid $secondary-font-color;
  border-radius: 5px;
  height: fit-content;
}

.formFooter {
  @include flex(center, flex-start, column);
  & > .horizontalLine {
    width: 100%;
    margin: 0 auto;
    height: 1px;
    background-color: $primary-light-color;
  }

  .formControls {
    width: 100%;
    margin: 16px 0;
    @include flex(center, flex-start, row);
    & > div {
      margin-right: 8px;
    }
  }
}

.formActions {
  @include flex(center, space-around, row);
  & > * {
    margin: 0 3px;
  }
}

.formValidate {
  @include flex(center, center, row);
  & > span {
    margin-right: 8px;
  }
  & > div {
    width: 120px;
  }
}

.requiredControl {
  @include flex(center, center, row);
  & > span {
    margin: 0 8px;
  }
}

.formCodeContainer {
  @include flex(flex-start, flex-start, column);
  & > div {
    @include flex(center, flex-start, row);
  }
}

.sequenceSelect {
  margin-left: 5px;

  & > span {
    margin-right: 5px;
  }
}

.disabledBtn {
  cursor: not-allowed !important;
}

.expandIcon {
  margin-left: 5px;
  transition: 0.5s;
}

.expandIcon.rotateIcon {
  transform: rotate(180deg);

}

.marginBottom {
  margin-bottom: 10px;
}

.heightAuto {
  height: fit-content;
}