@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixin";

.product {
  cursor: pointer;
  position: relative;
  &:hover > .imageWrapper + .seeDetails {
    display: flex;
    transition: all 0.5s ease-in-out;
    align-items: center;
    justify-content: center;
  }
  .imageWrapper {
    margin: 0px 10px;

    + .seeDetails {
      height: 25px;
      background: $primary-font-color;
      @include fontFSWH($primary-font, 13px, 400, 17px);
      color: $white;
      display: none;
      position: absolute;
      width: 100%;

      @media (max-width: $extra-large) {
        @include fontFSWH($primary-font, 11px, 400, 15px);
      }
    }
    .productImageStyle {
      width: 100%;
      height: 200px;
      margin: 10px 0;
      .productImage {
        width: 100%;
        height: 200px;
        object-fit: contain;
      }
    }
  }
  .colorDivWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: $black;
    .colorDiv {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin: 4px;
      border: 2px solid $secondary-font-color;
    }
    .activeColorDiv {
      border: 2px solid $secondary-color;
    }
  }
  .productPriceWrapper {
    margin-top: 13px;
    @include fontFSWH($primary-font, 24px, 400, 22px);
    display: flex;
    justify-content: center;
    @media screen and (max-width: $small) {
      @include fontFSWH($primary-font, 20px, 400, 24px);
    }
    .cutPrice {
      margin-right: 8px;
      @include fontFSWH($primary-font, 16px, 400, 20px);
      @media screen and (max-width: $small) {
        @include fontFSWH($primary-font, 12px, 400, 16px);
      }
      @media (max-width: $extra-large) {
        @include fontFSWH($primary-font, 16px, 400, auto);
      }
      text-decoration: line-through;
      color: $primary-font-color;
    }
    .cutPriceAssociate {
      margin-right: 8px;
      @include fontFSWH($primary-font, 16px, 400, 20px);
      @media screen and (max-width: $small) {
        @include fontFSWH($primary-font, 12px, 400, 16px);
      }
      @media (max-width: $extra-large) {
        @include fontFSWH($primary-font, 16px, 400, auto);
      }
      text-decoration: line-through;
      color: $primary-font-color;
    }
    color: $black;
  }
}
