@import "../../../../assets/styles/_variables.scss";
@import "../../../../assets/styles/mixin";

.mergePatientModalContainer {
  .headingwrapper {
    display: flex;
    justify-content: space-between;

    .headingText {
      @include fontFSWH($secondary-font, 20px, 400, normal);
      font-style: normal;
      color: $tertiary-font-color;
      margin: 0px;

      @media (max-width: $extra-large) {
        @include fontFSWH($secondary-font, 16px, 400, normal);
      }
    }

    .closeIconWrapper {
      text-align: center;
      width: 24px;
      height: 24px;
      cursor: pointer;
    }
  }

  .lineColor {
    border-color: $secondary-font-color;
    margin-top: 11px;
  }

  .modalContent {
    margin-top: 16px;
    max-height: 70vh;
    height: 100%;
    overflow: auto;
    .patientSection {
      border: 1px solid grey;
      margin-bottom: 20px;
      padding: 10px;
      margin-right: 10px;

      .formFields {
        padding: 16px 16px 16px 0px;

        .gridField {
          display: flex;
          flex-direction: column;
          .formLabel {
            color: $tertiary-font-color;
            @include fontFSWH($primary-font, 16px, 400, normal);
            font-style: normal;
            margin-top: 20px;

            @media (max-width: $extra-large) {
              margin-top: 15px;
              @include fontFSWH($primary-font, 13px, 400, normal);
            }
          }
        }
      }
      .patientIdWithBtn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .patientIdText {
          margin-right: 10px;
        }
      }
    }
  }
  .btnContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10px;

    .closeBtn {
      @include tertiary_button;
      cursor: pointer;
    }
  }

  .confirmBtn {
    @include primary_button;
    margin-right: 20px;
  }
  .textInput {
    margin: 0px;

    > div {
      margin-top: 9px;
      margin-bottom: 0px;
      border-radius: 10px;

      @media (max-width: $extra-large) {
        height: 36px;
      }
    }

    input {
      @include fontFSWH($primary-font, 16px, 400, normal);
      text-align: left;
      height: auto;

      @media (max-width: $extra-large) {
        @include fontFSWH($primary-font, 13px, 400, normal);
      }
    }

    fieldset {
      border-radius: 10px;
      border: 1px solid $secondary-font-color;
    }
  }
  .activeBackground {
    background-color: $active-color;
  }
}
