@import "../../../../../../assets/styles/_variables.scss";
@import "../../../../../../assets/styles/_mixin.scss";

.wrapper {
  @include iris_container;
  display: flex;
  justify-content: center;

  .container {
    width: 75%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px 0px;

    @media (max-width: $medium) {
      width: 100%;
    }

    .text {
      @media (max-width: $small) {
        display: none;
      }
    }

    .textMobile {
      display: none;
      @media (max-width: $small) {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 10px;
      }
    }

    .inputsContainer {
      width: 100%;
      display: flex;
      gap: 30px;
      @media (max-width: $small) {
        display: none;
      }
    }

    .inputsContainerMobile {
      display: none;
      @media (max-width: $small) {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 20px;
      }
    }
  }
}
