@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixin";

.settingsDrawer {
  .settingsDrawerLayout {
    .settingMenuHeader {
      display: flex;
      align-items: center;
      border-bottom: 1px solid $primary-font-color;
      width: 100%;
      justify-content: space-between;
      padding: 30px 20px 16px 20px;
      margin-bottom: 10px;
      @media (max-width: $extra-large) {
        margin-bottom: 0px;
      }
      .settingMenuHeading {
        color: $primary-font-color;
        @include fontFSWH($secondary-font, 32px, 400, normal);
        font-style: normal;
        display: flex;
        align-items: center;
        @media (max-width: $extra-large) {
          @include fontFSWH($secondary-font, 24px, 400, normal);
        }
        .settingsIcon {
          margin-right: 10px;
        }
      }
    }
    .settingMenuItem {
      color: $tertiary-font-color;
      @include fontFSWH($primary-font, 16px, 400, normal);
      font-style: normal;
      width: 100%;
      padding: 14px 20px;
      @media (max-width: $extra-large) {
        @include fontFSWH($primary-font, 14px, 400, normal);
      }
    }
    .menuAccordion {
      box-shadow: none;
      margin: 0 !important;
      &:before {
        background-color: transparent;
      }
      .menuAccordionSummary {
        padding: 0px;
        min-height: 48px;
        margin-right: 20px;
        > div:first-child {
          margin: 12px 20px !important;
        }
        .accordionHead {
          color: $tertiary-font-color;
          @include fontFSWH($primary-font, 16px, 400, normal);
          @media (max-width: $extra-large) {
            @include fontFSWH($primary-font, 14px, 400, normal);
          }
        }
      }
      .accordionDetails {
        box-shadow: none;
        padding: 0 20px;
        margin-top: 16px;
        @media (max-width: $extra-large) {
          margin-top: 10px;
        }
        button {
          @include fontFSWH($primary-font, 14px, 400, normal);
          color: $primary-font-color;
          font-style: normal;
          text-transform: capitalize;
          margin: 2px 20px;
          width: 100%;
          justify-content: flex-start;
          text-align: left;
          @media (max-width: $extra-large) {
            @include fontFSWH($primary-font, 12px, 400, normal);
          }
        }
      }
    }
  }
}
