@import "../../../../../../assets/styles/variables";
@import "../../../../../../assets/styles/_mixin.scss";

.container {
  max-width: 991px;
  margin: 0px auto;

  .content {
    padding: 3rem 8rem;
    margin-bottom: 2rem;
    @include iris_container_rx_renewal;
    text-align: center;
    min-height: 350px;
    @media (max-width: $extra-large) {
        padding: 1rem;
        margin: 20px 20px;
    }
    .title {
        color: $secondary-dark-color;
        @include fontFSWH($primary-font, 24px, 700, 28px);
     }
    .description{
        color: $secondary-dark-color;
        @include fontFSWH($primary-font, 16px, 400, 35px);
        @media (max-width: $extra-large) {
          @include fontFSWH($primary-font, 13px, 300, 35px);
        }
    }
    .instructionList{
      margin: 0 auto;
      .numberIndex{
        color: $secondary-dark-color;
        padding-right: 5px;
        @include fontFSWH($primary-font, 16px, 700, 28px);
      }
      .stepText {
        color: $primary-font-color;
        @include fontFSWH($primary-font, 16px, 400, 28px);
      }

       @media (max-width: $extra-large){
          display: flex;
          align-content: center;
          justify-content:center;
          align-items: baseline;
          width: 80%;
      }

      @media (max-width: $small) {
        width: 80%;
      }
    }

  }

  .buttonWrapper {
    
    .primaryButton {
      @include primary_button;
      color: $white;
      text-transform: initial;
      width: 280px;
      border-radius: 12px 12px;
      padding : 5px 10px;
      font-weight: 700;
      font-size: 1rem;
    }
  }
  .note{
    text-align: center;
    color: $primary-font-color;
    @include fontFSWH($primary-font, 16px, 400, 35px);
    @media (max-width: $extra-large) {
      @include fontFSWH($primary-font, 13px, 400, 28px);
    }
    .link{
      color: $secondary-dark-color;
      text-decoration: underline;
    }
  }
}
