@import "../../../../../assets/styles/_variables.scss";
@import "../../../../../assets/styles/_mixin.scss";
.getStartedContainer {
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width: $small) {
    padding: 30px 15px;
  }
  .bannerHeading {
    color: $secondary-color;
    margin: 50px 0 80px 0;
    text-align: center;
    @include fontFSWH($primary-font, 36px, 400, 48px);
    @media (max-width: $extra-large) {
      @include fontFSWH($primary-font, 34px, 400, 46px);
    }
    @media (max-width: $small) {
      margin: 30px 0px;
      padding: 0px 15px;
      @include fontFSWH($primary-font, 24px, 400, 26px);
    }
  }
  .imageContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    @media (max-width: $large) {
      flex-direction: column;
    }
    .imageSection {
      width: 33%;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 200px;
      margin-bottom: 20px;
      @media (max-width: $large) {
        flex-direction: row;
        align-items: flex-start;
        width: 50%;
        gap: 30px;
        margin-bottom: 0px;
      }
      @media (max-width: $small) {
        flex-direction: column;
        width: 100%;
        align-items: center;
      }
      .bannerImage {
        border: none;
        width: 30%;
        height: auto;
        cursor: pointer;
        @media (max-width: $small) {
          width: 20%;
        }
      }
      .imageText {
        margin: 0 auto;
        text-align: center;
        color: $primary-font-color;
        margin: 30px 0px 0px 0px;
        @include fontFSWH($primary-font, 24px, 300, 26px);
        @media (max-width: $large) {
          @include fontFSWH($primary-font, 20px, 300, 24px);
          width: 50%;
          text-align: left;
        }
        @media (max-width: $small) {
          width: 70%;
          text-align: center;
        }
        @media (min-width: $large) {
          max-width: 250px;
        }
      }
    }
  }
  .btnContainer {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
    .visionBtn {
      @include secondary_button;
      width: 250px;
      padding: 10px 14px;
    }
  }
}
