@use "../../../../../assets/styles/mixin" as mi;
@use "../../../../../assets/styles/variables" as vars;

.melFaqContainer {
  .banner-title {
    text-transform: uppercase;
    color: vars.$white;
  }
}

.banner-title {
  width: clamp(10ch, 50vw, 30ch);
}

.main {
  @include mi.article-container;

  .content {
    margin-top: 1rem;

    :is(ol, ul) {
      padding-left: 1.1rem;
    }

    &__article {
      margin-top: 2rem;
    }

    &__question {
      margin-block: 1rem 0;

      font-size: clamp(18px, 3.5vw, 21px);
      font-family: vars.$secondary-font;
    }

    & :is(p, ul, ol, table) {
      margin-top: 0.4rem;
    }

    .table {
      thead {
        background-color: vars.$secondary-color;
        color: vars.$white;
      }

      :is(th, td) {
        text-align: left;
        padding: 0.2rem 0.5rem;
      }
    }
  }

  @include mi.responsive("medium") {
    margin-top: 2rem;

    grid-template-columns: 0.25fr 1fr;
    gap: 1rem;
  }
}
