@import "../../../../../assets/styles/_variables.scss";
@import "../../../../../assets/styles/_mixin.scss";

.loginContainer {
  width: 33%;
  @media (max-width: 1024px) {
    width: 100%;
  }
  .loginBox {
    margin: 34px 0;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 1px solid var(--tertiary-border-color);
    border-radius: 8px;
    min-height: 500px;
    background-color: var(--primary-bg-color);
    .loginHead {
      @include fontFSWH($secondary-font, 24px, 400, 33px);
      letter-spacing: 0em;
      text-align: left;
      color: var(--primary-text-color);
      margin-bottom: 20px;
    }
    .loginMessageContainer {
      margin: 0 auto;
      .loginMessage {
        margin-top: 20px;
        @include fontFSWH($primary-font, 20px, 400, 24px);
        letter-spacing: 0em;
        text-align: center;
        color: var(--primary-text-color);
        width: 250px;
      }
    }
    .formFields {
      margin-top: 20px;
      .logInBtn {
        margin: 16px 0;
        background-color: $secondary-color;
        color: $white;
      }
      .loginBottomContainer {
        margin-bottom: 20px;
        text-align: center;
        .loginFormLink {
          cursor: pointer;
          color: var(--quaternary-text-color);
          text-decoration-color: var(--quaternary-text-color);
          text-decoration: underline;
          &:focus {
            color: $primary-color;
            outline: none;
          }
        }
      }
      .belowContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 10px;
        .newToText {
          color: $primary-font-color;
          @include fontFSWH($primary-font, 24px, 500, 26px);
          @media (max-width: $extra-large) {
            @include fontFSWH($primary-font, 22px, 500, 24px);
          }
        }
        .createAccountLink {
          cursor: pointer;
          margin-top: 10px;
          color: $secondary-color;
        }
      }
    }
  }
}
.dropDownFormStyle {
  width: 100%;
  .loginBox {
    margin: 0;
    border: none;
    min-height: auto;
    padding: 10px 20px;
    width: 400px;
    .loginHead {
      @include fontFSWH($secondary-font, 15px, 400, 18px);
      letter-spacing: 0em;
      text-align: left;
      color: var(--quaternary-text-color);
      margin: 0;
    }
    .formFields {
      margin-top: 15px;
    }
  }
}
.sideBarFormStyle {
  width: 100%;
  .loginBox {
    margin: 0;
    border: none;
    min-height: auto;
    padding: 10px 20px;
    .loginHead {
      @include fontFSWH($secondary-font, 15px, 400, 18px);
      letter-spacing: 0em;
      text-align: left;
      color: var(--quaternary-text-color);
      margin: 0;
    }
    .formFields {
      margin-top: 15px;
    }
  }
}

.textInput {
  input {
    @include fontFSWH($primary-font, 15px, 400, 18px);
    letter-spacing: 0em;
    text-align: left;
    height: auto;
    @media (max-width: $small) {
      @include fontFSWH($primary-font, 16px, 400, 20px);
    }
  }
  label {
    color: var(--secondary-text-color);
    @include fontFSWH($primary-font, 15px, 400, 18px);
    letter-spacing: 0em;
    text-align: left;
    @media (max-width: $small) {
      @include fontFSWH($primary-font, 16px, 400, 20px);
    }
  }
  fieldset {
    border-radius: 10px;
    border: 1px solid var(--secondary-border-color);
  }
}
.apiErrorMessage {
  @include fontFSWH($primary-font, 15px, 400, 18px);
  color: $red;
}
