@import "../../../../assets/styles/mixin";
@import "../../../../assets/styles/fonts";
@import "../../../../assets/styles/variables";

.stepContainer {
  width: 100%;
}

.stepHeader {
  @include flex(center, space-between, row);
  margin-bottom: 15px;

  &>h1 {
    @include fontFSWH($primary-font, 20px, 400, 24px);

    @media (max-width: $extra-large) {
      @include fontFSWH($primary-font, 16px, 400, 20px);
    }
  }
}

.layoutControls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;

  &>p {
    margin: auto 0;
    text-align: right;
    @include fontFSWH($primary-font, 16px, 400, 20px);

    @media (max-width: $extra-large) {
      @include fontFSWH($primary-font, 13px, 400, 16px);
    }
  }

  &>div {
    height: 28px;
    padding-right: 4px;
    border-radius: 3px;
    border: 0.5px solid $secondary-font-color;
    display: flex;
    align-items: center;

    @media (max-width: $extra-large) {
      @include fontFSWH($primary-font, 13px, 400, 16px);
    }

    &>div:first-child {
      margin-left: 5px;

      @media (max-width: $extra-large) {
        @include fontFSWH($primary-font, 13px, 400, 16px);
      }
    }
  }

  & span {
    @include fontFSWH($primary-font, 16px, 400, 19px);

    @media (max-width: $extra-large) {
      @include fontFSWH($primary-font, 13px, 400, 16px);
    }
  }
}

.layoutBars {
  display: flex;
  align-items: center;
  margin: 0 5px;

  &>div {
    width: 6px;
    height: 16px;
    border-radius: 1px;
    border: 1px solid $secondary-font-color;
    margin: 0 1px;
  }
}

.stepContent {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}

.oneColumn {
  grid-template-columns: 1fr;
}

.twoColumn {
  grid-template-columns: repeat(2, 1fr);
}

.threeColumn {
  grid-template-columns: repeat(3, 1fr);
}

.addQuestionBtnContainer {
  display: grid;
  place-items: center;
  border: 1px solid $primary-light-color;
  border-radius: 5px;
  min-height: 350px;
  padding: 16px;
}

.addQuestionBtn {
  @include flex(center, center, column);
  padding: 10px 20px;
  cursor: pointer;
  & > p {
    margin-top: 5px;
    @include fontFSWH($primary-font, 20px, 400, 19px);
  }
}

.disabledBtn {
  cursor: not-allowed !important;
}