@import "../../../../../assets/styles/_mixin.scss";

.authOuterWrapper {
  background-color: var(--quaternary-bg-color);
  .authContainer {
    @include iris_container;
    display: flex;
    justify-content: center;
  }
}
