@import "../../../../assets/styles/_variables.scss";
@import "../../../../assets/styles/mixin";

.head {
  font-weight: bold;
  color: red;
}

.sideDrawer {
  display: none;

  @media (max-width: $large) {
    display: block;
  }
}

.drawerWrapper {
  text-align: center;

  .btnText {
    @include fontFSWH($primary-font, 14px, 400, 18px);
    color: $primary-font-color;
  }

  .drawerHeader {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    align-items: center;
    height: 48px;

    .mobileMenu {
      display: flex;
      align-items: center;

      >button {
        margin-right: 9px;
      }
    }

    .mobileCart {
      display: none;

      @media (max-width: 768px) {
        display: flex;
      }
    }

    .tabSettingsBtn {
      display: none;
      border-radius: 10px;
      padding: 0;
      min-width: 40px;
      padding: 10px 0;

      @media (max-width: $large) {
        display: flex;
      }
    }

    +ul {
      margin: 0 35px 0 65px;

      @media (max-width: $small) {
        margin: 0;
      }

      .accoridionMenu {
        margin: 0;

        .accoridionSummary {
          >div:first-child {
            margin: 12px 0;
          }
        }
      }

      >.drawerBtnWrapper>li {
        flex-direction: column;
        align-items: flex-start;

        >div {
          padding: 0;
          margin: 8px 0;

          @media (max-width: $large) {
            color: $primary-font-color;
            width: 100%;

            a {
              text-decoration: none;
            }
          }

          @media (max-width: $small) {
            padding: 0 20px;
          }
        }

        span {
          @include fontFSWH($primary-font, 14px, 400, 18px);
          text-align: left;
          color: $primary-font-color;

          @media (max-width: $small) {
            @include fontFSWH($primary-font, 13px, 400, 17px);
          }
        }

        hr {
          border: 1px solid #d9d9d9;
        }
      }

      .mobileLanguageButton {
        display: none;

        @media (max-width: $small) {
          display: block;
        }

        >li {
          padding: 5px 0px;
        }
      }

      >div {
        &::before {
          display: none;
        }

        >div:first-child {
          padding: 0;
          border-bottom: 1px solid #d9d9d9;
          min-height: auto !important;

          @media (max-width: $small) {
            padding: 0 20px;
          }
        }

        p {
          @include fontFSWH($primary-font, 14px, 400, 18px);
          text-align: left;
          color: $primary-font-color;

          @media (max-width: $small) {
            @include fontFSWH($primary-font, 13px, 400, 17px);
          }
        }

        .mobileMenuLink {
          text-decoration: none;
        }

        .mobileSubMenu {
          @include fontFSWH($primary-font, 14px, 400, 17px);
          letter-spacing: 0em;
          text-align: left;
          color: $secondary-font-color;
          text-transform: capitalize;
          padding: 10px 25px;

          &:hover {
            color: $primary-font-color;
          }
        }
      }
    }
  }

  .bookingBtn {
    @include primary_button;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    padding: 9px 12px;
    margin-top: 40px;
  }

  .needHelp {
    font-family: $primary-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: $primary-font-color;
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
  }
}

.navEndIcon {
  margin: 0;
  pointer-events: none;
}

.nav {
  display: flex;
  margin-top: 50px;

  .navBar {
    background-color: var(--primary-bg-color);
    border-bottom: 1px solid var(--primary-border-color);
    box-shadow: none;

    &__favorite_button {
      position: relative;
      display: flex;

      small {
        position: absolute;
        top: 5px;
        left: 0px;

        width: 20px;
        height: 20px;
        display: grid;
        place-items: center;
        
        background-color: $primary-color;
        border-radius: 100vmax;
        color: $white;
        pointer-events: none;
      }
    }

    .navToolBar {
      min-height: 48px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0;

      .menuIcon {
        display: none;

        @media (max-width: $large) {
          display: block;
        }
      }

      .mobileLogo {
        display: none;

        @media (max-width: 768px) {
          display: block;
        }
      }

      .closeMessage {
        display: block;

        @media (max-width: $medium) {
          display: none;
        }
      }

      .cdcSwitch {
        padding: 8px 0px 8px 4px;

        span {
          @include fontFSWH($primary-font, 16px, 400, 20px);

          @media screen and (max-width: $extra-large) {
            @include fontFSWH($primary-font, 12px, 400, 15px);
          }

          @media screen and (max-width: $medium) {
            @include fontFSWH($primary-font, 11px, 400, 13px);
          }
        }
      }

      .navHead {
        display: flex;
        align-items: center;
        text-align: left;
        @include fontFSWH($primary-font, 16px, 400, 15px);

        @media screen and (max-width: $extra-large) {
          @include fontFSWH($primary-font, 12px, 400, 15px);
        }

        @media screen and (max-width: $medium) {
          @include fontFSWH($primary-font, 11px, 400, 13px);
        }

        @media screen and (max-width: $small) {
          align-items: center;
        }

        color: $secondary-font-color;

        .closed {
          padding-left: 10px;
          padding-top: 0px;
          border-left: 1px solid $secondary-font-color;
          border-radius: 0;
          padding-right: 10px;

          @media screen and (max-width: $small) {
            padding-top: 0px;
            padding-right: 5px;
            padding-left: 5px;
          }
        }

        .store {
          display: flex;

          @media (max-width: 768px) {
            display: none;
          }
        }

        .mobStore {
          display: none;

          @media (max-width: 768px) {
            display: flex;
            width: 60px;
            justify-content: space-between;
          }
        }

        .navHeadTitle {
          color: $tertiary-font-color;
          text-transform: none;

          @include fontFSWH($primary-font, 16px, 400, 19px);

          @media screen and (max-width: $extra-large) {
            @include fontFSWH($primary-font, 12px, 400, 15px);
          }

          @media screen and (max-width: $medium) {
            @include fontFSWH($primary-font, 11px, 400, 13px);
          }

          @media screen and (max-width: $small) {
            min-width: auto;
          }

          .storeDetails {
            @media screen and (max-width: $small) {
              display: none;
            }
          }

          .mobileStoreDetails {
            display: none;

            @media screen and (max-width: $small) {
              display: flex;
            }
          }
        }

        .navStoreForAssociate {
          @include fontFSWH($primary-font, 16px, 400, 19px);
          width: 80px;
          display: flex;
          justify-content: space-between;
          border: none !important;
        }
      }

      .navItems {
        display: flex;
        align-items: center;

        .navItemBtn {
          @media (max-width: $large) {
            display: none;
          }

          &:is(:hover, :focus-visible) {
            button[disabled] {
              color: $primary-color;
            }
          }
        }

        .navBadge {
          cursor: pointer;
          margin-right: 15px;
        }

        .navList {
          list-style: none;

          &--login {
            position: relative;
          }

          :is(.dropdown, .dropdown--login) {
            position: absolute;
            top: 35px;

            background-color: $white;
            list-style: none;
            padding: 5px 10px;
            box-shadow:
              rgba(0, 0, 0, 0.2) 0px 5px 5px -3px,
              rgba(0, 0, 0, 0.14) 0px 8px 10px 1px,
              rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;

            opacity: 0;
            visibility: hidden;
            scale: 0;

            transition: all 0.2s ease;
          }

          li ul.dropdown {
            li {
              position: relative;

              &:is(:hover, :focus-visible) {
                background-color: rgba(0, 0, 0, 0.04);

                a {
                  color: var(--primary-color);
                }
              }

              &::after {
                display: block;
                content: "";
                width: 100%;
                height: 2px;
                margin-inline: auto;
                background-color: var(--primary-light-color);
              }

              &:last-of-type::after {
                display: none;
              }

              a {
                display: block;
                width: 100%;

                color: var(--secondary-light-color);
                padding: 5px;
                font-size: 15px;
              }
            }
          }

          li ul.dropdown--login {
            right: 0;
            top: 20px;
          }

          li:is(:hover, :focus-visible) ul.dropdown,
          li:is(:hover, :focus-visible) ul.dropdown--login,
          // With the next line, when the user is not logged in and an element inside the popup is focused, dropdown will keep open
          li:is(:hover, :focus-visible, :focus-within) ul.dropdown--login.no-session {
            opacity: 1;
            visibility: visible;
            scale: 1;
          }
        }

        .navLink {
          @include fontFSWH($primary-font, 14px, 400, 18px);
          color: $tertiary-font-color;
          text-align: left;
          text-transform: none;
          padding: 0;
          margin-right: 15px;
          margin-top: 2px;
          background-color: none !important;

          &:is(:hover, :focus-visible) {
            color: $primary-color;
            background-color: none !important;
          }

          .navEndIcon {
            margin: 0;
            pointer-events: none;
          }

          @media (max-width: $extra-large) {
            margin-right: 7.5px;
            @include fontFSWH($primary-font, 12px, 400, 15px);
          }
        }

        .cartBtn {
          background: $grey;
          border-radius: 10px;

          .cartCounter {
            @include fontFSWH($primary-font, 12px, 400, 16px);
            text-align: left;
            background-color: $primary-color;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            align-items: center;
            display: flex;
            justify-content: center;
            color: $tertiary-font-color;
            margin-left: 6px;
          }
        }

        .reportBtn {
          min-width: 40px;
        }

        .settingsBtn {
          font-family: $primary-font;
          border-radius: 10px;
          padding: 0;
          min-width: 40px;
          padding: 10px 0;

          >div {
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;
            color: $tertiary-font-color;
            text-transform: capitalize;
            margin-left: 4px;
          }
        }

        .menuList {
          display: none;
          position: absolute;
          color: var(--primary-text-color);
          background-color: var(--primary-bg-color);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
          padding: 10px;

          font-family: $primary-font;
          font-size: 14px;
          font-weight: 400;
          line-height: 17px;
          letter-spacing: 0em;
          text-align: left;
          color: $primary-font-color;
        }

        .navLink:hover~.menuList,
        .menuList:hover {
          display: block;
          animation: 0.3s ease-in;
          transform-origin: left top;
          transform: scale(1);
        }

        .languageButton {
          @media (max-width: $small) {
            display: none;
          }
        }
      }

      .mobileMenu {
        display: none;

        @media (max-width: $large) {
          display: flex;
          align-items: center;
          flex: 1;
        }

        >button {
          @media (max-width: 768px) {
            padding: 0 15px;
            margin-right: 9px;
          }
        }

        a {
          @media (max-width: $large) {
            display: flex;
          }
        }
      }

      .mobileCart {
        display: none;

        .cartBtn {
          background: $grey;
          border-radius: 10px;

          .cartCounter {
            @include fontFSWH($primary-font, 12px, 400, 16px);
            text-align: left;
            background-color: $primary-color;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            align-items: center;
            display: flex;
            justify-content: center;
            color: $tertiary-font-color;
            margin-left: 6px;
          }
        }

        @media (max-width: $large) {
          display: flex;
          padding-right: 5px;
        }

        @media (max-width: $small) {
          padding-right: 0;
        }

        .viewDetails {
          font-family: $primary-font;
          font-size: 8px;
          font-weight: 400;
          line-height: 10px;
          letter-spacing: 0em;
          color: var(--secondary-text-color);
          text-align: left;
          margin-top: auto;
          margin-right: 17px;
        }
      }

      .tabNotificationBtn {
        display: none;
        cursor: pointer;
        padding: 0 10px;

        @media (max-width: $large) {
          display: flex;
        }
      }

      .tabSettingsBtn {
        display: none;
        border-radius: 10px;
        padding: 0;
        min-width: 40px;
        padding: 10px 0;

        @media (max-width: $large) {
          display: flex;
        }
      }

      .userProfile {
        display: flex;
        align-items: center;
        text-align: center;

        button {
          padding: 0 10px;
          min-width: auto;
        }

        .userName {
          color: $tertiary-font-color;
          @include fontFSWH($primary-font, 14px, 400, 18px);
          letter-spacing: 0em;
          text-align: left;
          text-transform: capitalize;
          padding: 0;
          margin-left: 5px;
        }
      }
    }
  }
}

.navBarWrapper {
  @include iris_container;
  display: flex;
  justify-content: center;
}

.myAccountWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 300px;
  width: 100%;

  @media (max-width: $extra-large) {
    min-width: 260px;
  }

  .menuHeading {
    color: $tertiary-font-color;
    font-weight: 500;
    padding: 10px 25px;
    text-transform: none;
  }

  .logoutButton {
    @include fontFSWH($primary-font, 14px, 400, 18px);
    letter-spacing: 0em;
    text-align: left;
    color: $primary-font-color;
    text-transform: none;
    padding: 10px 25px;
    width: 100%;
    text-align: left;
    justify-content: flex-start;

    a {
      @include fontFSWH($primary-font, 14px, 400, 18px);
      letter-spacing: 0em;
      text-align: left;
      color: $secondary-font-color;
      text-transform: none;
      text-decoration: none;

      &:hover {
        background: transparent;
        color: $primary-font-color;
      }
    }

    &:hover {
      color: $primary-font-color;

      @media (max-width: $large) {
        background: transparent;
      }
    }

    @media (max-width: $extra-large) {
      @include fontFSWH($primary-font, 13px, 400, 17px);
    }
  }

  .myAccLink {
    width: 100%;

    &:hover {
      background: rgba(0, 0, 0, 0.04);
    }
  }
}

.menuWrapper {
  .menuBtn {
    padding: 0;

    a,
    button {
      width: 100%;
      @include fontFSWH($primary-font, 15px, 400, 19px);
      letter-spacing: 0em;
      text-align: left;
      color: $secondary-light-color;
      text-transform: none;
      margin: 0px 10px;
      pointer-events: all;
      list-style: none;
      text-decoration: none;

      &:hover {
        background: transparent !important;
        color: $primary-color;
      }

      @media (max-width: $extra-large) {
        @include fontFSWH($primary-font, 13px, 400, 17px);
      }
    }

    .menuLinkBorder {
      padding: 5px;
      border-bottom: 2px solid $primary-light-color;
    }

    .menuLinkRemoveBorder {
      padding: 5px 5px 2px 5px;
      border-bottom: none;
    }

    button {
      justify-content: flex-start;
      text-align: left;
    }
  }
}

.menuBtnChild {
  @include fontFSWH($primary-font, 14px, 400, 17px);
  letter-spacing: 0em;
  text-align: left;
  color: $secondary-font-color;
  text-transform: none;
  padding: 0;

  &:hover {
    background: transparent;
    color: $primary-font-color;
  }

  @media (max-width: $extra-large) {
    @include fontFSWH($primary-font, 12px, 400, 15px);
  }
}

.accountMenu {
  .wcName {
    color: $tertiary-font-color;
    @include fontFSWH($primary-font, 16px, bold, 19px);
    opacity: 1;
    padding: 10px 25px;
  }

  .accLogOut {
    @include fontFSWH($primary-font, 14px, 400, 17px);
    letter-spacing: 0em;
    text-align: left;
    color: $secondary-font-color;
    text-transform: capitalize;
    padding: 10px 25px;

    &:hover {
      background: transparent;
      color: $primary-font-color;
    }
  }
}

.notificationsPopover {
  max-width: 400px !important;
  width: 100% !important;

  .notificationsWrapper {
    width: 100%;

    .notificationsHeader {
      padding: 20px 20px;

      .notificationsTitle {
        @include fontFSWH($primary-font, 22px, 400, 17px);

        @media screen and (max-width: $extra-large) {
          @include fontFSWH($primary-font, 20px, 400, 15px);
        }
      }
    }

    .notificationsBody {
      display: flex;
      max-height: 400px;
      overflow-y: auto;
      flex-direction: column;

      .notificationItem {
        &>div {
          padding: 10px 20px;
          cursor: pointer;
          border-bottom: 1px solid $primary-light-color;
        }

        &>div:hover {
          background: $bg-color;

          .crossIcon {
            display: block;
          }
        }

        .notificationItemContent {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 20px;

          .cartContainer {
            background-color: $primary-light-color;
          }

          &>div:nth-child(2) {
            width: 100%;
          }
        }

        .notificationTitle {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .crossIcon {
            display: none;
          }

          .notificationTitleText {
            @include fontFSWH($primary-font, 20px, 400, 17px);

            @media screen and (max-width: $extra-large) {
              @include fontFSWH($primary-font, 16px, 400, 15px);
            }
          }
        }

        .notificationContent {
          .notificationContentText {
            margin: 5px 0px;
            @include fontFSWH($primary-font, 16px, 400, 17px);

            @media screen and (max-width: $extra-large) {
              @include fontFSWH($primary-font, 13px, 400, 15px);
            }
          }
        }

        .notificationTime {
          @include fontFSWH($primary-font, 12px, 400, 15px);
          color: $secondary-font-color;
        }
      }
    }
  }
}
